{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content ps-0 pe-0">

    <!-- Conteúdo -------------------------------->

        <div class="paineis-bi">

        </div>


        <iframe title="Operações Liquidadas" width="100%" height="99%"
            src="https://app.powerbi.com/view?r=eyJrIjoiNTExMzhhODQtNTA4ZS00OGFhLWI4YWItZWYwYjAxNjYwOTZmIiwidCI6ImVkY2M4NTk2LWJjNWUtNDgxNC1hZjMwLThkZDk5ODFhYTQxMiJ9"
            frameborder="0" allowFullScreen="true">
        </iframe>

    <!-- Conteúdo -------------------------------->

</div>

{% endblock %}