{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <div class="row mt-2">

        <!-- Menu -------------------------------->
        <div class="col-12 menu-request">
            <div class="col">
                <h1 style="color:#27DEBF; font-family:oswald; font-size:80px;" class="p-2 ">NOTEBOOK</h1>
            </div>

        <div style="text-align: center;" class="row mt-5">

            <div class="col-2 mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Modelo</h5></li>
                    <li class="list-group-item">DELL</li>
                    <li class="list-group-item">acer</li>
                    <li class="list-group-item">ASUS</li>
                    <li class="list-group-item">samsung</li>
                </ul>
            </div>

             <div class="col-2 mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Marca</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

            <div class="col-2 mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Usuário</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Unidade/setor</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Processador</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Memoria Ram</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Armazenamento</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Imobilizado</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Service tag</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Chave Win</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Chave Office</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

             <div class="col mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Anti-Vírus</h5></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

        </div>

    </div>
    <!-- Menu end ---------------------------->
</div>
</div>


{% endblock %}