{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container" style="margin-top:75px">

    <!-- Conteúdo -------------------------------->
    <div class="row">

        <!-- Menu -------------------------------->
        <div id="menu_inicial" class="col-3 menu-request">

            <div class="">

                <h5 class="text-center p-1">PERFORMACE CORPORATIVA</h5>

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_1" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-key"></i>
                            Serviços
                        </a>
                    </li>

                </ul>

            </div>

            <div class="">

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-lista-novo mt-5">
                        <a href="{% url 'controladoria_home' %}" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-arrow-left"></i>
                            Voltar
                        </a>
                    </li>

                </ul>

            </div>

        </div>
        <!-- Menu -------------------------------->


        <!-- Informativo ------------------------->
        <div id="informativo" class="col menu-request m-0 p-5">
            <h6>Orientações para abertura de chamado - 4155. Performace Corporativa</h6>
            <p>
                Pontos a serem observados durante a abertura de chamado:
                - Detalhar bem a sua solicitação.
                - Se possuir evidências anexar no chamado.

                Horário de Atendimento
                - Segunda-feira a sexta-feira das 08:30hs às 17:30hs
            </p>

            <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Power BI
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Criação de painel</li>
                                <li>Ajuste</li>
                                <li>Erros</li>
                                <li>Sugestões</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Restante dos itens com as classes modificadas -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTow">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTow" aria-expanded="false"
                                aria-controls="flush-collapseTow">
                            Lista de Propensos
                        </button>
                    </h2>
                    <div id="flush-collapseTow" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTow" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Criação Lista de Propensos</li>
                                <li>Ajuste</li>
                                <li>Erros</li>
                                <li>Sugetões</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Adicione classes similares aos outros itens -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTree" aria-expanded="false"
                                aria-controls="flush-collapseTree">
                            Relatórios
                        </button>
                    </h2>
                    <div id="flush-collapseTree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Criação de Relatórios</li>
                                <li>Ajuste</li>
                                <li>Erros</li>
                                <li>Sugestões</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Informativo ------------------------->


        <!-- Formulário de Power BI -------------------------->
        <div id="formulario1" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">Formulario Power BI</h5>

            <form action="#"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <!-- primeira col -------------------------->
                    <div class="col-7">

                        <!-- Alterar para o setor que a solicitações esta sendo aberta -->
                        <input type="hidden" name="ambiente" value="Performace Corporativa">

                        <div class="">
                            <label class="required-label">Assunto:</label>
                            {{ power.assunto }}
                        </div>

                        <div class="">
                            <label class="required-label">Serviço:</label>
                            {{ power.service }}
                        </div>

                        <div class="mt-2">
                            <label class="">Descrição:</label>
                            {{ power.descricao }}
                        </div>

                        <div class="mt-2">
                            <label class="">Anexar arquivo:</label>
                            {{ power.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                    <!-- primeira col -------------------------->

                </div>
            </form>
            <!-- CheckBox list -------------------------->

        </div>
        <!-- Formulário de Power BI -------------------------->

    </div>
    <!-- Formulário de Acessos -------------------------->


</div>
<!-- Conteúdo -------------------------------->


{% endblock %}
