{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content ps-0 pe-0">

    <!-- Conteúdo -------------------------------->

        <iframe title="Processos Seletivos - Avaliações" width="100%" height="99%"
            src="https://app.powerbi.com/reportEmbed?reportId=d9363489-0686-409a-87ee-e51855b09f62&autoAuth=true&ctid=edcc8596-bc5e-4814-af30-8dd9981aa412"
            frameborder="0" allowFullScreen="true">
        </iframe>

    <!-- Conteúdo -------------------------------->

</div>

{% endblock %}