{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container" style="margin-top:75px">

    <!-- Conteúdo -------------------------------->
    <div class="row">

        <!-- Menu -------------------------------->
        <div id="menu_inicial" class="col-3 menu-request">

            <!-- Botões -------------------------->
            <div class="">

                <h5 class="text-center p-1">PERFORMACE CORPORATIVA</h5>

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_1" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-chart-line"></i>
                            Painéis
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_2" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-diagram-project"></i>
                            Lista de Propensos
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_3" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-square-poll-vertical"></i>
                            Relatórios
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_4" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Pesquisas/Estudos
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_5" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-file-pen"></i>
                            Solicitações CI/CNAC/R.O
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_6" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-scale-unbalanced-flip"></i>
                            Apontamentos
                        </a>
                    </li>

                </ul>

            </div>
            <!-- Botões -------------------------->

            <!-- Voltar -------------------------->
            <div class="">

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-lista-novo mt-5">
                        <a href="{% url 'controladoria_home' %}" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-arrow-left"></i>
                            Voltar
                        </a>
                    </li>

                </ul>

            </div>
            <!-- Voltar -------------------------->

        </div>
        <!-- Menu -------------------------------->

        <!-- Informativo ------------------------->
        <div id="informativo" class="col menu-request m-0 p-5">

            <!-- Texto ------------------------->
            <div class="">
                <h6>Orientações para abertura de chamado - 4155. Performace Corporativa</h6>
                <p>
                    Pontos a serem observados durante a abertura de chamado:
                    - Detalhar bem a sua solicitação.
                    - Se possuir evidências anexar no chamado.

                    Horário de Atendimento
                    - Segunda-feira a sexta-feira das 08:30hs às 17:30hs
                </p>
            </div>
            <!-- Texto ------------------------->

            <!-- Acordeões ----------------------->
            <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Power BI
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Criação de painel</li>
                                <li>Ajuste</li>
                                <li>Erros</li>
                                <li>Sugestões</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Restante dos itens com as classes modificadas -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTow">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTow" aria-expanded="false"
                                aria-controls="flush-collapseTow">
                            Lista de Propensos
                        </button>
                    </h2>
                    <div id="flush-collapseTow" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTow" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Criação Lista de Propensos</li>
                                <li>Ajuste</li>
                                <li>Erros</li>
                                <li>Sugetões</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Adicione classes similares aos outros itens -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTree" aria-expanded="false"
                                aria-controls="flush-collapseTree">
                            Relatórios
                        </button>
                    </h2>
                    <div id="flush-collapseTree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Criação de Relatórios</li>
                                <li>Ajuste</li>
                                <li>Erros</li>
                                <li>Sugestões</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            Pesquisa/Estudos
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Estudo de Viabilidade de Região</li>
                                <li>Estudo de Rentabilidade de Produto ou Serviço</li>
                                <li>Pesquisa de Mercado</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Acordeões ----------------------->

        </div>
        <!-- Informativo ------------------------->

        <!-- Formulário de Power BI -------------->
        <div id="formulario1" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO PAINÉIS</h5>

            <form action="{% url 'request_power_PC' %}"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <div class="col-7">

                        <div class="">
                            <label class="required-label">Serviço:</label>
                            {{ power.service }}
                        </div>

                        <div class="mt-2">
                            <label>Descrição:</label>
                            {{ power.descricao }}
                        </div>

                        <div class="mt-2">
                            <label>Anexar arquivo:</label>
                            {{ power.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                </div>
            </form>
        </div>
        <!-- Formulário de Power BI -------------->

        <!-- Formulário de Lista Propenso -------->
        <div id="formulario2" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO LISTA DE PROPENSOS</h5>

            <form action="{% url 'request_propenso_PC' %}"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <div class="col-7">

                        <div class="">
                            <label class="required-label">Produtos:</label>
                            {{ propenso.service }}
                        </div>

                        <div class="mt-2">
                            <label>Descrição:</label>
                            {{ propenso.descricao }}
                        </div>

                        <div class="mt-2">
                            <label>Anexar arquivo:</label>
                            {{ propenso.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                </div>
            </form>

        </div>
        <!-- Formulário de Lista Propenso -------->

        <!-- Formulário de Relatório ------------->
        <div id="formulario3" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO RELATÓRIOS</h5>

            <form action="{% url 'request_relatorio_PC' %}"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <div class="col-7">

                        <div class="">
                            <label class="required-label">Serviço:</label>
                            {{ relatorio.service }}
                        </div>

                        <div class="mt-2">
                            <label >Descrição:</label>
                            {{ relatorio.descricao }}
                        </div>

                        <div class="mt-2">
                            <label >Anexar arquivo:</label>
                            {{ relatorio.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                </div>
            </form>
        </div>
        <!-- Formulário de Relatório ------------->

        <!-- Formulário de Pesquisa/Estudos ------>
        <div id="formulario4" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO PESQUISA/ESTUDOS</h5>

            <form action="{% url 'request_estudo_PC' %}"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <div class="col-7">

                        <div class="">
                            <label class="required-label">Serviço:</label>
                            {{ estudo.service }}
                        </div>

                        <div class="mt-2">
                            <label>Descrição:</label>
                            {{ estudo.descricao }}
                        </div>

                        <div class="mt-2">
                            <label>Anexar arquivo:</label>
                            {{ estudo.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                </div>

            </form>
        </div>
        <!-- Formulário de Pesquisa/Estudos ------>

        <!-- Formulário de CI -------------------->
        <div id="formulario5" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO DE SOLICITAÇÕES CI/CNAC/R.O</h5>

            <div class="row p-3 ">

                <div class="col-7">

                    <form action="{% url 'request_ci_pc' %}"
                          method="POST"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="mb-2">
                            <label class="required-label">Assunto:</label>
                            <input class="input-new" type="text" id="assunto-input" name="assunto-input" required>
                        </div>

                        <div class="mb-2">
                            <label class="required-label">Demandante:</label>
                            {{ ci.service }}
                        </div>

                        <div class="mb-3">
                            <label>Descrição:</label><br>
                            {{ ci.descricao }}
                        </div>

                        <div class="">
                            <label>Anexar arquivo:</label>
                            {{ ci.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </form>

                </div>
            </div>
        </div>
        <!-- Formulário de CI -------------------->

        <!-- Formulário de Apontamentos ---------->
        <div id="formulario6" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO DE APONTAMENOS</h5>

            <form action="{% url 'request_apontamentos_pc' %}"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}
                <div class="row p-3 ">

                    <div class="col-7">

                        <div class="mb-2">
                            <label class="required-label">Assunto:</label>
                            <input class="input-new" type="text" id="input" name="input" required>
                        </div>

                        <div class="mb-2">
                            <label class="required-label">Demandante:</label>
                            {{ apontamentos.service }}
                        </div>

                        <div class="mb-3">
                            <label>Descrição:</label><br>
                            {{ apontamentos.descricao }}
                        </div>

                        <div>
                            <label>Anexar arquivo:</label>
                            {{ apontamentos.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">
                    </div>

                    <div class="col">

                        <p>Reincidente:</p>

                        <div class="form-check form-switch">
                            <input class="form-check-input" name="reincidente" id="reincidente" value="Sim"
                                   type="checkbox">
                            <label class="form-check-label">Sim?</label>
                        </div>


                        <p class="required-label">Reagendamentos:</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reagendamento1" id="reagendamento1"
                                   value="0">
                            <label class="form-check-label">
                                0
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reagendamento2" id="reagendamento2"
                                   value="1">
                            <label class="form-check-label">
                                1
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reagendamento3" id="reagendamento3"
                                   value=2>
                            <label class="form-check-label">
                                2
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reagendamento4" id="reagendamento4"
                                   value="3">
                            <label class="form-check-label">
                                3
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reagendamento5" id="reagendamento5"
                                   value="4">
                            <label class="form-check-label">
                                4
                            </label>
                        </div>

                    </div>
                </div>
            </form>

        </div>
        <!-- Formulário de Apontamentos ---------->

    </div>

</div>
<!-- Conteúdo -------------------------------->


{% endblock %}
