{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container" style="margin-top:75px">

    <!-- Conteúdo -------------------------------->
    <div class="row">

        <!-- Menu -------------------------------->
        <div id="menu_inicial" class="col-3 menu-request">

            <div class="">

                <h5 class="text-center p-1">Gestão de Recurosos</h5>

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_1" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-comment"></i>
                            A Designar
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_2" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-desktop"></i>
                            A Designar
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_3" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-pen-nib"></i>
                            A Designar
                        </a>
                    </li>

                </ul>

            </div>

            <div class="">

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-lista-novo mt-5">
                        <a href="{% url 'marketing_home' %}" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-arrow-left"></i>
                            Voltar
                        </a>
                    </li>

                </ul>

            </div>

        </div>
        <!-- Menu -------------------------------->

        <!-- Informativo ------------------------->
        <div id="informativo" class="col menu-request m-0 p-5">
            <h6>Orientações para abertura de chamado - 4155. Gestão de Recursos</h6>
            <p>
                Pontos a serem observados durante a abertura de chamado:
                - Detalhar bem a sua solicitação.
                - Se possuir evidências anexar no chamado.

                Horário de Atendimento
                - Segunda-feira a sexta-feira das 08:30hs às 17:30hs
            </p>

            <div class="accordion accordion-flush mt-4" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="true"
                                aria-controls="flush-collapseOne">
                            A Designar
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>A Designar</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Informativo ------------------------->

        <!-- Formulário de Acessoria -------------------------->
        <div id="formulario1" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">A Designar</h5>

            <form action="#"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <!-- primeira col -------------------------->
                    <div class="col-7">

                        <!-- Alterar para o setor que a solicitações esta sendo aberta -->
                        <input type="hidden" name="ambiente" value="Marketing">

                        <div class="">
                            <label class="required-label">Assunto:</label>
                            {{ acessoria.assunto }}
                        </div>

                        <div class="">
                            <label class="required-label">Serviço:</label>
                            {{ acessoria.service }}
                        </div>

                        <div class="mt-2">
                            <label class="">Descrição:</label>
                            {{ acessoria.descricao }}
                        </div>

                        <div class="mt-2">
                            <label class="">Anexar arquivo:</label>
                            {{ acessoria.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                    <!-- primeira col -------------------------->

                </div>
            </form>

        </div>
        <!-- Formulário de Acessoria -------------------------->


    </div>

</div>


{% endblock %}
