{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<!-- Conteúdo -------------------------------->
<div class="container" style="margin-top:75px">

    <div class="row">

        <!-- Menu -------------------------------->
        <div id="menu_inicial" class="col-3 menu-request">

            <!-- Botões -------------------------->
            <div class="">

                <h5 class="text-center p-1">FORMOSA</h5>

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-menu-request">
                        <a type="button" id="btn_request_1" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-key"></i>
                            Malotes
                        </a>
                    </li>

                </ul>

            </div>
            <!-- Botões -------------------------->

            <!-- Voltar -------------------------->
            <div class="">

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-lista-novo mt-5">
                        <a href="{% url 'formosa_home' %}" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-arrow-left"></i>
                            Voltar
                        </a>
                    </li>

                </ul>

            </div>
            <!-- Voltar -------------------------->

        </div>
        <!-- Menu -------------------------------->


        <!-- Informativo ------------------------->
        <div id="informativo" class="col menu-request m-0 p-5">

            <!-- Texto --------------------------->
            <div class="">
                <h6>Orientações para abertura de chamado - 4155. Formosa</h6>
                <p>
                    Pontos a serem observados durante a abertura de chamado:
                    - Detalhar bem a sua solicitação.
                    - Se possuir evidências anexar no chamado.

                    Horário de Atendimento
                    - Segunda-feira a sexta-feira das 08:30hs às 17:30hs
                </p>
            </div>
            <!-- Texto --------------------------->

            <!-- Acordeões ----------------------->
            <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Malote
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Solicite o que contem dentro do Malote!</li>
                                <li>Fique atento aos campos "CC deverá ser informada no campo abaixo".</li>
                                <li>Fique atento ao seu painel de solicitações.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Acordeões ----------------------->

        </div>
        <!-- Informativo ------------------------->


        <!-- Formulário de Malotes --------------->
        <div id="formulario1" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO DE MALOTES</h5>

            <form action="{% url 'salvar_malote_formosa' %}"
                  method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row p-3 ">

                    <!-- primeira col -------------------------->
                    <div class="col-7">

                        <div class="">
                            <label class="required-label">Lacre:</label>
                            {{ form.service }}
                        </div>

                        <div class="mt-2">
                            <label>Descrição:</label>
                            {{ form.descricao }}
                        </div>

                        <div class="mt-2">
                            <label>Anexar arquivo:</label>
                            {{ form.attachment }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </div>
                    <!-- primeira col -------------------------->

                </div>
            </form>
        </div>
        <!-- Formulário de Malotes --------------->

    </div>

</div>
<!-- Conteúdo -------------------------------->


{% endblock %}
