{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container" style="margin-top:75px">

    <!-- Conteúdo -------------------------------->
    <div class="row">

        <!-- Menu -------------------------------->
        <div id="menu-inicial" class="col-3 menu-request">

            <div class="">

                <h5 class="text-center p-1">TECNOLOGIA</h5>

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-menu-request">
                        <a type="button" id="btnAcessos" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-key"></i>
                            Acessos
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btnEquipamentos" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-computer"></i>
                            Equipamentos
                        </a>
                    </li>

                    <li class="li-menu-request">
                        <a type="button" id="btnServicos" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-server"></i>
                            Serviços
                        </a>
                    </li>

                </ul>

            </div>

            <div class="">

                <hr style="color:#C4C0C0">

                <ul class="ul-menu-request">

                    <li class="li-lista-novo mt-5">
                        <a href="{% url 'ti_home' %}" class="li-link-request" aria-current="page">
                            <i class="fa-solid fa-arrow-left"></i>
                            Voltar
                        </a>
                    </li>

                </ul>

            </div>

        </div>
        <!-- Menu -------------------------------->


        <!-- Informativo ------------------------->
        <div id="informativoTI" class="col menu-request m-0 p-5">
            <h6>Orientações para abertura de chamado - 4155. Tecnologia</h6>
                <p>
                    Pontos a serem observados durante a abertura de chamado:
                    - Detalhar bem a sua solicitação.
                    - Se possuir evidências anexar no chamado.

                    Horário de Atendimento
                    - Segunda-feira a sexta-feira das 08:30hs às 17:30hs
                </p>

            <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Acessos
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Sisbr: Solicitar Permisões, Criar, Liberação, Redefinição de Senha e Exclusão de Usuário.</li>
                            <li>VPN: Solicitar Criação de Usuário, Redefinição de Senha e Exclusão de Conta </li>
                            <li>Email: Solicitar Criação de Usuário, Redefinição de Senha e Exclusão de Conta</li>
                            <li>Itranet: Solicitar Alterar Grupo/Setor, Criar, Redefinição de Senha e Exclusão de Usuário.</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Equipamentos
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Instalação: Solicitação de Softweres</li>
                            <li>Manutenção: Atualizãção de Softweres, Troca de Computadores antigos e Troca de Periféricos   </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Serviços
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Implementação de Melhorias: Descreva suas nececidades dentro da Intranet. </li>
                            <li>Solicitação de visita: Solicite um técnico da TI </li>
                            <li>Outros: Descreva suas nececidades. </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- Informativo ------------------------->


        <!-- Formulário de Acessos -------------------------->
        <div id="formularioAcessos" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO DE ACESSOS</h5>

            <div class="row p-3 ">

                <div class="col-7">


                    <form action="processar_formulario.php" method="POST" enctype="multipart/form-data">

                        <div class="mb-2">
                            <label>* Selecione o Assunto:</label>
                            {{ acessos.assunto }}
                        </div>

                        <div class="mb-2">
                            <label>* Selecione o Serviço:</label>
                            {{ acessos.servico }}
                        </div>

                        <div class="mb-3">
                            <label>* Descrição:</label><br>
                            {{ acessos.descricao }}
                        </div>

                        <div class="">
                            <label>Anexar arquivo:</label>
                            {{ acessos.arquivo }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </form>

                </div>

                <div class="col-1"></div>

                <div class="col">

                    <div>
                        <h6>Dados do Setor</h6>

                        <p class="m-0">Setor:</p>
                        <p class="m-0">Responsável:</p>
                        <p class="m-0">Email:</p>
                        <p class="m-0">Telefone Corporativo:</p>
                        <p class="m-0">Ramal:</p>

                    </div>

                    <div class="mt-5">

                        <h6>Dados do Solicitante</h6>

                        <p class="m-0">Nome:</p>
                        <p class="m-0">CPF:</p>
                        <p class="m-0">Sisbr:</p>
                        <p class="m-0">Email:</p>
                        <p class="m-0">Telefone Corporativo:</p>
                        <p class="m-0">Ramal:</p>
                        <p class="m-0">Unidade:</p>

                    </div>

                </div>

            </div>
        </div>
        <!-- Formulário de Acessos -------------------------->


        <!-- Formulário de Equipamentos --------------------->
        <div id="formularioEquipamentos" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO DE EQUIPAMENTOS</h5>

            <div class="row p-3 ">

                <div class="col-7">


                    <form action="" method="POST" enctype="multipart/form-data">

                        <div class="mb-2">
                            <label>* Selecione o Assunto:</label>
                            {{ equipamentos.assunto }}
                        </div>

                        <div class="mb-2">
                            <label>* Selecione o Serviço:</label>
                            {{ equipamentos.servico }}
                        </div>

                        <div class="mb-3">
                            <label>* Descrição:</label><br>
                            {{ equipamentos.descricao }}
                        </div>

                        <div class="">
                            <label>Anexar arquivo:</label>
                            {{ equipamentos.arquivo }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </form>

                </div>

                <div class="col-1"></div>

                <div class="col">

                    <div>
                        <h6>Dados do Setor</h6>

                        <p class="m-0">Setor:</p>
                        <p class="m-0">Responsável:</p>
                        <p class="m-0">Email:</p>
                        <p class="m-0">Telefone Corporativo:</p>
                        <p class="m-0">Ramal:</p>

                    </div>

                    <div class="mt-5">

                        <h6>Dados do Solicitante</h6>

                        <p class="m-0">Nome:</p>
                        <p class="m-0">CPF:</p>
                        <p class="m-0">Sisbr:</p>
                        <p class="m-0">Email:</p>
                        <p class="m-0">Telefone Corporativo:</p>
                        <p class="m-0">Ramal:</p>
                        <p class="m-0">Unidade:</p>

                    </div>

                </div>

            </div>
        </div>
        <!-- Formulário de Equipamentos --------------------->


        <!-- Formulário de Serviços --------------------->
        <div id="formularioServicos" class="col menu-request m-0" style="display:none">
            <h5 class="p-3">FORMULÁRIO DE SERVIÇOS</h5>

            <div class="row p-3 ">

                <div class="col-7">


                    <form action="" method="POST" enctype="multipart/form-data">

                        <div class="mb-2">
                            <label>* Selecione o Assunto:</label>
                            {{ servicos.assunto }}
                        </div>

                        <div class="mb-2">
                            <label>* Selecione o Serviço:</label>
                            {{ servicos.servico }}
                        </div>

                        <div class="mb-3">
                            <label>* Descrição:</label><br>
                            {{ servicos.descricao }}
                        </div>

                        <div class="">
                            <label>Anexar arquivo:</label>
                            {{ servicos.arquivo }}
                        </div>

                        <input class="mt-5 button-request" type="submit" value="Enviar">

                    </form>

                </div>

                <div class="col-1"></div>

                <div class="col">

                    <div>
                        <h6>Dados do Setor</h6>

                        <p class="m-0">Setor:</p>
                        <p class="m-0">Responsável:</p>
                        <p class="m-0">Email:</p>
                        <p class="m-0">Telefone Corporativo:</p>
                        <p class="m-0">Ramal:</p>

                    </div>

                    <div class="mt-5">

                        <h6>Dados do Solicitante</h6>

                        <p class="m-0">Nome:</p>
                        <p class="m-0">CPF:</p>
                        <p class="m-0">Sisbr:</p>
                        <p class="m-0">Email:</p>
                        <p class="m-0">Telefone Corporativo:</p>
                        <p class="m-0">Ramal:</p>
                        <p class="m-0">Unidade:</p>

                    </div>

                </div>

            </div>
        </div>
        <!-- Formulário de Equipamentos --------------------->

    </div>
    <!-- Conteúdo -------------------------------->

</div>

<!-- Modal formulário Novo Usuário --------------->

{% endblock %}
