<!doctype html>

{% load static %}

<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- link css -->
    <link rel="stylesheet" href="{% static 'ccis/style.css' %}">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/df67e6f5ba.js" crossorigin="anonymous"></script>

</head>

<body style="background-color:#F1F2F5">

<!-- start container-fluid ---------------------------------------------------------------------------------------->
<div class="container-fluid">


    <!-- topMenu ------------------------------------------------------->
    <header class="menu-header nav justify-content-center">
        {% include 'ccis/infoNavbar.html' %}

        <nav class="col p-0 navbar navbar-expand-lg">
            <div class="container-fluid">

                <!-- Logo do Menu ------------------------------------------------------------------------------------->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'ccis/logonav.png' %}"
                         alt="logo"
                         width="47"
                         height="54"
                         class="d-inline-block align-text-center;">
                </a>
                <!-- End Logo do Menu --------------------------------------------------------------------------------->


                <!-- Esquerda do Menu --------------------------------------------------------------------------------->
                <div class="collapse navbar-collapse" id="navbarNav" style="font-size:18px;">
                    <ul class="navbar-nav">

                        <li class="  ms-5 me-4">
                            <a style="font-family:Asap Semibold; text-decoration: none; color:#B7B7B7;"
                               href="#"></a>
                        </li>

                    </ul>
                </div>
                <!-- End Esquerda do Menu ----------------------------------------------------------------------------->


                <!-- Direita do Menu ---------------------------------------------------------------------------------->
                <div class="navbar-nav-wrap-content-end">

                    <!-- user button ---------------------------->
                    <div class="align-items-center">

                        <ul class="navbar-nav">



                            <li>
                                <div class="btn-group dropstart p-0">

                                    <button type="button" class="btn" style="color:#219180"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-bell"></i>
                                    </button>

                                    <ul class="dropdown-menu p-0" style="width: 18rem;">

                                        <div class="list-group">

                                            <!-- rodar o for aqui dentro -->
                                            <a href="#" class="list-group-item list-group-item-action"
                                               aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Solicitação de Ferias</h6>
                                                    <small>3 days ago</small>
                                                </div>
                                                <p class="mb-1">Por favor, Solicito ferias ao...</p>
                                                    <small>Assunto: Ferias</small>
                                            </a>

                                            <a href="#" class="list-group-item list-group-item-action"
                                               aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Solicitação de Ferias</h6>
                                                    <small>3 days ago</small>
                                                </div>
                                                <p class="mb-1">Por favor, Solicito ferias ao...</p>
                                                    <small>Assunto: Ferias</small>
                                            </a>

                                            <a href="#" class="list-group-item list-group-item-action"
                                               aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Solicitação de Ferias</h6>
                                                    <small>3 days ago</small>
                                                </div>
                                                <p class="mb-1">Por favor, Solicito ferias ao...</p>
                                                    <small>Assunto: Ferias</small>
                                            </a>

                                        </div>

                                    </ul>
                                </div>
                            </li>

                            <!-- Conta usuário ------------------->
                            <li class="dropstart media-pill">

                                <!-- Button ----------------------------->
                                <a class="align-horizontal-center"
                                   type="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">

                                    <div class="">
                                            <span class="nav-photo">
                                                {% if logFoto %}
                                                <img class="nav-photo" src="{{ logFoto.url }}"
                                                     alt="" width="36" height="36">

                                                {% else %}

                                                {% if dados.sexo == "Masculino" %}
                                                <img class="nav-photo" src="{% static 'ccis/avatar.jpg' %}"
                                                     alt="" width="36" height="36">

                                                {% elif dados.sexo == "Feminino" %}
                                                <img class="nav-photo" src="{% static 'ccis/avatar-feminino.jpg' %}"
                                                     alt="" width="36" height="36">
                                                {% endif %}

                                                {% endif %}
                                            </span>
                                    </div>

                                    <div class="ml-2 pb-1 d-none d-lg-block">
                                        <span class="nav-text mb-0">{{ logName }} {{ logLast }}</span>
                                    </div>

                                </a>
                                <!-- Button ----------------------------->


                                <!-- dropdown --------------------------->
                                <ul class="dropdown-menu p-0" onclick="event.stopPropagation();">
                                    <li class="p-2" style="text-align: center;">Configurações</li>

                                    <li>
                                        <div class="accordion" id="accordionPanelsStayOpenExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                    <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#panelsStayOpen-collapseOne"
                                                            aria-expanded="true"
                                                            aria-controls="panelsStayOpen-collapseOne">
                                                        Status
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseOne"
                                                     class="accordion-collapse collapse show"
                                                     aria-labelledby="panelsStayOpen-headingOne">

                                                    <div class="accordion-body p-0">

                                                        <div class="">
                                                            <a class="dropdown-item" href="#">
                                                                <span class="status-dot"
                                                                      style="background-color: green;"></span>
                                                                Disponivel
                                                            </a>
                                                        </div>
                                                        <div class="">
                                                            <a class="dropdown-item" href="#">
                                                                <span class="status-dot"
                                                                      style="background-color: red;"></span>
                                                                Ocupado
                                                            </a>
                                                        </div>
                                                        <div class="">
                                                            <a class="dropdown-item" href="#">
                                                                <span class="status-dot"
                                                                      style="background-color: #F1F2F5;"></span>
                                                                Ausente
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#panelsStayOpen-collapseThree"
                                                            aria-expanded="false"
                                                            aria-controls="panelsStayOpen-collapseThree">
                                                        Temas
                                                    </button>
                                                </h2>

                                                <div id="panelsStayOpen-collapseThree"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="panelsStayOpen-headingThree">

                                                    <div class="accordion-body p-0">
                                                        <div><a class="dropdown-item" href="#">Verde</a></div>
                                                        <div><a class="dropdown-item" href="#">Roxo</a></div>
                                                        <div><a class="dropdown-item" href="#">Cinza</a></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="dropdown-item p-3" href="{% url 'logout' %}">
                                            <i class="fa-sharp fa-solid fa-right-from-bracket"></i> Sair
                                        </a>
                                    </li>
                                </ul>
                                <!-- dropdown --------------------------->

                            </li>
                            <!-- Conta usuário ------------------->

                        </ul>

                    </div>
                    <!-- user button ---------------------------->

                </div>
                <!-- End Direita do Menu ------------------------------------------------------------------------------>

            </div>
        </nav>

    </header>
    <!-- End topMenu --------------------------------------------------->


    <main>

        <div class="container-fluid  ps-0 pe-0">

            <div class="row">

                <!-- Menu Lateral -------------------------------------------------------------------->
                <div class="col-lg-2 col-md-3 col-12 menu-background">

                    <!-- Menu -->
                    <ul class="ul-lista-novo">
                        
                        <li class="p-3 text-center">
                            <!-- <img src= "{% static 'ccis/Sicoob.png' %}" alt="logo-Sicoob" width="150px"> -->
                        </li>

                        <!-- Overview -->
                        <li class="li-lista-novo d-none">
                            <a href="{% url 'profile' request.user.id %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-chart-simple"></i>
                                Overview
                            </a>
                        </li>

                        <hr class="">

                        <!-- Perfil -->
                        <li class="li-lista-novo">
                            <a href="{% url 'profile' request.user.id %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-user"></i>
                                Perfil
                            </a>
                        </li>

                        <!-- Conta -->
                        <li class="li-lista-novo">
                            <a href="{% url 'conta' %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-address-card"></i>
                                Conta
                            </a>
                        </li>

                        <!-- Departamentos -->
                        <li class="li-lista-novo">
                            <a href="{% url 'departamentos' %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-network-wired"></i>
                                Departamentos
                            </a>
                        </li>

                        <!-- ferias -->
                        <li class="li-lista-novo">

                            <a href="{% url 'ferias' %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-umbrella-beach"></i>
                                Férias
                            </a>
                        </li>

                        <!-- anbima -->
                        <li class="li-lista-novo">

                            <a href="{% url 'anbima' %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-certificate"></i>
                                Certificações Anbima
                            </a>
                        </li>

                        <hr class="">

                        <!-- coopera -->
                        <li class="li-lista-novo">

                            <a href="{% url 'coopera' %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-infinity"></i>
                                Cooperar+
                            </a>
                        </li>

                        <!-- utilitarios -->
                        <li class="li-lista-novo">

                            <a href="{% url 'utilitarios' %}" class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-book"></i>
                                Utilitários
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Menu Lateral ---------------------------------------------------------------->


                <!-- Conteúdo -------------------------------------------------------------------->
                <div class="col-lg-10 col-md-9 col-12 mt-lg-0 mt-0" style="padding: 0px;">

                    {% block conteudo %}


                    {% endblock %}

                </div>
                <!-- End Conteúdo ---------------------------------------------------------------->

            </div>

        </div>

    </main>

</div>
<!-- end container-fluid ------------------------------------------------------------------------------------------>


<!-- Option 1: Bootstrap Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- link js -->
<script src="{% static 'ccis/script.js' %}"></script>

</body>

</html>