<!doctype html>

{% load static %}
{% load custom_tags %}

<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- link css -->
    <link rel="stylesheet" href="{% static 'ccis/style.css' %}">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/df67e6f5ba.js" crossorigin="anonymous"></script>

</head>

<body style="background-color:#F1F2F5">

<!-- start container-fluid ---------------------------------------------------------------------------------------->
<div class="container-fluid">


    <!-- topMenu ------------------------------------------------------->
    <header class="menu-header nav justify-content-center">

        <nav class="col p-0 navbar navbar-expand-lg">
            <div class="container-fluid">

                <!-- Logo do Menu ------------------------------------------------------------------------------------->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'ccis/logonav.png' %}" alt="logo" width="47" height="54"
                         class="d-inline-block align-text-center;">
                </a>
                <!-- End Logo do Menu --------------------------------------------------------------------------------->


                <!-- Esquerda do Menu --------------------------------------------------------------------------------->
                <div class="collapse navbar-collapse" id="navbarNav" style="font-size:18px;">
                    <ul class="navbar-nav">

                        <li class="  ms-5 me-4">
                            <a style="font-family:Asap Semibold; text-decoration: none; color:#B7B7B7;"
                               href="#"></a>
                        </li>

                    </ul>
                </div>
                <!-- End Esquerda do Menu ----------------------------------------------------------------------------->


                <!-- Direita do Menu ---------------------------------------------------------------------------------->
                <div class="navbar-nav-wrap-content-end">

                    <!-- user button ---------------------------->
                    <div class="align-items-center">

                        <ul class="navbar-nav">


                            <li>
                                <div class="btn-group dropstart p-0">

                                    <button type="button" class="btn" style="color:#219180"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-bell"></i>
                                    </button>

                                    <ul class="dropdown-menu p-0" style="width: 18rem;">

                                        <div class="list-group">

                                            <!-- rodar o for aqui dentro -->
                                            <a href="#" class="list-group-item list-group-item-action"
                                               aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">Solicitação de Ferias</h6>
                                                    <small>3 days ago</small>
                                                </div>
                                                <p class="mb-1">Por favor, Solicito ferias ao...</p>
                                                <small>Assunto: Ferias</small>
                                            </a>

                                        </div>

                                    </ul>
                                </div>
                            </li>

                            <!-- Conta usuário ------------------->
                            <li class="dropstart media-pill">

                                <!-- Button ----------------------------->
                                <a class="align-horizontal-center" type="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">

                                    <div class="">
                                            <span class="nav-photo">
                                                {% if user_data.logFoto %}
                                                <img class="nav-photo" src="{{ user_data.logFoto.url }}"
                                                     alt="" width="36" height="36">

                                                {% else %}

                                                {% if user_data.logSexo == "Masculino" %}
                                                <img class="nav-photo" src="{% static 'ccis/avatar.jpg' %}"
                                                     alt="" width="36" height="36">

                                                {% elif user_data.logSexo == "Feminino" %}
                                                <img class="nav-photo" src="{% static 'ccis/avatar-feminino.jpg' %}"
                                                     alt="" width="36" height="36">
                                                {% endif %}

                                                {% endif %}
                                            </span>
                                    </div>

                                    <div class="ml-2 pb-1 d-none d-lg-block">
                                        <span class="nav-text mb-0">{{ user_data.logName }} {{ user_data.logLast }}</span>
                                    </div>

                                </a>
                                <!-- Button ----------------------------->

                                <!-- dropdown --------------------------->
                                <ul class="dropdown-menu p-0" onclick="event.stopPropagation();">

                                    <li>
                                        <div class="accordion" id="accordionPanelsStayOpenExample">
                                            <div class="accordion-item">


                                                <!--foto perfil-->
                                                <div class="d-flex m-3">


                                                        <div class="nav-photo-edit">

                                                            {% if user_data.logFoto %}
                                                            <img class="nav-photo-edit" src="{{ user_data.logFoto.url }}">

                                                            {% else %}

                                                            {% if user_data.logSexo == "Masculino" %}
                                                            <img class="nav-photo-edit"
                                                                 src="{% static 'ccis/avatar.jpg' %}">

                                                            {% elif user_data.logSexo == "Feminino" %}
                                                            <img class="nav-photo-edit"
                                                                 src="{% static 'ccis/avatar-feminino.jpg' %}">

                                                            {% endif %}

                                                            {% endif %}


                                                        </div>


                                                    <!--nome perfil-->
                                                    <div class="ms-2">

                                                        <a href="{% url 'profile' request.user.id %}"
                                                           class="btn custom-profile-button"
                                                           title="Perfil" data-delay="100">

                                                            <strong class="">{{ user_data.logName }} {{ user_data.logLast }}</strong>
                                                            <span class="me-2">{{ user_data.logEmail }}</span>

                                                        </a>


                                                        <select class="ms-2" style="border: none;">
                                                            <option value="valor1" selected>Disponivel</option>
                                                            <option value="valor2">Ocupado</option>
                                                            <option value="valor3">Ausente</option>
                                                        </select>

                                                    </div>
                                                    <!--nome perfil-->
                                                </div>
                                            </div>

                                            <div class="accordion-item">

                                                <div class="">
                                                    <a style="font-size: 15px;" class="dropdown-item"
                                                       href="{% url 'profile' request.user.id %}">
                                                            <span>
                                                                <i style="font-size: 2vh;" class="fa-solid fa-user"></i>
                                                                Perfil
                                                            </span>
                                                    </a>
                                                </div>

                                                <div class="">
                                                    <a style="font-size: 15px;" class="dropdown-item"
                                                       href="{%url 'conta'%}">
                                                            <span>
                                                                <i style="font-size: 2vh;"
                                                                   class="fa-solid fa-address-card"></i>
                                                                Gerenciar Conta
                                                            </span>
                                                    </a>
                                                </div>

                                            </div>

                                            <div class="accordion-item">

                                                <div class="">
                                                    <a style="font-size: 15px;" class="dropdown-item"
                                                       href="{%url 'processos_user'%}">
                                                            <span>
                                                                <i style="font-size: 2vh;"
                                                                   class="fa-solid fa-file-circle-plus"></i>
                                                                Painel Solicitações
                                                            </span>
                                                    </a>
                                                </div>

                                            </div>


                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                    <button class="accordion-button collapsed ps-3" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#panelsStayOpen-collapseThree"
                                                            aria-expanded="false"
                                                            aria-controls="panelsStayOpen-collapseThree">
                                                            <span>
                                                                <i style="font-size: 2vh;" class="fa-solid fa-book"></i>
                                                                Utilitarios
                                                            </span>
                                                    </button>
                                                </h2>

                                                <div id="panelsStayOpen-collapseThree"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="panelsStayOpen-headingThree">

                                                    <div class="accordion-body p-0">

                                                        <div><a class="dropdown-item"
                                                                href="{%url 'utilitariosCopy'%}">Links</a></div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </li>

                                    <li>
                                        <a class="dropdown-item p-3" href="{% url 'logout' %}">
                                            <i class="fa-sharp fa-solid fa-right-from-bracket"></i> Sair
                                        </a>
                                    </li>
                                </ul>
                                <!-- dropdown --------------------------->
                                <!-- Modal ----------------------------->
                                <div class="modal fade" id="fotoPerfil" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Fechar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Fechar
                                                </button>
                                                <button type="button" class="btn btn-primary">Salvar
                                                    mudanças
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal ------------------------------>

                            </li>
                            <!-- Conta usuário ------------------->

                        </ul>

                    </div>
                    <!-- user button ---------------------------->

                </div>
                <!-- End Direita do Menu ------------------------------------------------------------------------------>

            </div>
        </nav>

    </header>
    <!-- End topMenu --------------------------------------------------->


    <main>

        <div class="container-fluid  ps-0 pe-0">

            <div class="row">

                <!-- Menu Lateral -------------------------------------------------------------------->
                <div class="col-lg-2 col-md-3 col-12 menu-background" style="padding-top:80px">

                    <!-- Menu -->
                    <ul class="ul-lista-novo">

                        <!-- Departamentos -->
                        <li class="li-lista-novo">
                            <a style="font-family: asap; color: #00353e;" href="{% url 'departamentos' %}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-network-wired"></i>
                                Departamentos
                            </a>
                        </li>

                        <!-- Gestão e Controle -->
                        {% if controle %}
                        <li class="li-lista-novo">

                            <a style="font-family: asap; color: #00353e;" href="{% url 'gestaoControle' %}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-handshake"></i>
                                Gestão & Controle
                            </a>

                        </li>
                        {% endif %}

                        <!-- Gestão de Metas -->
                        <li class="li-lista-novo">
                            <a style="font-family: asap; color: #00353e;" href="{% url 'gestaoNegocios' %}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-bullseye"></i>
                                Gestão de Negócios
                            </a>
                        </li>

                        <!-- ferias -->
                        <li class="li-lista-novo">

                            <a style="font-family: asap; color: #00353e;" href="{% url 'ferias' %}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-umbrella-beach"></i>
                                Férias
                            </a>
                        </li>

                        <!-- anbima -->
                        <li class="li-lista-novo">

                            <a style="font-family: asap; color: #00353e; font-size: 15px;" href="{% url 'anbima' %}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-certificate"></i>
                                Certificações Anbima
                            </a>
                        </li>

                        <hr>

                        <!-- coopera -->
                        <li class="li-lista-novo">

                            <a style="font-family: asap; color: #00353e;" href="{% url 'coopera' %}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-infinity"></i>
                                Cooperar+
                            </a>
                        </li>

                        <!-- Malotes -->
                        <li class="li-lista-novo">

                            <a style="font-family: asap; color: #00353e;" href="{%url 'malotes'%}"
                               class="li-link-novo" aria-current="page">
                                <i class="fa-solid fa-sack-dollar"></i>
                                Controle de Malotes
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- End Menu Lateral ---------------------------------------------------------------->


                <!-- Conteúdo -------------------------------------------------------------------->
                <div class="col-lg-10 col-md-9 col-12 mt-lg-0" style="padding: 0 0 0 0;">

                    <!-- Modal foto e banner -------------------->
                    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModal"
                         aria-hidden="true">

                        <div class="modal-dialog">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="profileModalLabel">Alterar Foto e Capa de Perfil
                                    </h5>

                                </div>

                                <div class="modal-body">

                                    <form method="post" enctype="multipart/form-data" action="{% url 'formMidia' %}"
                                          class="row g-3 needs-validation" novalidate>
                                        {% csrf_token %}

                                        <div class="col-12 mb-3">
                                            <label class="form-check-label">Carregar Foto:</label>
                                            {{ midia.foto }}
                                            <div class="invalid-feedback">Nenhum arquivo selecionado</div>
                                        </div>

                                        <div class="col mb-2">
                                            <label class="form-check-label">Carregar Capa:</label>
                                            {{ midia.canvas }}
                                            <div class="invalid-feedback">Nenhum arquivo selecionado</div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal"> Close
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary" data-bs-target="#formMidia"> Salvar
                                            </button>
                                        </div>

                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- End Modal foto e banner ---------------->
                    {% block conteudo %}


                    {% endblock %}

                </div>
                <!-- End Conteúdo ---------------------------------------------------------------->

            </div>

        </div>

    </main>

</div>
<!-- end container-fluid ------------------------------------------------------------------------>


<!-- Inclua o jQuery primeiro -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Em seguida, inclua o Bootstrap Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Finalmente, inclua seu script personalizado -->
<script src="{% static 'ccis/script.js' %}"></script>


</body>

</html>