<!doctype html>

{% load static %}

<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link css -->


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/df67e6f5ba.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <!-- topMenu ------------------------------------------------------------------------------------------------------>
    <header class="shadow-sm mb-1 nav justify-content-center bg-light">

        <nav class="col-10 navbar navbar-expand-lg navbar-fixed navbar-light  bg-light">
          <div class="container-fluid ps-3 pe-0">

            <!-- Logo do Menu --------------------------------------------------------------------------------------------->
            <a class="navbar-brand" href="#">
              <img src="{% static 'ccis/logonav.png' %}"
                   alt="logo"
                   width="47"
                   height="54"
                   class="d-inline-block align-text-center;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown"
                    aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- End Logo do Menu ----------------------------------------------------------------------------------------->


            <!-- Esquerda do Menu ----------------------------------------------------------------------------------------->
            <div class="collapse navbar-collapse" id="navbarNav" style="font-size:18px;">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#" style="font-family:Asap Semibold;">INICIO</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-family:Asap Semibold;">PERFIL</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-family:Asap Semibold;">SAIR</a>
                </li>

              </ul>
            </div>
            <!-- End Esquerda do Menu ------------------------------------------------------------------------------------->


            <!-- Direita do Menu ------------------------------------------------------------------------------------------>
            <div class="navbar-nav-wrap-content-end">

              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <!-- Start Notification -->
                  <li class="nav-item dropdown d-none d-sm-inline-block me-5 mt-3">

                    <button class="btn" type="button" id="notButton"
                            data-bs-toggle="dropdown" aria-expanded="false">

                      <i class="fa-solid fa-bell"></i>

                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+<span class="visually-hidden">unread messages</span>
                  </span>

                    </button>

                    <ul class="dropdown-menu" aria-labelledby="notButton">

                      <li>
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of
                              the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                      </li>


                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>

                  </li>

                  <!-- Start Conta -->
                  <li class="nav-item dropdown">

                    <button class="btn" type="button" id="contBotton"
                            data-bs-toggle="dropdown" aria-expanded="false">


                      <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                           alt="img" width="50" height="50" style="border:1px solid; border-radius:25px;">


                    </button>

                    <ul class="dropdown-menu" aria-labelledby="contBotton">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>

                  </li>
                </ul>
              </div>

            </div>
            <!-- End Direita do Menu -------------------------------------------------------------------------------------->
          </div>
        </nav>

    </header>
    <!-- End topMenu -------------------------------------------------------------------------------------------------->

    <main class="container col-10">
      <!-- subMenu ---------------------------------------------------------------------------------------------------->
      <div class="row">

        <nav class="navbar navbar-expand-lg navbar-fixed navbar-light bg-light rounded mt-2">
          <div class="container-fluid ps-1 pe-1">

            <p class="m-0" style="font-family:Asap medium"> GESTÃO DE PESSOAS <br> <small
                    style="font-family:Asap Regular; color:#AFAFAF;">Modulo gestor</small></p>

            <div class="navbar-nav-wrap-content-end">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
            </div>
          </div>

        </nav>


      </div>
      <!-- End subMenu ------------------------------------------------------------------------------------------------>

      <div class="row mt-2">
        <!-- Menu Lateral --------------------------------------------------------------------------------------------->
        <div class="col-2 p-3 d-flex flex-column flex-shrink-0 bg-light rounded shadow-sm"
             id="conteiner_menu_left"
             style="height:78vh;">

          <ul class="nav nav-pills flex-column mb-auto">
            <!-- Titulo -->
            <li>
              <a class="nav-link link-dark " href="#">SUPER-ADMIN</a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- Home -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <i class="fa-sharp fa-solid fa-house"></i>
                Home
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- Dash -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark">
                <i class="fa-solid fa-chart-line"></i>
                Dashboard
              </a>
            </li>

            <!-- Perfil -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <i class="fa-solid fa-user"></i>
                Perfil
              </a>
            </li>

            <!-- Gestão -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark dropdown-toggle"
                 aria-current="page"
                 data-bs-theme="light"
                 type="link"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapseWidthExample"
                 aria-expanded="false"
                 aria-controls="collapseWidthExample">

                <i class="fa-solid fa-screwdriver-wrench"></i>
                Gestão
              </a>

              <div id="collapseWidthExample" class="collapse collapse-horizontal ps-5 ">
                <ul class="nav nav-pills flex-column mb-auto">

                  <li class="nav-item">
                    <a class="nav-link link-dark pt-1 pb-1" href="#">
                      Ferias
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link link-dark pt-1 pb-1" href="#">
                      Outros
                    </a>
                  </li>

                </ul>
              </div>

            </li>

            <!-- Usuários -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <i class="fa-solid fa-users"></i>
                Usuários
              </a>
            </li>

            <!-- Conta -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <i class="fa-solid fa-address-card"></i>
                Conta
              </a>
            </li>

            <!-- Autenticação -->
            <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <i class="fa-solid fa-lock"></i>
                Autenticação
              </a>
            </li>

          </ul>
          <hr>


        </div>
        <!-- End Menu Lateral ----------------------------------------------------------------------------------------->


        <!-- Scrollspy ------------------------------------------------------------------------------------------------>
        <div id="list-form" class="col-2 list-group ms-3 p-0">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Dados Pessoais</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">dependentes</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Endereço e Contato</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Escolaridade</a>
          <a class="list-group-item list-group-item-action" href="#list-item-5">Certificações</a>
          <a class="list-group-item list-group-item-action" href="#list-item-6">Proficional</a>
          <a class="list-group-item list-group-item-action" href="#list-item-7">Dados Bancarios</a>
          <a class="list-group-item list-group-item-action" href="#list-item-8">Outros</a>

        </div>


        <div class="col scrollspy ms-3 p-0"
             data-bs-spy="scroll"
             data-bs-target="list-form"
             data-bs-offset="1"
             tabindex="1">

          <!-- Conteudo ----------------------------------------------------------------------------------------------->
          <div class="d-grid gap-3 gap-lg-3 overflow-auto" style="height:78vh;">

            <!-- card profile -->
            <div class="card">
              <img src="{% static 'ccis/backgroundPro.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Formulário cadastral</h5>
                <p class="card-text">Bem vindo ao novo formulário cadastral</p>
                <a href="#" class="btn btn-primary">Perfil</a>
              </div>
            </div>

            <!-- card dados pessoais -->
            <div class="card" id="list-item-1">

              <div class="card-header">
                <h5>Dados Pessoais</h5>
              </div>

              <div class="card-body">
                <p class="card-text"><span></span></p>

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputNome" class="form-label">Nome completo:</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Maria da silva souza">
                  </div>

                  <div class="col-2">
                    <label for="inputSexo" class="form-label">Sexo:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">Masculino</option>
                      <option value="2">Feminino</option>
                    </select>
                  </div>

                   <div class="col-2">
                    <label for="inputCivil" class="form-label">Estado Civil:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">Solteiro(a)</option>
                      <option value="2">Casado(a)</option>
                      <option value="3">Divorciado(a)</option>
                      <option value="4">Viúvo(a)</option>
                      <option value="5">Separado(a)</option>
                      <option value="6">União Estável</option>
                    </select>
                  </div>

                  <div class="col-2">
                    <label for="inputRaca" class="form-label">Raça/Cor:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">Branca</option>
                      <option value="2">Preta</option>
                      <option value="3">Parda</option>
                      <option value="4">Amarela</option>
                      <option value="5">Indígena</option>
                    </select>
                  </div>

                  <div class="col-3">
                    <label for="inputNascimento" class="form-label">Nascimento:</label>
                    <input type="date" class="form-control" id="inputNascimento" placeholder="30/03/1993">
                  </div>

                  <div class="col-2">
                    <label for="inputCivil" class="form-label">Naturalidade:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="27">AC</option>
                      <option value="1">AL</option>
                      <option value="2">AP</option>
                      <option value="3">AM</option>
                      <option value="4">BA</option>
                      <option value="5">CE</option>
                      <option value="6">DF</option>
                      <option value="7">ES</option>
                      <option value="8">GO</option>
                      <option value="9">MA</option>
                      <option value="10">MT</option>
                      <option value="11">MS</option>
                      <option value="12">MG</option>
                      <option value="13">PA</option>
                      <option value="14">PB</option>
                      <option value="15">PR</option>
                      <option value="16">PE</option>
                      <option value="17">PI</option>
                      <option value="18">RJ</option>
                      <option value="19">RN</option>
                      <option value="20">RS</option>
                      <option value="21">RO</option>
                      <option value="22">RR</option>
                      <option value="23">SC</option>
                      <option value="24">SP</option>
                      <option value="25">SE</option>
                      <option value="26">TO</option>
                    </select>
                  </div>

                  <div class="col-4">
                  </div>

                  <div class="col-3 mb-4">
                    <label for="inputSangue" class="form-label">Tipo Sanguíneo:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">A - Positivo</option>
                      <option value="2">A - Negativo</option>
                      <option value="3">B - Positivo</option>
                      <option value="4">B - Negativo</option>
                      <option value="5">AB - Positivo</option>
                      <option value="6">AB - Negativo</option>
                      <option value="7">O - Positivo</option>
                      <option value="8">O - Negativo</option>
                    </select>
                  </div>

                  <hr>

                  <div class="col-6">
                    <label for="inputPai" class="form-label">Nome Pai:</label>
                    <input type="text" class="form-control" id="inputPai" placeholder="João alves lima">
                  </div>

                  <div class="col-6 mb-4">
                    <label for="inputMae" class="form-label">Nome Mãe:</label>
                    <input type="text" class="form-control" id="inputMae" placeholder="Maria da silva santos">
                  </div>

                  <hr>

                  <div class="col-4">
                    <label for="inputCPF" class="form-label">CPF:</label>
                    <input type="text" class="form-control" id="inputCPF" placeholder="000.000.000-00">
                  </div>

                  <div class="col-3">
                    <label for="inputRG" class="form-label">RG:</label>
                    <input type="text" class="form-control" id="inputRG" placeholder="0.000.000">
                  </div>

                  <div class="col-5">
                    <label for="inputRG" class="form-label">Órgão Expedidor:</label>
                    <input type="text" class="form-control" id="inputExpedidor" placeholder="Secretaria de Segurança Pública (SSP)">
                  </div>

                  <div class="col-7">
                    <label for="inputCNH" class="form-label">CNH:</label>
                    <input type="text" class="form-control" id="inputCNH" placeholder="12568436225">
                  </div>

                  <div class="col-3">
                    <label for="inputVali" class="form-label">Validade:</label>
                    <input type="date" class="form-control" id="inputVali" placeholder="">
                  </div>

                  <div class="col-2">
                    <label for="inputCategoria" class="form-label">Categoria:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">A</option>
                      <option value="2">B</option>
                      <option value="3">C</option>
                      <option value="4">D</option>
                      <option value="5">E</option>
                    </select>
                  </div>


                  <div class="col-7">
                    <label for="inputTitulo" class="form-label">Titulo de Eleitor:</label>
                    <input type="text" class="form-control" id="inputTitulo" placeholder="00000000000">
                  </div>

                  <div class="col-3">
                    <label for="inputZona" class="form-label">Zona:</label>
                    <input type="text" class="form-control" id="inputZona" placeholder="000">
                  </div>

                  <div class="col-2">
                    <label for="inputSecao" class="form-label">Seção:</label>
                    <input type="text" class="form-control" id="inputSecao" placeholder="0000">
                  </div>

                  <div class="col-7">
                    <label for="inputCTPS" class="form-label">CTPS:</label>
                    <input type="text" class="form-control" id="inputCTPS" placeholder="00000000000">
                  </div>

                  <div class="col-2">
                    <label for="inputSerie" class="form-label">Serie:</label>
                    <input type="text" class="form-control" id="inputSerie" placeholder="0000">
                  </div>

                  <div class="col-3">
                    <label for="inputData" class="form-label">Data:</label>
                    <input type="date" class="form-control" id="inputData" placeholder="0000">
                  </div>


                  <div class="col-7">
                    <label for="inputReservista" class="form-label">Reservista:</label>
                    <input type="text" class="form-control" id="inputReservista" placeholder="00000000000">
                  </div>

                  <div class="col-2">
                    <label for="inputRA" class="form-label">RA:</label>
                    <input type="text" class="form-control" id="inputRA" placeholder="0000">
                  </div>

                  <div class="col-3">
                    <label for="inputSerieReservista" class="form-label">Serie:</label>
                    <input type="text" class="form-control" id="inputSerieReservista" placeholder="0000">
                  </div>

                  <div class="col-4">
                    <label for="inputSerieReservista" class="form-label">PIS:</label>
                    <input type="text" class="form-control" id="inputPis" placeholder="">
                  </div>

                  <div class="col-4">
                  </div>

                  <div class="col-4">
                    <label for="inputSerieReservista" class="form-label">Carteira Nacional de Saúde:</label>
                    <input type="text" class="form-control" id="inputCNU" placeholder="">
                  </div>

                  <div class="form-check ms-2 pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Possui Deficiência física?
                    </label>
                  </div>


                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>

              </div>
            </div>

            <!-- card Dependentes -->
            <div class="card" id="list-item-2">

              <div class="card-header">
                <h5>Dependentes</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputDepNome" class="form-label">Nome Completo:</label>
                    <input type="text" class="form-control" id="inputDepNome" placeholder="Pedro jose santos">
                  </div>

                  <div class="col-3">
                    <label for="inputDepCPF" class="form-label">CPF:</label>
                    <input type="text" class="form-control" id="inputDepCPF" placeholder="000.000.000.00">
                  </div>

                  <div class="col-3">
                    <label for="inputDepNascimento" class="form-label">Nascimento:</label>
                    <input type="date" class="form-control" id="inputDepNascimento" placeholder="1234 Main St">
                  </div>

                  <div class="col-3">
                    <label for="inputDepRelacao" class="form-label">Relação:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">Cônjuge</option>
                      <option value="3">Filho</option>
                    </select>
                  </div>

                  <div class="col-6">
                    <label for="inputDepEmail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="inputDepEmail" placeholder="user@gmail.com">
                  </div>

                  <div class="col-3">
                    <label for="inputDepContato" class="form-label">Contato:</label>
                    <input type="tel" class="form-control" id="inputDepContato" placeholder="61 9 0000-0000">
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>

              </div>
            </div>

            <!-- card End Contatos -->
            <div class="card" id="list-item-3">

              <div class="card-header">
                <h5>Endereço e Contatos</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputEnd" class="form-label">Endereço:</label>
                    <input type="text" class="form-control" id="inputEnd" placeholder="Quadra 4 bloco c">
                  </div>

                  <div class="col-3">
                    <label for="inputEndBairro" class="form-label">Bairro:</label>
                    <input type="text" class="form-control" id="inputEndBairro" placeholder="Recanto das Emas">
                  </div>

                  <div class="col-3">
                    <label for="inputEndCidade" class="form-label">Cidade:</label>
                    <input type="text" class="form-control" id="inputEndCidade" placeholder="Brasilia">
                  </div>

                  <div class="col-3">
                    <label for="inputEndCep" class="form-label">Cep:</label>
                    <input type="text" class="form-control" id="inputEndCep" placeholder="Brasilia">
                  </div>

                  <div class="col-2 mb-4">
                    <label for="inputEndEstado" class="form-label">Estado:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="27">AC</option>
                      <option value="1">AL</option>
                      <option value="2">AP</option>
                      <option value="3">AM</option>
                      <option value="4">BA</option>
                      <option value="5">CE</option>
                      <option value="6">DF</option>
                      <option value="7">ES</option>
                      <option value="8">GO</option>
                      <option value="9">MA</option>
                      <option value="10">MT</option>
                      <option value="11">MS</option>
                      <option value="12">MG</option>
                      <option value="13">PA</option>
                      <option value="14">PB</option>
                      <option value="15">PR</option>
                      <option value="16">PE</option>
                      <option value="17">PI</option>
                      <option value="18">RJ</option>
                      <option value="19">RN</option>
                      <option value="20">RS</option>
                      <option value="21">RO</option>
                      <option value="22">RR</option>
                      <option value="23">SC</option>
                      <option value="24">SP</option>
                      <option value="25">SE</option>
                      <option value="26">TO</option>
                    </select>
                  </div>

                  <div class="col-5">
                  </div>

                  <div class="col-2">
                    <label for="inputEndRamal" class="form-label">Ramal:</label>
                    <input type="tel" class="form-control" id="inputEndRamal" placeholder="200">
                  </div>

                  <span><small>Contato:</small></span>
                  <hr>

                  <div class="col-6">
                    <label for="inputEndEmail" class="form-label">Email Corporativo:</label>
                    <input type="email" class="form-control" id="inputEndEmailC" placeholder="user@sicoobbrasilia.com.br">
                  </div>

                  <div class="col-3">
                    <label for="inputEndEmail" class="form-label">Tel. Corporativo:</label>
                    <input type="tel" class="form-control" id="inputEndTel" placeholder="61 0000-0000">
                  </div>

                   <div class="col-3">
                    <label for="inputEndEmail" class="form-label">Cel. Corporativo:</label>
                    <input type="tel" class="form-control" id="inputEndCel" placeholder="61 9 0000-0000">
                  </div>


                  <div class="col-6">
                    <label for="inputEndEmail" class="form-label">Email Pessoal:</label>
                    <input type="email" class="form-control" id="inputEndEmailP" placeholder="user@sicoobbrasilia.com.br">
                  </div>

                  <div class="col-3">
                    <label for="inputEndEmail" class="form-label">Tel. Pessoal:</label>
                    <input type="tel" class="form-control" id="inputEndTelP" placeholder="61 0000-0000">
                  </div>

                   <div class="col-3 mb-3">
                    <label for="inputEndEmail" class="form-label">Cel. Pessoal:</label>
                    <input type="tel" class="form-control" id="inputEndCelP" placeholder="61 9 0000-0000">
                  </div>


                  <span><small>Contato de Emergência</small></span>
                  <hr>


                  <div class="col-6">
                    <label for="inputEme" class="form-label">Nome Completo:</label>
                    <input type="text" class="form-control" id="inputEme" placeholder="">
                  </div>

                  <div class="col-3">
                    <label for="inputEmeContato" class="form-label">Contato:</label>
                    <input type="tel" class="form-control" id="inputEmeContato" placeholder="">
                  </div>

                  <div class="col-3">
                    <label for="inputEmeRelacao" class="form-label">Relação:</label>
                    <input type="text" class="form-control" id="inputEmeRelacao" placeholder="Amigo">
                  </div>







                </form>
              </div>
            </div>

            <!-- card Escolaridade -->
            <div class="card" id="list-item-4">

              <div class="card-header">
                <h5>Escolaridade</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputEnsino" class="form-label">Entidade de Ensino:</label>
                    <input type="text" class="form-control" id="inputEnsino" placeholder="Universidade Uninter">
                  </div>

                  <div class="col-4">
                    <label for="inputEnsinoAria" class="form-label">Area de Ensino:</label>
                    <input type="text" class="form-control" id="inputEnsinoAria" placeholder="Tecnologia">
                  </div>

                  <div class="col-2">
                    <label for="inputSexo" class="form-label">Grau:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">Graduação</option>
                      <option value="2">Pós-Graduação</option>
                      <option value="3">Mestrado</option>
                      <option value="4">Doutorado</option>
                    </select>
                  </div>

                  <div class="col-3 mb-3 ">
                    <label for="inputEnsinoini" class="form-label">Inicio:</label>
                    <input type="date" class="form-control" id="inputEnsinoini" placeholder="">
                  </div>

                  <div class="col-3 mb-3 ">
                    <label for="inputEnsinoCon" class="form-label">Conclusão:</label>
                    <input type="date" class="form-control" id="inputEnsinoCon" placeholder="">
                  </div>

                  <span><small>Outros Idiomas</small></span>
                  <hr>

                  <div class="col-6 mb-3 ">
                    <label for="inputEnsinoCon" class="form-label">Lingua:</label>
                    <input type="text" class="form-control" id="inputIdioma" placeholder="">
                  </div>


                  <div class="col-2">
                    <label for="inputSexo" class="form-label">Nivel:</label>
                    <select class="col-2 form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">Bassico</option>
                      <option value="2">Intermediario</option>
                      <option value="3">Avançado</option>
                    </select>
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>

                </form>
              </div>
            </div>

            <!-- card Certificações -->
            <div class="card" id="list-item-5">

              <div class="card-header">
                <h5>Certificações</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputEnsinoNome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="inputEnsinoNome"
                           placeholder="Microsoft Certified Network">
                  </div>

                  <div class="col-6">
                    <label for="inputEnsinoOrg" class="form-label">Organização Emissora:</label>
                    <input type="text" class="form-control" id="inputEnsinoOrg" placeholder="Microsoft">
                  </div>

                  <div class="col-3">
                    <label for="inputEnsinoEm" class="form-label">Data Emissão:</label>
                    <input type="date" class="form-control" id="inputEnsinoEm" placeholder="Microsoft">
                  </div>

                  <div class="col-3">
                    <label for="inputEnsinoEx" class="form-label">Data Expiração:</label>
                    <input type="date" class="form-control" id="inputEnsinoEx" placeholder="Microsoft">
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>

                </form>
              </div>
            </div>

            <!-- card Proficional -->
            <div class="card" id="list-item-6">

              <div class="card-header">
                <h5>Proficional</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputPro" class="form-label">Cargo:</label>
                    <input type="text" class="form-control" id="inputPro"
                           placeholder="">
                  </div>

                  <div class="col-4">
                    <label for="inputProAria" class="form-label">Área:</label>
                    <input type="text" class="form-control" id="inputProAria"
                           placeholder="">
                  </div>

                  <div class="col-2">
                    <label for="inputUnidade" class="form-label">PA|Unidade:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">00-Sia</option>
                      <option value="2">01-Pad|DF</option>
                      <option value="3">02-Formosa</option>
                      <option value="4">03-S.J. Aliança</option>
                      <option value="5">06-Planaltina</option>
                      <option value="6">07-Vicente Pires</option>
                       <option value="7">08-Águas Claras</option>
                       <option value="8">09- SSB</option>
                      <option value="9">97- PA|Digital</option>
                      <option value="10">99- UAD</option>

                    </select>
                  </div>

                  <div class="col-3">
                    <label for="inputColaborador" class="form-label">Colaborador:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">Funcionário</option>
                      <option value="2">Tercerizado</option>
                      <option value="3">Vigilante</option>
                    </select>
                  </div>

                  <div class="col-3">
                    <label for="inputCusto" class="form-label">Centro de custo:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">?</option>
                      <option value="2">?</option>
                      <option value="3">?</option>
                    </select>
                  </div>

                  <div class="col-2">
                    <label for="inputProMatricula" class="form-label">Matricula:</label>
                    <input type="text" class="form-control" id="inputProMatricula"
                           placeholder="">
                  </div>

                  <div class="col-4">
                    <label for="inputProSuperior" class="form-label">Superior Imediato:</label>
                    <input type="text" class="form-control" id="inputProSuperior"
                           placeholder="">
                  </div>

                  <div class="col-3">
                    <label for="inputProFolha" class="form-label">Folha de pagamento:</label>
                    <input type="text" class="form-control" id="inputProFolha"
                           placeholder="">
                  </div>

                  <div class="col-3">
                    <label for="inputProAdm" class="form-label">Admissão:</label>
                    <input type="date" class="form-control" id="inputProAdm"
                           placeholder="">
                  </div>

                  <div class="col-3">
                    <label for="inputProDes" class="form-label">Desligamento:</label>
                    <input type="date" class="form-control" id="inputProDes"
                           placeholder="">
                  </div>

                  <div class="col-2">
                    <label for="inputProSituacao" class="form-label">Situação:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">Ativo</option>
                      <option value="2">Inativo</option>
                    </select>
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>

                </form>
              </div>
            </div>

            <!-- card Dados Bancarios -->
            <div class="card" id="list-item-7">

              <div class="card-header">
                <h5>Dados Bancarios</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-6">
                    <label for="inputBancoConta" class="form-label">Conta:</label>
                    <input type="text" class="form-control" id="inputBancoConta"
                           placeholder="00000000">
                  </div>

                  <div class="col-2">
                    <label for="inputBancoDigito" class="form-label">Digito:</label>
                    <input type="text" class="form-control" id="inputBancoDigito"
                           placeholder="">
                  </div>

                  <div class="col-2">
                    <label for="inputBanco" class="form-label">Banco:</label>
                    <input type="text" class="form-control" id="inputBanco"
                           placeholder="">
                  </div>

                  <div class="col-2">
                    <label for="inputBancoAgencia" class="form-label">Agencia:</label>
                    <input type="text" class="form-control" id="inputBancoAgencia"
                           placeholder="">
                  </div>

                  <div class="col-3">
                    <label for="inputCusto" class="form-label">Tipo de Conta:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">Corrente</option>
                      <option value="2">Poupança</option>
                    </select>
                  </div>

                  <div class="col-3">
                    <label for="inputCusto" class="form-label">Modalidade:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">?</option>
                      <option value="2">?</option>
                    </select>
                  </div>


                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>

                </form>
              </div>
            </div>

            <!-- card Outros -->
            <div class="card" id="list-item-8">

              <div class="card-header">
                <h5>Outros</h5>
              </div>

              <div class="card-body">

                <form class="row g-3">

                  <div class="col-2">
                    <label for="inputOutrosCamiseta" class="form-label">Tamanho Camiseta:</label>
                    <select class="col-2 form-select" aria-label="">
                      <option selected></option>
                      <option value="1">P</option>
                      <option value="2">M</option>
                      <option value="2">G</option>
                      <option value="2">GG</option>
                    </select>
                  </div>


                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>

                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </main>












    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>