{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <!-- subMenu --------------------------------->
    <div class="row">

        <nav class="navbar paragrafo-style">
            <div class="container-fluid">

                <div class="navbar-nav-wrap-content-end">

                </div>
            </div>

        </nav>


    </div>
    <!-- End subMenu ----------------------------->

    <!-- Header do conteúdo ---------------------->
    <div class="row mt-3 mb-5">

        <div class="col ps-4 pt-4" style="">

            <h1 style="font-family:Oswald medium; font-size:42px;">Bem vindo ao módulo<br>
                <span style="color:#27DEBF; font-family:Oswald medium; font-size:78px;">DEPARTAMENTOS.</span></h1>
            <p class="pt-3" style="color:#8a8a8a; font-size:17px;">Tenha acesso a todos os setores da cooperativa de maneira prática e
                fácil<br>Abra solicitações, monitore e tenha informações tudo em um só lugar.</p>

        </div>

        <div class="col">
            <img src="{% static 'ccis/Grupo 6171.png' %}"
                alt="rh"
                width="550"
                height="auto"
                class="d-inline-block;">
        </div>

    </div>
    <!-- Header do conteúdo ---------------------->


    <!-- Linha adm ------------------------------->
    <p  style="margin-top:100px; margin-bottom:0px">Administrativo</p>
    <hr class="mt-0 mb-5" style="background-color:#C4C4C4">
    <!-- Linha adm ------------------------------->


    <!-- 1° linha de cards documentos ------------>
    <div class="row justify-content-start mt-5">

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Administrativo</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#004E8C;">AD</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Cobrança</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#4F6BED;">CB</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Controladoria</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#8764B8;">CT</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Gestão de Pessoas</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#038387;">GP</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Gestão de Risco</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#986F0B;">GR</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Retaguarda</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#004E8C;">RG</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Tecnologia</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#0273EB;">TI</div>

        </div>

    </div>
    <!-- 1° linha de cards documentos ------------>


    <!-- Linha adm ------------------------------->
    <p  style="margin-top:20px; margin-bottom:0px">Operacional</p>
    <hr class="mt-0 mb-5" style="background-color:#C4C4C4">
    <!-- Linha adm ------------------------------->


    <!-- 2° linha de cards documentos ------------>
    <div class="row justify-content-start mb-5">

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Cadastro</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#0273EB;">CA</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Crédito</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#498205;">CR</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Financeiro</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#8764B8;">FI</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade Produtos e Serviços</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#038387;">CR</div>

        </div>

        <div class="col-2 mb-5 position-relative">

            <a class="links-dep"
               type="button">

                <div class="card-buttons" style="text-align:center;">

                    <h6 class="pt-3">Unidade PA Digital</h6>
                    <hr>
                    <h4>ACESSAR</h4>

                </div>

            </a>

            <div class="icon-dep" style="background-color:#986F0B;">CR</div>

        </div>

    </div>
    <!-- 2° linha de cards documentos ------------>

</div>


{% endblock %}