{% extends 'ccis/base.html' %}
{% load static %}


{% block conteudo %}

<style>
    .body{
        margin-top:20px;
        background:#eee;
    }

    .team-style1 {
        position: relative;
        display: block;
        overflow: hidden
    }

    .team-style1 img {
    width: 100%; /* Ajusta a imagem para preencher o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

    .team-style1 .team-info {
        bottom: 15px;
        left: 15px;
        right: 15px;
        border-radius: 5px;
        transform: translate3d(0px, 0%, 0px);
        transition: all 800ms ease 0.35s;
        padding: 10px;
        box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
        background: #ffffff;
        position: absolute
    }

    .team-style1 .team-overlay {
        left: 15px;
        right: 15px;
        opacity: 1;
        padding: 0 20px;
        position: absolute;
        top: 15px;
        bottom: 15px;
        transform: translate3d(0px, -110%, 0px);
        transition: all 500ms ease 0.35s;
        box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1)
    }

    .team-style1:hover .team-overlay {
        transform: translate3d(0px, 0, 0px);
        transition-delay: 0.1s;
        background: rgba(47,191,167,0.9);
        border-radius: 5px
    }

    .team-style1:hover .team-info {
        transform: translate3d(0px, 130px, 0px);
        transition-delay: 0.2s
    }

    .team-bg-shape img {
        position: absolute;
        top: -40px;
        right: -40px;
        z-index: 0
    }

    a {
    text-decoration:none;
    }
</style>

<div class="container-fluid scrollable-content">

    <div class="row position-relative mt-n1-9">

        <div class="col-2">
            <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                <img src="{% static 'ccis/testedev.png' %}" alt="...">

                <div class="team-info">
                    <h3 class="text-primary mb-1 h4">Contabilidade</h3>
                    <span class="font-weight-600 text-secondary">Gestão & Controle</span>
                </div>

                <div class="team-overlay">
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle">
                            <a href="{% url 'contabilidade' %}" class="text-white">
                                <h5>Contabilidade</h5>
                                <p style="font-size: 13px;">Acompanhamento de Orçamentos e<br>Relatórios Contábeis</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-2">
            <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                <img src="{% static 'ccis/testedev2.png' %}" alt="...">

                <div class="team-info">
                    <h4 class="text-primary mb-1 h4">OQS</h4>
                    <span class="font-weight-600 text-secondary">Gestão & Controle</span>
                </div>

                <div class="team-overlay">
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle">
                            <a href="{% url 'qqs' %}" class="text-white">
                                <h4>OQS</h4>
                                <p style="font-size: 13px;">Principais Números,<br>Análise Quantitativa e<br> Análise
                                    Qualitativa</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-2">
            <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                <img src="{% static 'ccis/testedev2.png' %}" alt="...">

                <div class="team-info">
                    <h3 class="text-primary mb-1 h4">Planejamento Estrarégico</h3>
                    <span class="font-weight-600 text-secondary">Gestão & Controle</span>
                </div>

                <div class="team-overlay">
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle">
                            <a href="#" class="text-white">
                                <h5>Planejamento Estratégico</h5>
                                <p style="font-size: 13px;">Principais Números,<br>Análise Quantitativa e<br> Análise
                                    Qualitativa</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}