{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <div class="row mt-2">

        <!-- Menu -------------------------------->
        <div class="col-1 menu-request p-2">
            <h6 style="text-align: center;" class="pt-3 pb-2">FILTRO</h6>
            <!--Botões----------------------->
            <ul class="ul-novo-solicit mt-3 ">
                <li class="li-novo-solicit">
                    <a href="" class="link-solicit">
                        Todos
                    </a>
                </li>

                <li class="li-novo-solicit">
                    <a href="" class="link-solicit">
                        Abertos
                    </a>
                </li>

                <li class="li-novo-solicit">
                    <a href="" class="link-solicit">
                        Fechados
                    </a>
                </li>

                <li class="li-novo-solicit">
                    <a href="" class="link-solicit">
                        Concluído
                    </a>
                </li>
            </ul>
            <!--Botões end----------------------->
        </div>
        <!-- Menu -------------------------------->

        <!--Solicitações--------------------->
        <div class="col-3 menu-request p-0">
            <h6 class="mb-4 pt-4 ps-2">SOLICITAÇÕES</h6>

            {% for card in cards %}
            <!--bottons solicit--------------------->
            <div class="">
                <a href="" class="list-group-item list-group-item-action" aria-current="true"
                   data-card-id="{{ card.id }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-2">{{ card.assunto }} / {{ card.service }} </h6>
                        <div class="" style="font-size: 13px;">
                            {{ card.dataCriacao|timesince }} Atrás
                        </div>
                    </div>

                    <small class="mb-2">Departamento {{ card.cardsetorhistory_set.first.setor_atual }}</small>
                </a>
            </div>
            <!--bottons solicit end--------------------->
            {% endfor %}

        </div>
        <!--Solicitações--------------------->

        <!--Campo de visualização--------------------->
        <div id="formulario-content" class="col menu-request ">
            <h6 style="border-bottom: 1px solid #ccc; padding-bottom: 23px;"></h6>

        </div>
        <!--Campo de visualização--------------------->
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const cardButtons = document.querySelectorAll(".list-group-item");

        cardButtons.forEach(button => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const cardId = this.getAttribute("data-card-id");
                // Agora você pode fazer uma solicitação AJAX ao servidor para obter os detalhes do card com o cardId e, em seguida, atualizar o elemento "#formulario-content" com os detalhes do card.
                // Exemplo:
                fetch(`/get_card_details/${cardId}/`)
                    .then(response => response.json())
                    .then(data => {
                        // Atualize o elemento "#formulario-content" com os detalhes do card
                        const formularioContent = document.querySelector("#formulario-content");
                        formularioContent.innerHTML = `
                            <h6 style="border-bottom: 1px solid #ccc; padding-bottom: 23px;"></h6>
                            <!-- Exibir os detalhes do card aqui, usando os dados recebidos de data -->
                        `;
                    })
                    .catch(error => {
                        console.error("Erro ao obter detalhes do card:", error);
                    });
            });
        });
    });
</script>



{% endblock %}