{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">
    <div class="row mt-2">
        <!-- Menu de filtragem -------------------------------->
        <div class="col-1 menu-request p-2">
            <h6 style="text-align: center;" class="pt-3 pb-2">FILTRO</h6>
            <!--Botões----------------------->
            <ul class="ul-novo-solicit mt-3 ">
                <li class="li-novo-solicit">
                    <a href="" class="link-solicit">
                        Todos
                    </a>
                </li>
                <!-- Adicione os outros filtros aqui -->
            </ul>
            <!--Botões de filtragem end----------------------->
        </div>
        <!-- Menu -------------------------------->

        <!-- Solicitações ------------------------->
        <div class="col-3 menu-request p-0">
            <h6 class="mb-4 pt-4 ps-2">SOLICITAÇÕES</h6>
            {% for card in cards %}
            <div style="text-decoration: none;" class="list-group-item" id="btn_request_{{ card.id }}"
                 data-card-id="{{ card.id }}">
                <a href="#" class="list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-2">{{ card.assunto }} / {{ card.service }}</h6>
                        <div style="font-size: 13px;">{{ card.dataCriacao|timesince }} Atrás</div>
                    </div>
                    <small class="mb-2">Departamento {{ card.cardsetorhistory_set.first.setor_atual }}</small>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Solicitações ------------------------->

        <!-- Campo de visualização ---------------->
        <div id="formulario1" class="col menu-request" style="display: none;">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title me-1" id="assuntoInfo"></h5>
                <span class="ms-2" style="color: gray;" id="servicoInfo"></span>
                <span class="ms-2" style="color: gray;" id="departamentoInfo"></span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- header -->

            <!-- Exibição das mensagens -->
            <div class="card-message">
                <ul id="cardMessages">
                    <!-- Aqui aparecerão as mensagens -->
                </ul>
            </div>
        </div>
        <!-- Campo de visualização ---------------->

    </div>
</div>

{% endblock %}

<script>
    fetch(`/get_card_details/${cardId}/`)
    .then(response => response.json())
    .then(data => {
        const formulario1 = document.getElementById("formulario1");
        const assuntoInfo = formulario1.querySelector('#assuntoInfo');
        const servicoInfo = formulario1.querySelector('#servicoInfo');
        const departamentoInfo = formulario1.querySelector('#departamentoInfo');
        const cardMessages = formulario1.querySelector('#cardMessages');

        assuntoInfo.textContent = data.card.assunto;
        servicoInfo.textContent = data.card.service;
        departamentoInfo.textContent = `Departamento ${data.card.cardsetorhistory_set.first.setor_atual}`;

        cardMessages.innerHTML = '';

        data.messages.forEach(message => {
            const li = document.createElement('li');
            li.textContent = message.message;
            cardMessages.appendChild(li);
        });

        formulario1.style.display = "block"; // Exibindo o campo de visualização
    })
    .catch(error => {
        console.error('Erro ao buscar detalhes do card:', error);
    });
</script>