{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <div class="row mt-2">

        <!-- Menu de filtragem -------------------->
        <div class="col-1 menu-request p-2">
            <h6 style="text-align: center;" class="pt-3 pb-2">FILTRO</h6>

            <!--Botões de filtragem start----------------------->
            <ul class="ul-novo-solicit mt-3 ">
                <li class="li-novo-solicit">
                    <a href="" class="link-solicit">
                        Todos
                    </a>
                </li>
            </ul>
            <!--Botões de filtragem end----------------------->

        </div>
        <!-- Menu de filtragem end ---------------->

        <!-- Solicitações ------------------------->
        <div class="col-3 menu-request p-0">
            <h6 class="mb-4 pt-4 ps-2">SOLICITAÇÕES</h6>

            {% for card in cards %}

            <a href="{% url 'get_message_history' card.idCard %}" class="item-action p-2"
            id="solicitacao-{{ card.id }}" data-card-id="{{ card.idCard }}">

                <div class="d-flex flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-2">{{ card.assunto }} / {{ card.service }}</h6>
                        <div style="font-size: 13px;">{{ card.dataCriacao|timesince }} Atrás</div>
                    </div>
                    <small class="mb-2">Departamento {{ card.cardsetorhistory_set.first.setor_atual }}</small>
                    <small class="mb-2">N°{{ card.idCard }}</small>
                </div>
            </a>

            {% endfor %}

        </div>
        <!-- Solicitações ------------------------->


        <!-- Campo de visualização ---------------->
        <div class="col menu-request">
            <div class="visualizacao-solicitacao">
                <h4>Detalhes da Solicitação</h4>
                <div class="detalhes-solicitacao">
                    <h5 id="detalhes-assunto"></h5>
                    <p id="detalhes-mensagens"></p>
                </div>
            </div>
        </div>
        <!-- Campo de visualização ---------------->

    </div>
</div>

{% endblock %}




