<!doctype html>

{% load static %}

<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- link css -->
    <link rel="stylesheet" href="{% static 'ccis/style.css' %}">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/df67e6f5ba.js" crossorigin="anonymous"></script>

</head>

<body>

{% include 'ccis/infoNavbar.html' %}

<!-- topMenu ------------------------------------------>
<nav class="p-0 navbar">

    <div class="container-fluid">

        <!-- Logo do Menu ------------------------>
        <div class="d-flex">
            <a class="navbar-brand ms-5" href="{% url 'home' %}">
                <img src="{% static 'ccis/Grupo 6383.png' %}"
                     alt="logo"
                     width="45"
                     height="auto"
                     class="d-inline-block align-text-center;">

            </a>
            <p class="align-self-center mb-0">Comunicação e Controle Interno</p>
        </div>
        <!-- End Logo do Menu -------------------->

        <!-- Direita do Menu --------------------->
        <div class="navbar-nav-wrap-content-end me-3">

            <ul class="top-buttons m-0">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'saibamais' %}">Sobre</a>
                </li>
                <li>
                    <a href="#footer">Contato</a>
                </li>
                <li>
                    <a href="#footer">Utilitários</a>
                </li>
                <li>
                    <a class="login-button" href="{% url 'login' %}">Login</a>
                </li>
            </ul>

        </div>
        <!-- End Direita do Menu ----------------->

    </div>

</nav>
<!-- End topMenu -------------------------------------->

<!-- Conteúdo ----------------------------------------->
<div class="container-fluid mt-5 p-0">

    <div class="text-center font-sicoob">

        <h2 style="font-family: 'asap semibold'; color: #04343D;">CCIS - Comunicação e Controle Interno Sicoob</h2>
        <p style="font-family: 'asap'; color: #04343D;">Seja muito bem vindo ao CCIS a nova plataforma do Sicoob
            Credibrasília que foi desenvolvida com paixão para trazer mais simplicidade<br>
            e eficiência a todos os nosso colaboradores. Aqui, a tecnologia se une à comunicação de maneira harmoniosa,
            permitindo que <br>
            todos os setores se conectem de forma contínua e otimizada.</p>

        <a class="learn-more" href="{% url 'saibamais' %}">
            SAIBA MAIS
        </a>

    </div>

    <div class="text-center mt-2">

        <img src="{% static 'ccis/Grupo 6384.png' %}"
             alt="logo"
             width="90%"
             height="auto"
             class="d-inline-block align-text-center;">

    </div>

    <!-- Carousel ------------------------------------->
    <div id="carouselExampleDark"
         class="carousel carousel-dark slide mt-3"
         data-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
        </div>


        <!-- Imagens e conteúdo do carousel -------------->
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'ccis/Grupo 6389.png' %}" class="d-block w-100" alt="Cooperar+">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'ccis/gestao.png' %}" class="d-block w-100" alt="Gestão">
            </div>
        </div>

        <!-- Botões de ação ------------------------------>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <!-- Carousel ------------------------------------->


</div>
<!-- Conteúdo ----------------------------------------->

<!-- Footer ------------------------------------------->
<section id="footer">
    <footer class="footer">
        <div class="footer-top py-8">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-8 pe-xxl-10">
                        <div class="row gy-5">

                            <div class="col-6 col-lg-4">
                                <h5 class="text-white footer-title-01">Links</h5>
                                <ul class="list-unstyled footer-link-01 m-0">

                                    <li>
                                        <a class="text-white text-opacity-75"
                                           href="https://portal.sisbr.coop.br/Citrix/XenApp/auth/loggedout.aspx?CTX_MessageType=INFORMATION&CTX_MessageKey=SessionExpired"
                                           target="_blank">
                                            Citrix
                                        </a>
                                    </li>

                                    <li>
                                        <a class="text-white text-opacity-75"
                                           href="https://www.sicoob.com.br/group/sicoob-universidade/jornadas-de-aprendizagem"
                                           target="_blank">
                                            Jornada de Aprendizagem
                                        </a>
                                    </li>

                                    <li>
                                        <a class="text-white text-opacity-75"
                                           href="https://app.credibrasilia.lecom.com.br/sso/?redirectBackTo=https://app.credibrasilia.lecom.com.br:443/bpm/index.jsp"
                                           target="_blank">
                                            Lecom
                                        </a>
                                    </li>

                                    <li>
                                        <a class="text-white text-opacity-75" href="https://apps.neoway.com.br/auth/login"
                                           target="_blank">
                                            Neoway
                                        </a>
                                    </li>

                                    <li>
                                        <a class="text-white text-opacity-75"
                                           href="https://portal.sisbr.coop.br/painel-comercial/pessoa-associado"
                                           target="_blank">
                                            Painel Comercial
                                        </a>
                                    </li>

                                    <li>
                                        <a class=""
                                           href="https://portalmeurh.sicoob.com.br/FrameHTML/web/app/RH/PortalMeuRH/#/login"
                                           target="_blank">
                                            Ponto
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-6 col-lg-4 pt-4">
                                <h5 class="text-white footer-title-01"></h5>
                                <ul class="list-unstyled footer-link-01 m-0">

                                    <li>
                                        <a href="https://atendimento.sisbr.coop.br/tas/public/login/form"
                                           target="_blank">
                                            Portal de serviços CCS
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.sicoobnegocios.com.br/login-usuario.html"
                                           target="_blank">
                                            Sicoob Negócios
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://172.16.2.13/gestaodepessoas" target="_blank">
                                            Sicoob Universidade
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://web.sipag.com.br/sipagnet/emi/site"
                                           target="_blank">
                                            Sipag
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://sisbranalitico.sisbr.coop.br/" target="_blank">
                                            Sisbr Analítico
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-6 col-lg-4">

                                <section class="widget widget-light-skin">

                                    <h3 class="widget-title">App Sisbr Mobile</h3>

                                    <a
                                            class="market-button apple-button mb-light-skin"
                                            href="https://sisbrmobile.sicoob.com.br/sisbr/mobile/"
                                            target="_blank"><span class="mb-subtitle">Download on the</span><span
                                            class="mb-title">Apple</span>
                                    </a>

                                    <a
                                            class="market-button google-button mb-light-skin"
                                            href="https://sisbrmobile.sicoob.com.br/sisbr/mobile/"
                                            target="_blank"><span
                                            class="mb-subtitle">Download on the</span><span class="mb-title">Android</span>
                                    </a>

                                </section>

                            </div>

                        </div>
                    </div>

                    <div class="col-4 sicoob ps-5">
                        <div class="me-4">
                            <img src="{% static 'ccis/LOGO2.png' %}"
                                 alt="logo"
                                 width="350px"
                                 height="auto">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 text-center text-md-start py-1">
                        <p class="m-0 text-white text-opacity-75">© 2011 Centro Cooperativo Sicoob - Todos os Direitos
                            Reservados. <a class="text-reset" href="#">Intranet.com.br</a>
                        </p>
                    </div>

                    <div class="col-md-6 text-center text-md-end py-1">

                        <ul class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">

                            <li class="p-0 mx-3 ms-md-0 me-md-3">
                                <a href="#" class="text-white text-opacity-75">Política &amp; Privacidade</a>
                            </li>

                            <li class="p-0 mx-3 ms-md-0 me-md-3">
                                <a href="{% url 'new_request' %}" class="text-white text-opacity-75">Faq's</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!-- Footer ------------------------------------------->


<!-- link js ------------------------------------------>
<script src="{% static 'ccis/script.js' %}"></script>

<!-- Option 1: Bootstrap Bundle with Popper ----------->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>

</body>
</html>

<script>

    const snowflakes = 200;

    for (let i = 0; i < snowflakes; i++) {
        const snowflake = document.createElement('i');
        snowflake.classList.add('fas', 'fa-snowflake'); // Se usar Font Awesome
        snowflake.style.left = `${Math.random() * 100}%`;
        snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`;
        snowflake.style.opacity = Math.random();
        document.querySelector('.snow').appendChild(snowflake);
    }

</script>