
<!-- info menu ----------------------------------------------------------------------->
<nav class="navbar infoTopBar p-0">
            <div class="container-fluid">

                <div class="justify-content-left">
                    <span>BETA</span> <span>Versão 0.73</span>
                </div>

                <div class="nav justify-content-end" style="width: 400px;">
                    <marquee behavior="slade" direction="left">

                        <span style="color: white;">{{ descricao|capfirst }} em {{ cidade }} | Temperatura de {{ temperatura|floatformat:0 }} ºC |
                            Umidade relativa do ar de {{ umidade }} ºC com |
                            Minima de {{ minima|floatformat:0 }}ºC e Máxima de {{ maxima|floatformat:0 }}ºC</span>

                        <span style="color: #C7D300;">-------</span>

                        <span style="color: white;"></span>

                    </marquee>
                </div>

            </div>

        </nav>
<!-- info menu ----------------------------------------------------------------------->