
<!-- info menu ----------------------------------------------------------------------->
<nav class="navbar infoTopBar p-0">
            <div class="container-fluid">

                <div class="justify-content-left">
                    <span>BETA</span> <span>Versão 0.73</span>
                </div>

                <div class="nav justify-content-end" style="width: 400px;">
                    <marquee behavior="slade" direction="left">

                        <span style="color: white;">Alerta laranja clima seco em Brasília 24ºC </span>

                    </marquee>
                </div>

            </div>

        </nav>
<!-- info menu ----------------------------------------------------------------------->