{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

{% if dados.canvas %}
<img class="profile-img" src="{{ dados.canvas.url }}">
{% else %}
<img id="backgroundImage" src="{% static 'ccis/backgroundPro.jpg' %}" class="kanban-container">
{% endif %}

<!--Container------------------------------------->
<div class="container-fluid scrollable-content">

    <!-- Menu settings --------->
    <div class="row mt-1">

        <!-- Home e Area de trabalho --------->
        <div class="col d-flex">

            <a href="{% url group_info.url_home %}" class="btn-menu-settings">
                <i class="fa-solid fa-house"></i>
                Home
            </a>

            <div class="ms-3 dropdown">

                <button class="drop-menu-settings dropdown-toggle" type="button" id="dropdownMenuSettings"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Área de Trabalho
                </button>

                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuSettings">
                    {% for grupo in grupos_usuario %}
                        <li class="dropdown-item-group dropdown-item" data-value="{{ grupo.name }}">
                            {{ grupo.name }}
                        </li>
                    {% endfor %}
                    <li><a class="dropdown-item" href="{% url 'kanban_user' %}">Minhas solicitações</a></li>
                </ul>


            </div>

            <div class="text-menu-settings">
                <h5 class="m-0" id="area-trabalho-kanban"></h5>
            </div>

        </div>
        <!-- Home e Area de trabalho --------->

        <!-- Equipe -------------------------->
        <div class="col col-auto me-auto d-flex">

            <!-- Equipe -------------------------->
            <div class="avatar-group avatar-group-sm avatar-group-overlapped" id="avatar-group">
                {% for usuario in equipe %}
                {% if forloop.counter <= 5 %}
                <a href="{% url 'profile' user_id=usuario.id %}" class="avatar">
                    {% if usuario.foto %}
                    <img src="{{ usuario.foto.url }}" alt="user" class="avatar-img rounded-circle">
                    {% else %}
                    {% if usuario.sexo == "Masculino" %}
                    <img src="{% static 'ccis/avatar.jpg' %}" alt="user" class="avatar-img rounded-circle">
                    {% elif usuario.sexo == "Feminino" %}
                    <img src="{% static 'ccis/avatar-feminino.jpg' %}" alt="user" class="avatar-img rounded-circle">
                    {% endif %}
                    {% endif %}
                </a>
                {% endif %}
                {% endfor %}
                <a href="#" class="avatar {% if equipe|length <= 5 %}hidden{% endif %}" id="avatar-87"
                   style="cursor: pointer;">
                    <span class="avatar-text avatar-text-green rounded-circle">
                        <span class="initial-wrap">
                            {% if equipe|length > 5 %}
                                <span>{{ equipe|length|add:"-5" }}+</span>
                            {% endif %}
                        </span>
                    </span>
                </a>
            </div>
            <!-- Equipe -------------------------->

        </div>
        <!-- Equipe ------------------------------>

        <!-- Filtros ----------------------------->
        <div class="col d-flex col-auto">

            <!-- Configurações ------------------->
            <button class="ms-3 btn-personalize-settings me-3" type="button" data-bs-toggle="modal"
                    data-bs-target="#temasModal"><i class="fa-solid fa-gear"></i>
            </button>
            <!-- Configurações ------------------->

            <!-- Filtro -------------------------->
            <div class="dropdown">
                <button class="btn-menu-settings" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fa-solid fa-filter"></i>
                    Filtro
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">

                    <!-- Titulo Filtro ----------->
                    <div style="text-align: center;">
                        <h6>
                            Filtro
                            <span class="pe-3" style="float: right; cursor: pointer;"
                                  onclick="fecharDropdown()">X</span>
                        </h6>
                    </div>
                    <!-- Titulo Filtro ----------->

                    <!-- input ------------------->
                    <div class="p-3">
                        <span>Palavra Chave:</span>
                        <input class="bg-dark palavra-passe" type="text" id="palavra-passe" name="palavra-passe"
                               required>
                        <span style="font-size: 12px; color: #999999">Pesquise por assunto, serviço, atendente e N° do card...</span>
                    </div>
                    <!-- input ------------------->

                    <!-- Membros ----------------->
                    <div class="p-3">
                        <span>Membros</span>

                        <!--foto perfil-->
                        <div class="d-flex">

                            <div class="nav-photo-filter">

                                {% if user_data.logFoto %}
                                <img class="nav-photo-filter" src="{{ user_data.logFoto.url }}">

                                {% else %}

                                {% if user_data.logSexo == "Masculino" %}
                                <img class="nav-photo-filter"
                                     src="{% static 'ccis/avatar.jpg' %}">

                                {% elif user_data.logSexo == "Feminino" %}
                                <img class="nav-photo-filter"
                                     src="{% static 'ccis/avatar-feminino.jpg' %}">

                                {% endif %}

                                {% endif %}

                            </div>

                            <div class="ms-3 mt-1 form-check">
                                <input class="bg-dark form-check-input" type="checkbox" value=""
                                       id="flexCheckResponsavel" onchange="filtrarCardsPorResponsavel()">
                                <label class="form-check-label" for="flexCheckResponsavel">Atribuídos por mim</label>
                            </div>

                        </div>
                    </div>
                    <!-- Membros ----------------->

                    <!-- Data -------------------->
                    <div class="p-3">

                        <span>Data de entrega</span>

                        <div class="form-check">
                            <input class="bg-dark form-check-input" type="checkbox" value="" id="data1">
                            <label class="form-check-label" for="data1">
                                <i style="color: #037C28;" class="fa-solid fa-clock"></i>
                                Sem Data
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="bg-dark form-check-input" type="checkbox" value="" id="data2">
                            <label class="form-check-label" for="data2">
                                <i style="color: #A37C00;" class="fa-solid fa-clock"></i>
                                Pendente
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="bg-dark form-check-input" type="checkbox" value="" id="data3">
                            <label class="form-check-label" for="data3">
                                <i style="color: #AE2E24;" class="fa-solid fa-clock"></i>
                                Em atraso
                            </label>
                        </div>
                    </div>
                    <!-- Data -------------------->

                    <!-- Etiquetas --------------->
                    <div class="p-3">
                        <span>Prioridade</span>

                        <div class="form-check">
                            <input class="bg-dark form-check-input" type="checkbox" value="" id="etiqueta1">
                            <label style="background-color: #037C28; border-radius: 3px; padding: 2px 207px 2px 10px;"
                                   class="form-check-label" for="etiqueta1">
                                Baixa
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="bg-dark form-check-input" type="checkbox" value="" id="etiqueta2">
                            <label style="background-color: #A37C00; border-radius: 3px; padding: 2px 200px 2px 10px;"
                                   class="form-check-label" for="etiqueta2">
                                Média
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="bg-dark form-check-input" type="checkbox" value="" id="etiqueta3">
                            <label style="background-color: #AE2E24; border-radius: 3px; padding: 2px 216px 2px 10px;"
                                   class="form-check-label" for="etiqueta3">
                                Alta
                            </label>
                        </div>

                    </div>
                    <!-- Etiquetas --------------->

                </ul>

            </div>
            <!-- Filtro -------------------------->

            <!-- Pesquisa Rápida ----------------->
            <div class="position-relative">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="search" class="search-menu-settings ms-3" placeholder="Digite sua pesquisa..."
                       aria-label="Search" id="inputUser" onkeyup="filterProcesses()">
            </div>
            <!-- Pesquisa Rápida ----------------->

        </div>
        <!-- Filtros ----------------------------->

    </div>
    <!-- Menu settings --------------------------->


    <!-- kanban ---------------------------------->
    <div class="row mt-4">

        <!-- Triagem ----------------------------->
        <div class="col">
            <div class="kanban-title">
                <div class="row">
                    <div class="col-auto me-auto"><i class="fa-solid fa-check-to-slot"></i> Triagem</div>
                    <div class="col-auto"></div>
                </div>
            </div>
            <div id="kanban-body-triagem" class="kanban-body">
            </div>
            <div class="kanban-footer">
                <a type="button" class="kanban-btn">+ Adicionar um lembrete</a>
            </div>
        </div>
        <!-- Triagem ----------------------------->

        <!-- Em atendimento ---------------------->
        <div class="col">
            <div class="kanban-title">
                <div class="row">
                    <div class="col-auto me-auto"><i class="fa-solid fa-bars-progress"></i> Em Atendimento</div>
                    <div class="col-auto"></div>
                </div>
            </div>
            <div id="kanban-body-atendimento" class="kanban-body">
            </div>
            <div class="kanban-footer">
                <a type="button" class="kanban-btn">+ Adicionar um lembrete</a>
            </div>
        </div>
        <!-- Em atendimento ---------------------->

        <!-- Encaminhado ------------------------->
        <div class="col">
            <div class="kanban-title">
                <div class="row">
                    <div class="col-auto me-auto"><i class="fa-solid fa-angles-right"></i> Encaminhado</div>
                    <div class="col-auto"></div>
                </div>
            </div>
            <div id="kanban-body-encaminhado" class="kanban-body">
            </div>
            <div class="kanban-footer">
                <a type="button" class="kanban-btn">+ Adicionar um lembrete</a>
            </div>
        </div>
        <!-- Encaminhado ------------------------->

        <!-- Concluido --------------------------->
        <div class="col">
            <div class="kanban-title">
                <div class="row">
                    <div class="col-auto me-auto"><i class="fa-solid fa-square-check"></i> Concluido</div>
                    <div class="col-auto"></div>
                </div>
            </div>
            <div id="kanban-body-concluido" class="kanban-body">
            </div>
            <div class="kanban-footer">
                <a type="button" class="kanban-btn">+ Adicionar um lembrete</a>
            </div>
        </div>
        <!-- Concluido --------------------------->

        <!-- Finalizado -------------------------->
        <div class="col">
            <div class="kanban-title">
                <div class="row">
                    <div class="col-auto me-auto"><i class="fa-solid fa-check-double"></i> Finalizado</div>
                    <div class="col-auto"></div>
                </div>
            </div>
            <div id="kanban-body-finalizado" class="kanban-body">
            </div>
            <div class="kanban-footer">
                <a type="button" class="kanban-btn">+ Adicionar um lembrete</a>
            </div>
        </div>
        <!-- Finalizado -------------------------->

    </div>
    <!-- kanban ---------------------------------->


    <!-- Modal Equipe ---------------------------->
    <div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="perfilModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="perfilModalLabel">Lista de Perfis</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col modal-profile-border p-0">

                            <!-- Equipe -------------------------->
                            {% if equipe %}
                            <div class="">
                                <!-- Supervisor -->
                                {% for ch in chefe %}
                                <a href="{% url 'profile' user_id=ch.id %}" class="list-group-item-action" style="border-bottom: 1px solid; border-color: rgb(235,235,235);
                                           display: block; padding: 0.5rem 1rem; text-decoration: none;">

                                    <div class="align-horizontal-center">

                                        {% if ch.foto %}
                                        <img class="avatar-img" src="{{ chefe.foto.url }}"
                                             alt="" width="40" height="40">

                                        {% else %}

                                        {% if ch.sexo == "Masculino" %}
                                        <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                             alt="" width="40" height="40">

                                        {% elif ch.sexo == "Feminino" %}
                                        <img class="avatar-img" src="{% static 'ccis/avatar-feminino.jpg' %}"
                                             alt="" width="40" height="40">
                                        {% endif %}

                                        {% endif %}

                                        <div class="ps-2">
                                            <h6 class="m-0">{{ ch.first_name }} {{ch.last_name}}</h6>
                                            <small class="m-0">{{ ch.cargo }}</small>
                                        </div>

                                    </div>

                                </a>
                                {% endfor %}
                                <!-- Supervisor -->

                                <!-- Membros -->
                                {% for usuario in equipe %}
                                <a href="{% url 'profile' user_id=usuario.id %}" class="list-group-item-action"
                                   style="border-bottom: 1px solid; border-color: rgb(235,235,235);
                                           display: block; padding: 0.5rem 1rem; text-decoration: none;">

                                    <div class="align-horizontal-center">

                                        {% if usuario.foto %}
                                        <img class="avatar-img" src="{{ usuario.foto.url }}"
                                             alt="" width="40" height="40">

                                        {% else %}

                                        {% if usuario.sexo == "Masculino" %}
                                        <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                             alt="" width="40" height="40">

                                        {% elif usuario.sexo == "Feminino" %}
                                        <img class="avatar-img" src="{% static 'ccis/avatar-feminino.jpg' %}"
                                             alt="" width="40" height="40">
                                        {% endif %}

                                        {% endif %}


                                        <div class="ps-2">
                                            <h6 class="m-0">{{ usuario.first_name }} {{usuario.last_name}}</h6>
                                            <small class="m-0">{{ usuario.cargo }}</small>
                                        </div>

                                    </div>

                                </a>
                                {% endfor %}
                                <!-- Membros -->
                            </div>
                            {% endif %}
                            <!-- Equipe -------------------------->

                        </div>
                    </div>
                    <footer>
                        <button id="fecharModal" class="btn btn-secondary mt-3">Fechar</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Equipe ---------------------------->

    <!-- Modal Processos ------------------------->
    <div class="modal fade"
         id="processoModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">


        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- header --------------------->
                <div class="modal-header">

                    <h5 class="modal-title me-1" id="assuntoInfo"></h5>
                    <span class="ms-2" style="color:gray;" id="servicoInfo"></span>


                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <!-- header --------------------->


                <!-- body ----------------------->
                <div class="modal-body">

                    <div class="row">

                        <!-- informações -->
                        <div class="col-4 overflow-auto" style="border-right:1px solid #818181">


                            <div class="col-auto me-auto">

                                <span class="processo-tag-cod" id="codInfo"></span>
                                <span class="processo-tag-setor" id="sectorInfo"></span>

                            </div>


                            <h6 class="mt-2">Informações da solicitação</h6>

                            <hr class="linha-custom">


                            <div class="mt-2 overflow-auto accordion accordion-flush" id="accordionFlushExample"
                                 style="max-height:330px;">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                            Dados do Solicitante
                                        </button>
                                    </h2>


                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

                                        <div class="card-body-custom">

                                            <ul class="card-ul">

                                                <li class="card-li">
                                                    <i class="fa-solid fa-user card-icon"></i>
                                                    <span id="nomeSolicitante"></span>
                                                </li>

                                                <li class="">
                                                    <i class="fa-solid fa-briefcase card-icon"></i>
                                                    <span id="loginSolicitante"></span>
                                                </li>


                                                <li class="card-li">
                                                    <i class="fa-solid fa-at card-icon"></i>
                                                    <span id="emailSolicitante"></span>
                                                </li>

                                                <li class="card-li">
                                                    <i class="fa-solid fa-location-dot card-icon"></i>
                                                    <span id="areaSolicitante"></span>
                                                </li>

                                                <li class="card-li">
                                                    <i class="fa-sharp fa-solid fa-address-book card-icon"></i>
                                                    <span id="ramalSolicitante"></span>
                                                </li>

                                            </ul>

                                        </div>


                                    </div>


                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Compartilhamento
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">


                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                            Historico
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingThree"
                                         data-bs-parent="#accordionFlushExample">

                                        <div class="d-flex container-buttons" onwheel="handleScroll(event)">
                                            <!-- span com os historicos aqui -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- informações -->


                        <!-- message ------------>
                        <div class="col-6" style="border-right:1px solid #818181;">

                            <!-- cabeçalho ------>
                            <div>

                                <div class="row">
                                    <div class="col-auto me-auto">
                                        <small><i class="fa-solid fa-clock"></i>
                                            <span id="horarioAbertura"></span>
                                        </small>
                                    </div>
                                    <div class="col-auto">

                                        <a type="button" id="PersonalizarCard">
                                            <span class="processo-tag-cor">
                                                <i class="fa-solid fa-brush"></i>
                                                Personalizar
                                            </span>
                                        </a>

                                    </div>
                                </div>


                                <h6 class="mt-2">Descrição</h6>

                                <hr class="linha-custom">
                            </div>
                            <!-- cabeçalho ------>


                            <!-- Descrição ------>
                            <div class="overflow-auto" style=" max-height:200px">

                                <!-- Chat ---------->
                                <div class="messages-container mt-2 p-2">

                                    <div class="message-item">

                                        <!-- Cabeçalho -->
                                        <div class="row pt-1">

                                            <div class="col-auto me-auto">

                                                <h6 id="nomeRemetente"></h6>

                                            </div>


                                            <div class="col-auto">
                                                <small id="dataRemetente"></small>
                                            </div>


                                        </div>
                                        <!-- Cabeçalho -->

                                        <!-- texto -->
                                        <div class="p-2">
                                            <p id="messageContainer"></p>
                                        </div>
                                        <!-- texto -->

                                    </div>

                                </div>
                                <!-- Chat ---------->

                            </div>
                            <!-- Descrição ------>


                            <!-- Resposta ------>
                            <div class="containerResposta mt-2" style="background-color:#fff">
                                <form id="" enctype="multipart/form-data">
                                    <div class="form-group">

                                        <textarea class="form-control" placeholder="Responder" id="resposta" rows="3"
                                                  cols="70" required></textarea>

                                    </div>
                                    <div class=" form-group pt-2">
                                        <input type="file" id="attachmentInput" name="attachmentInput">
                                    </div>

                                </form>
                            </div>
                            <!-- Resposta ------>


                        </div>
                        <!-- message ------------>


                        <!-- Ações -------------->
                        <div class="col">

                            <h5 class="text-center p-2">AÇÕES</h5>

                            <hr style="color:#C4C0C0">

                            <ul class="ul-menu-request buttons-Acao">

                                <li class="li-menu-request">
                                    <a type="button" id="registrarAtendimentoButton" class="modal-processo-link"
                                       aria-current="page">
                                        <i class="fa-solid fa-phone-volume"></i>
                                        Atender
                                    </a>
                                </li>


                                <li class="li-menu-request">
                                    <a type="button" id="enviarMensagemButton" class="modal-processo-link"
                                       aria-current="page">
                                        <i class="fa-solid fa-paper-plane"></i>
                                        Responder
                                    </a>
                                </li>


                                <li class="li-menu-request">
                                    <a type="button" id="encaminharCardButton" class="modal-processo-link"
                                       aria-current="page">
                                        <i class="fa-solid fa-angles-right"></i>
                                        Encaminhar
                                    </a>
                                </li>


                                <li class="li-menu-request">
                                    <a type="button" id="transferirCardButton" class="modal-processo-link"
                                       aria-current="page">
                                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                        Transferir
                                    </a>
                                </li>


                                <li class="li-menu-request" style="margin-top:120px">
                                    <a type="button" id="ConcluirCardButton" class="modal-processo-link btn-done"
                                       aria-current="page">
                                        <i class="fa-solid fa-check"></i>
                                        Concluir
                                    </a>
                                </li>


                            </ul>

                        </div>
                        <!-- Ações -------------->

                    </div>


                </div>
                <!-- body ----------------------->


                <!-- footer --------------------->
                <div class="modal-footer">

                    <div class="col-10">

                        <i class="fa-solid fa-phone-volume"></i>
                        <span id="nomeResponsavel"></span>

                    </div>

                    <div class="col">

                    </div>

                </div>
                <!-- footer --------------------->

            </div>
        </div>
    </div>
    <!-- Modal Processos ------------------------->


    <!-- Modal encaminhar ------------------------>
    <div class="modal" id="modalSelecaoSetor" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Encaminhar Processo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="p-3">
                    <label>Selecione o grupo *:</label>
                    <select id="seletorGrupo" class="form-select" required>
                        {% for grupo in group %}
                        <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="confirmarEncaminhamento" type="submit" class="btn btn-primary">Confirmar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal encaminhar ------------------------>


    <!-- Modal Transferir ------------------------>
    <div class="modal" id="modalSelecaoSetorTrans" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Transferir Processo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="p-3">
                    <label>Selecione o grupo *:</label>
                    <select id="seletorGrupoTrans" class="form-select" required>
                        {% for grupo in group %}
                        <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="confirmarTransferencia" type="submit" class="btn btn-primary">Confirmar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Transferir ------------------------>


    <!-- Modal cor ------------------------>
    <div class="modal" id="modalSelecaoCor" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Personalizar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="col p-3">
                    <label>Selecione a Cor Do Card*:</label>
                    <select id="seletorCor" class="form-select" required>

                        <option></option>
                        <option value="#f6f6f6">Padão</option>
                        <option value="#FFCECE">Vermelho</option>
                        <option value="#CEDFFF">Azul</option>
                        <option value="#CEFFD3">Verde</option>
                        <option value="#FFFCA7">Amarelo</option>

                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="confirmarCor" type="submit" class="btn btn-primary">Confirmar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal cor ------------------------------->


    <!-- Modal Temas e Hora ---------------------->
    <div class="modal fade" id="temasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Configurações</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <!-- Determinar Hora --------->
                    <div class="mt-3">

                        <!-- Titulo Clock ------------>
                        <h6>Horários</h6>
                        <!-- Titulo Clock ------------>

                        <!-- Forms Clock-------------->
                        <div class="row">
                            <div class="col-6 p-3">
                                <span>Atenção: <i style="color: #A37C00;" class="fa-solid fa-clock"></i></span>
                                {{ clock.service }}
                            </div>
                            <div class="col p-3">
                                <span>Atraso: <i style="color: #AE2E24;" class="fa-solid fa-clock"></i></span>
                                {{ clock.assunto }}
                            </div>
                        </div>
                        <!-- Forms Clock-------------->

                    </div>
                    <!-- Determinar Hora --------->
                    <footer>
                        <button class="btn btn-primary">Confirmar</button>
                    </footer>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Temas e Hora ---------------------->


    <div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>

</div>
<!--Container------------------------------------->



<script>
    var userData = {
        userId: {{ user_data.log_id }},
        userGroup: '{{ user_data.logGroup }}',
    };

    document.getElementById('avatar-87').addEventListener('click', function() {
        if ($('#avatar-87').hasClass('hidden')) {
            return; // Evitar abrir o modal se o avatar-87 estiver escondido
        }


        var equipeCount = {{ equipe|length }};
        if (equipeCount >= 6) {
            equipeCount -= 5; // Subtrai 3 da contagem
            $('#avatar-87 .badge').text(equipeCount); // Atualiza o conteúdo do badge
        }
        $('#perfilModal').modal('show');
    });

    document.getElementById('fecharModal').addEventListener('click', function() {
        $('#perfilModal').modal('hide');
    });

</script>

{% endblock %}

