{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <!-- subMenu --------------------------------->
    <div class="row">

        <nav class="navbar paragrafo-style">
            <div class="container-fluid">

                <div class="navbar-nav-wrap-content-end">

                </div>
            </div>

        </nav>


    </div>
    <!-- End subMenu ----------------------------->


    <!-- Pesquisa table -------------------------->
    <nav class="navbar align-center mb-2 " style="background-color:white">
        <div class="container-fluid pe-1">

            <p class="m-0" style="font-family:Asap Regular; color:#AFAFAF;"> PAINEL DE PROCESSOS</p>

            <div class="navbar-nav-wrap-content-end" style="position: relative;">
                <form class="d-flex">
                    <!-- input de pesquisa ----------------------->
                    <input class="form-control me-2" type="search" placeholder="Pesquisar"
                           aria-label="Search" id="inputUser" onkeyup="filterTable()">

                    <!-- Botão Novo Usuário ---------------------->
                    <button class=""
                            style="position: absolute; top:12%; right: 5%; border:none; color:#AFAFAF; background-color:white"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target=""
                            data-bs-whatever="@mdo"
                            onclick="filterTable()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

        </div>

    </nav>
    <!-- Pesquisa table -------------------------->


    <!-- cabeçalho ------------------------------->
    <div class="row m-0">

        <div class="col me-3 processo-cabecalho" style="background-color:#E0E006; color:#fff">
            <i class="fa-solid fa-check-to-slot"></i>
            Triagem
        </div>

        <div class="col me-3 processo-cabecalho" style="background-color:#2D73FF; color:#fff">
            <i class="fa-solid fa-bars-progress"></i>
            Em Atendimento
        </div>

        <div class="col me-3 processo-cabecalho" style="background-color:#4DD3E8; color:#fff">
            <i class="fa-solid fa-angles-right"></i>
            Encaminhado
        </div>

        <div class="col me-3 processo-cabecalho" style="background-color:#4FD1B8; color:#fff">
            <i class="fa-solid fa-square-check"></i>
            Concluído
        </div>

        <div class="col processo-cabecalho" style="background-color:#d9d9d9; color:#fff">
            <i class="fa-solid fa-square-check"></i>
            Finalizados
        </div>


    </div>
    <!-- cabeçalho ------------------------------->


    <!-- Processo -------------------------------->
    <div class="row ms-0 me-0">

        <!-- Triagem ----------------------------->
        <div class="col me-3 overflow-auto processo-colum pt-2">

            {% for card in cards %}
                {% if card.cardsetorhistory_set.first.setor_atual == "Tecnologia" %}
                    {% if card.cardsetorhistory_set.first.status_atual == "Triagem" %}

                    <!-- card ---------------------------->
                    <a class="d-grid processo-link mb-2"
                       type="button"
                       data-bs-toggle="modal"
                       data-bs-target="#processoModal"
                       data-card-id="{{ card.idCard }}"
                       onclick="loadCardInfo({{ card.idCard }})"
                       id="card-link-{{ card.idCard }}">
                       <!-- Falta uma informação aqui referente ao id -->

                        <div class="processo-card">

                            <div class="row">

                                <div class="col-auto me-auto">
                                    <h5 class="mt-1"> {{ card.assunto }}</h5>

                                </div>

                                <div class="col-auto">
                                    <span class="processo-tag-setor">{{card.cardsetorhistory_set.first.setor_atual }}</span>
                                </div>

                            </div>

                            <hr style="color:#C4C0C0; margin-top:0px;">


                            <div class="col-auto mb-2">
                                <p style="color:#818181;">
                                    {% if card.responsavel %}
                                        <i class="fa-solid fa-user me-1"></i>
                                        {{ card.responsavel.first_name }} {{ card.responsavel.last_name }}
                                    {% else %}
                                    <i class="fa-solid fa-user-slash"></i>
                                    Aguardando ...
                                    {% endif %}


                                </p>
                            </div>


                            <div class="" style="color:#818181; font-size:13px;">

                                <p class="mb-1"><i class="fa-regular fa-circle-dot"></i> {{ card.service }}</p>

                            </div>


                            <div class="row" style="color:#818181; font-size:13px">

                                <div class="col-auto me-auto">
                                    <i class="fa-solid fa-calendar-days"></i> {{ card.dataCriacao|date:"d/m/Y" }}
                                </div>

                                <div class="col-auto">
                                    <i class="fa-solid fa-clock"></i> {{ card.dataCriacao|time:"H:i" }}
                                </div>

                            </div>

                        </div>
                    </a>
                    <!-- card ---------------------------->

                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
        <!-- Triagem ----------------------------->

        <!-- Atendimento ------------------------->
        <div class="col me-3 overflow-auto processo-colum pt-2">

             {% for card in cards %}
                {% if card.sector.id == 1 %}
                    {% if card.colunaAtual == '2' %}
                    <!-- card ---------------------------->
                    <a class="d-grid processo-link mb-2"
                       type="button"
                       data-bs-toggle="modal"
                       data-bs-target="#processoModal">

                        <div class="processo-card">

                            <div class="row">

                                <div class="col-auto me-auto">
                                    <h5 class="mt-1">SISBR</h5>

                                </div>

                                <div class="col-auto">
                                    <span class="processo-tag-setor">Tecnologia</span>
                                </div>

                            </div>

                            <hr style="color:#C4C0C0; margin-top:0px;">


                            <div class="col-auto mb-2">
                                <p style="color:#818181;"><i class="fa-solid fa-user me-1"></i>
                                    Henrique Silva</p>
                            </div>


                            <div class="" style="color:#818181; font-size:13px;">

                                <p class="mb-1"><i class="fa-regular fa-circle-dot"></i>
                                    Redefinição</p>

                            </div>


                            <div class="row" style="color:#818181; font-size:13px">

                                <div class="col-auto me-auto">
                                    <i class="fa-solid fa-calendar-days"></i> 20/09/2023
                                </div>

                                <div class="col-auto">
                                    <i class="fa-solid fa-clock"></i> 14:53
                                </div>

                            </div>

                        </div>
                    </a>
                    <!-- card ---------------------------->
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
        <!-- Atendimento ------------------------->

        <!-- Encaminhamento ---------------------->
        <div class="col me-3 overflow-auto processo-colum pt-2">

             {% for card in cards %}
                {% if card.sector.id == 1 %}
                    {% if card.colunaAtual == '3' %}
                    <!-- card ---------------------------->
                    <a class="d-grid processo-link mb-2"
                       type="button"
                       data-bs-toggle="modal"
                       data-bs-target="#processoModal">

                        <div class="processo-card">

                            <div class="row">

                                <div class="col-auto me-auto">
                                    <h5 class="mt-1">SISBR</h5>

                                </div>

                                <div class="col-auto">
                                    <span class="processo-tag-setor">Tecnologia</span>
                                </div>

                            </div>

                            <hr style="color:#C4C0C0; margin-top:0px;">


                            <div class="col-auto mb-2">
                                <p style="color:#818181;"><i class="fa-solid fa-user me-1"></i>
                                    Henrique Silva</p>
                            </div>


                            <div class="" style="color:#818181; font-size:13px;">

                                <p class="mb-1"><i class="fa-regular fa-circle-dot"></i>
                                    Redefinição</p>

                            </div>


                            <div class="row" style="color:#818181; font-size:13px">

                                <div class="col-auto me-auto">
                                    <i class="fa-solid fa-calendar-days"></i> 20/09/2023
                                </div>

                                <div class="col-auto">
                                    <i class="fa-solid fa-clock"></i> 14:53
                                </div>

                            </div>

                        </div>
                    </a>
                    <!-- card ---------------------------->
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
        <!-- Encaminhamento ---------------------->

        <!-- Concluído --------------------------->
        <div class="col me-3 overflow-auto processo-colum pt-2">

             {% for card in cards %}
                {% if card.sector.id == 1 %}
                    {% if card.colunaAtual == '4' %}
                    <!-- card ---------------------------->
                    <a class="d-grid processo-link mb-2"
                       type="button"
                       data-bs-toggle="modal"
                       data-bs-target="#processoModal">

                        <div class="processo-card">

                            <div class="row">

                                <div class="col-auto me-auto">
                                    <h5 class="mt-1">SISBR</h5>

                                </div>

                                <div class="col-auto">
                                    <span class="processo-tag-setor">Tecnologia</span>
                                </div>

                            </div>

                            <hr style="color:#C4C0C0; margin-top:0px;">


                            <div class="col-auto mb-2">
                                <p style="color:#818181;"><i class="fa-solid fa-user me-1"></i>
                                    Henrique Silva</p>
                            </div>


                            <div class="" style="color:#818181; font-size:13px;">

                                <p class="mb-1"><i class="fa-regular fa-circle-dot"></i>
                                    Redefinição</p>

                            </div>


                            <div class="row" style="color:#818181; font-size:13px">

                                <div class="col-auto me-auto">
                                    <i class="fa-solid fa-calendar-days"></i> 20/09/2023
                                </div>

                                <div class="col-auto">
                                    <i class="fa-solid fa-clock"></i> 14:53
                                </div>

                            </div>

                        </div>
                    </a>
                    <!-- card ---------------------------->
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
        <!-- Concluído --------------------------->

        <!-- Finalizado -------------------------->
        <div class="col  overflow-auto processo-colum pt-2">

             {% for card in cards %}
                {% if card.sector.id == 1 %}
                    {% if card.colunaAtual == '5' %}
                    <!-- card ---------------------------->
                    <a class="d-grid processo-link mb-2"
                       type="button"
                       data-bs-toggle="modal"
                       data-bs-target="#processoModal">

                        <div class="processo-card">

                            <div class="row">

                                <div class="col-auto me-auto">
                                    <h5 class="mt-1">SISBR</h5>

                                </div>

                                <div class="col-auto">
                                    <span class="processo-tag-setor">Tecnologia</span>
                                </div>

                            </div>

                            <hr style="color:#C4C0C0; margin-top:0px;">


                            <div class="col-auto mb-2">
                                <p style="color:#818181;"><i class="fa-solid fa-user me-1"></i>
                                    Henrique Silva</p>
                            </div>


                            <div class="" style="color:#818181; font-size:13px;">

                                <p class="mb-1"><i class="fa-regular fa-circle-dot"></i>
                                    Redefinição</p>

                            </div>


                            <div class="row" style="color:#818181; font-size:13px">

                                <div class="col-auto me-auto">
                                    <i class="fa-solid fa-calendar-days"></i> 20/09/2023
                                </div>

                                <div class="col-auto">
                                    <i class="fa-solid fa-clock"></i> 14:53
                                </div>

                            </div>

                        </div>
                    </a>
                    <!-- card ---------------------------->
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
        <!-- Finalizado -------------------------->

    </div>
    <!-- Processo -------------------------------->


    <!-- Modal Processos ------------------------->
    <div class="modal fade"
         id="processoModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- header --------------------->
                <div class="modal-header">

                    <h5 class="modal-title me-1" id="assuntoInfo"></h5>
                    <span class="ms-2" style="color:gray;" id="servicoInfo"></span>


                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <!-- header --------------------->


                <!-- body ----------------------->
                <div class="modal-body">

                    <div class="row">

                        <!-- Dados solicitante -->
                        <div class="col-4" style="border-right:1px solid #818181">


                            <div class="col-auto me-auto">

                                <span class="processo-tag-cod" id="codInfo"></span>
                                <span class="processo-tag-setor" id="sectorInfo"></span>

                            </div>


                            <h6 class="mt-2">Dados do Solicitante</h6>

                            <hr class="linha-custom">

                            <div class="card-body-custom">

                                <ul class="card-ul">

                                    <li class="card-li">
                                        <i class="fa-solid fa-user card-icon" ></i>
                                        <span id="nomeSolicitante"></span>
                                    </li>

                                    <li class="card-li">
                                        <i class="fa-sharp fa-solid fa-building card-icon"></i>
                                        <span id="cpfSolicitante"></span>
                                    </li>

                                    <li class="">
                                        <i class="fa-solid fa-briefcase card-icon" ></i>
                                        <span id="loginSolicitante"></span>
                                    </li>

                                </ul>

                                <div class="card-text-custom mt-4">CONTATO</div>

                                <ul class="card-ul">

                                    <li class="card-li">
                                        <i class="fa-solid fa-at card-icon"></i>
                                        <span id="emailSolicitante"></span>
                                    </li>

                                    <li class="card-li">
                                        <i class="fa-sharp fa-solid fa-address-book card-icon"></i>
                                        <span id="ramalSolicitante"></span>
                                    </li>

                                    <li class="card-li">
                                        <i class="fa-solid fa-location-dot card-icon"></i>
                                        <span id="areaSolicitante"></span>
                                    </li>

                                </ul>


                            </div>


                            <hr class="linha-custom">


                            <h6 class="mt-2">Histórico</h6>


                            <div class="d-flex container-buttons" onwheel="handleScroll(event)">
                             <!-- span com os historicos aqui -->
                            </div>


                        </div>
                        <!-- Dados solicitante -->


                        <!-- Descrição ---------->
                        <div class="col-6 overflow-auto" style="border-right:1px solid #818181; max-height:400px">

                            <div class="col-auto me-auto">
                                <small><i class="fa-solid fa-clock"></i>
                                    <span id="horarioAbertura"></span>
                                </small>
                            </div>

                            <h6 class="mt-2">Descrição</h6>

                            <hr class="linha-custom">

                            <!-- Chat ---------->
                            <div class="mt-2 p-2" style="background-color:#d9d9d9">

                                <!-- Cabeçalho -->
                                <div class="row pt-2">

                                    <div class="col-auto me-auto">

                                        <h6>
                                            <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                             alt="" width="40" height="40">

                                            Henrique da Silva

                                        </h6>
                                    </div>

                                    <div class="col-auto">
                                        <span>15/09/2023 às 09:44</span>
                                    </div>

                                </div>
                                <!-- Cabeçalho -->

                                <!-- texto -->
                                <div class="p-2">
                                    <p>ola quero redefinir minha senha, e não como faço.
                                    ja tentei de todas as maneiras, mais não vai.
                                        tem como me ajudar


                                    </p>
                                </div>
                                <!-- texto -->

                            </div>

                            <div class="mt-2 p-2" style="background-color:#d9d9d9">

                                <!-- Cabeçalho -->
                                <div class="row pt-2">

                                    <div class="col-auto me-auto">

                                        <h6>
                                            <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                             alt="" width="40" height="40">

                                            Chaves santos

                                        </h6>
                                    </div>

                                    <div class="col-auto">
                                        <span>15/09/2023 às 09:44</span>
                                    </div>

                                </div>
                                <!-- Cabeçalho -->

                                <!-- texto -->
                                <div class="p-2">
                                    <p>ola quero redefinir minha senha, e não como faço.
                                    ja tentei de todas as maneiras, mais não vai.
                                        tem como me ajudar.

                                        ola quero redefinir minha senha, e não como faço.
                                    ja tentei de todas as maneiras, mais não vai.
                                        tem como me ajudar


                                    </p>
                                </div>
                                <!-- texto -->

                            </div>
                            <!-- Chat ---------->


                            <div class="mt-3 mb-2">
                                <label class="form-label">Responder:</label>
                                <textarea id="resposta" style="width: 100%;" name="mensagem" rows="3"></textarea>
                            </div>

                            <div class="mb-3">
                                <input type="file">
                            </div>

                        </div>
                        <!-- Descrição ---------->


                        <!-- Ações -------------->
                        <div class="col">

                            <h5 class="text-center p-2">AÇÕES</h5>

                            <hr style="color:#C4C0C0">

                            <ul class="ul-menu-request">

                                <li class="li-menu-request">
                                    <a type="button" id="At" class="modal-processo-link" aria-current="page">
                                        <i class="fa-solid fa-phone-volume"></i>
                                        Atender
                                    </a>
                                </li>


                                <li class="li-menu-request">
                                    <a type="button" id="Re" class="modal-processo-link" aria-current="page">
                                        <i class="fa-solid fa-paper-plane"></i>
                                        Responder
                                    </a>
                                </li>


                                <li class="li-menu-request">
                                    <a type="button" id="En" class="modal-processo-link"
                                       aria-current="page">
                                        <i class="fa-solid fa-angles-right"></i>
                                        Encaminhar
                                    </a>
                                </li>


                                <li class="li-menu-request">
                                    <a type="button" id="Tr" class="modal-processo-link" aria-current="page">
                                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                        Transferir
                                    </a>
                                </li>


                                <li class="" style="margin-top:45px">


                                    <div class="d-flex" style="justify-content: center;">

                                        <a type="button" name="1" class="star-link">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                        <a type="button" name="2" class="star-link">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                        <a type="button" name="3" class="star-link">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                        <a type="button" name="4" class="star-link">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                        <a type="button" name="5" class="star-link">
                                            <i class="fa-solid fa-star"></i>
                                        </a>

                                    </div>

                                    <p style="font-size:12px; text-align:center">Avaliar este atendimento<br>
                                    <span style="font-size:10px; text-align:center">Sua avaliação é anônima</span>
                                    </p>

                                </li>


                                <li class="li-menu-request mt-1">
                                    <a type="button" id="Fi" class="modal-processo-link btn-finish" aria-current="page">
                                        <i class="fa-solid fa-check-double"></i>
                                        Finalizar
                                    </a>
                                </li>


                            </ul>

                        </div>
                        <!-- Ações -------------->

                    </div>


                </div>
                <!-- body ----------------------->


                <!-- footer --------------------->
                <div class="modal-footer">

                    <div class="col">

                        <i class="fa-solid fa-phone-volume"></i>
                        <span id="nomeResponsavel" >Aguardando atendimento</span>

                    </div>

                </div>
                <!-- footer --------------------->

            </div>
        </div>
    </div>
    <!-- Modal Processos ------------------------->

</div>
{% endblock %}