{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}
<div class="col ms-3">
    <!-- subMenu ---------------------------------------------------------------------------------------------------->
    <div class="row">

        <nav class="navbar navbar-light bg-light mb-2">
          <div class="container-fluid">

            <p class="m-0" style="font-family:Asap medium"> USUÁRIOS <br>
                <small style="font-family:Asap Regular; color:#AFAFAF;">Modulo gestor</small></p>

            <div class="navbar-nav-wrap-content-end">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
            </div>
          </div>

        </nav>


      </div>
    <!-- End subMenu ------------------------------------------------------------------------------------------------>


    <!-- CONTEÚDO DA PG --------------------------------------------------------------------------------------------->

    <div class="row">
        <div style="height:75vh; background-color:#ff00ff" class="col overflow-auto bg-light">



          <!-- card profile enctype="multipart/form-data"-->
          <div class="card">

              <!-- Background - canvas ---------------->
              <label class="">

                <img src="{% static 'ccis/backgroundPro.jpg' %}"
                     class="card-img-top canvas-img" alt="canvas">

                  <input class="button-canvas"
                         id="canvas"
                         name="canvas" type="file"
                         aria-label="file example">

              </label>
              <!-- End Background - canvas ---------------->

              <!-- Avatar --------------------------------->
              <label class="avatar-label">

                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                     alt="Avatar"
                     width="150rem"
                     height="150rem">

                <input class="avatar-profile"
                       type="file" id="avatar"
                       width="150rem"
                       height="150rem">


              </label>
            <!-- End Avatar ----------------------------->


          </div>




        </div>
    </div>

    <!-- END CONTEÚDO ----------------------------------------------------------------------------------------------->

</div>
{% endblock %}


