{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <!-- subMenu ------------------------------------>
    <div class="row">

        <nav class="navbar sub-nav-background mb-2">
          <div class="container-fluid">

            <p class="m-0" style="font-family:Asap medium"> SOLICITAÇÕES <br>

            <div class="navbar-nav-wrap-content-end">
              <form class="d-flex">

              </form>
            </div>
          </div>

        </nav>


      </div>
    <!-- End subMenu -------------------------------->

    <!-- CONTEUDO ----------------------------------->
    <div class="row" >

        <!-- Coluna Esquerda -------------------------------------------------->
        <div class="col-9  ps-0 pe-0" >

            <!-- Card Ferias --------------------->
            <div class="card" style="height:77vh;">
                <div class="card-body">

                    <h4 class="header-title mb-3"> Solicitação de Ferias</h4>

                    <form>

                        <div id="basicwizard">

                            <ul class="nav nav-pills nav-justified form-wizard-header mb-4" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a href="#basictab1" data-bs-toggle="tab" data-toggle="tab"
                                       class="nav-link rounded-0 py-2 active"
                                       aria-selected="true" role="tab">
                                        <i class="mdi mdi-account-circle font-18 align-middle me-1"></i>
                                        <span class="d-none d-sm-inline">Inicio</span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#basictab2" data-bs-toggle="tab" data-toggle="tab"
                                       class="nav-link rounded-0 py-2"
                                       aria-selected="false" role="tab" tabindex="-1">
                                        <i class="mdi mdi-face-man-profile font-18 align-middle me-1"></i>
                                        <span class="d-none d-sm-inline">Período</span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#basictab3" data-bs-toggle="tab" data-toggle="tab"
                                       class="nav-link rounded-0 py-2"
                                       aria-selected="false" role="tab" tabindex="-1">
                                        <i class="mdi mdi-checkbox-marked-circle-outline font-18 align-middle me-1"></i>
                                        <span class="d-none d-sm-inline">Confirmação</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content b-0 mb-0">

                                <div class="tab-pane active show" id="basictab1" role="tabpanel">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row mb-3">

                                                <div class="text-center">
                                                    <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                                    <h3 class="mt-0">Bem Vindo!</h3>

                                                    <p class="w-75 mb-2 mx-auto">Quisque nec turpis at urna dictum
                                                        luctus. Suspendisse convallis
                                                        dignissim eros at volutpat. In egestas mattis dui. Aliquam
                                                        mattis dictum aliquet.</p>

                                                    <div class="mb-3">
                                                        <div class="form-check d-inline-block">
                                                            <input type="checkbox" class="form-check-input"
                                                                   id="customCheck1">
                                                            <label class="form-check-label" for="customCheck1">I agree
                                                                with the Terms and
                                                                Conditions</label>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->

                                    <ul class="list-inline wizard mb-0">
                                        <li class="next list-inline-item float-end">
                                            <a href="javascript:void(0);" class="btn btn-info">Add More Info <i
                                                    class="mdi mdi-arrow-right ms-1"></i></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-pane" id="basictab2" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row mb-3">
                                                <label class="col-md-3 col-form-label" for="name"> First name</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="name" name="name" class="form-control"
                                                           value="Francis">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-3 col-form-label" for="surname"> Last name</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="surname" name="surname" class="form-control"
                                                           value="Brinkman">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-md-3 col-form-label" for="email">Email</label>
                                                <div class="col-md-9">
                                                    <input type="email" id="email" name="email" class="form-control"
                                                           value="cory1979@hotmail.com">
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->

                                    <ul class="pager wizard mb-0 list-inline">
                                        <li class="previous list-inline-item disabled">
                                            <button type="button" class="btn btn-light"><i
                                                    class="mdi mdi-arrow-left me-1"></i> Back to Account
                                            </button>
                                        </li>
                                        <li class="next list-inline-item float-end">
                                            <button type="button" class="btn btn-info">Add More Info <i
                                                    class="mdi mdi-arrow-right ms-1"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-pane" id="basictab3" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="text-center">
                                                <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                                <h3 class="mt-0">Thank you !</h3>

                                                <p class="w-75 mb-2 mx-auto">Quisque nec turpis at urna dictum luctus.
                                                    Suspendisse convallis
                                                    dignissim eros at volutpat. In egestas mattis dui. Aliquam
                                                    mattis dictum aliquet.</p>

                                                <div class="mb-3">
                                                    <div class="form-check d-inline-block">
                                                        <input type="checkbox" class="form-check-input"
                                                               id="customCheck1">
                                                        <label class="form-check-label" for="customCheck1">I agree with
                                                            the Terms and
                                                            Conditions</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->

                                    <ul class="pager wizard mb-0 list-inline mt-1">
                                        <li class="previous list-inline-item disabled">
                                            <button type="button" class="btn btn-light"><i
                                                    class="mdi mdi-arrow-left me-1"></i> Back to Profile
                                            </button>
                                        </li>
                                        <li class="next list-inline-item float-end">
                                            <button type="button" class="btn btn-info">Submit</button>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!-- tab-content -->
                        </div> <!-- end #basicwizard-->
                    </form>

                </div> <!-- end card-body -->
            </div>
            <!-- End card Ferias ----------------->


        </div>
        <!-- End Coluna Esquerda ---------------------------------------------->


        <!-- Coluna Direita --------------------------------------------------->
        <div class="col">

            <!-- Card img-ferias ------------------>
            <div class="row d-flex" style="background-color:#219180; height:77vh;">
                <div class="col mt-5 mb-3 p-0 " >

                     <img class=""
                          src="{% static 'ccis/img-ferias.png' %}"
                          alt="img"
                          width="254"
                          height="396"
                          align="middle">

                </div>
            </div>
            <!-- End card img-ferias -------------->

        </div>
        <!-- End coluna Direita ---------------------------------------------->




    </div>
    <!-- END CONTEÚDO ------------------------------->


</div>

{% endblock %}


