{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content">

    <!-- subMenu --------------------------------->
    <div class="row">

        <nav class="navbar paragrafo-style">
            <div class="container-fluid">

                <p class="m-0"> GESTÃO DE PESSOAS <br>
                    <small style="font-family:Asap Regular; color:#AFAFAF;">Usuários</small></p>

                <div class="navbar-nav-wrap-content-end">

                    <!-- Button trigger modal -->
                    <button type="button" class="link-button" data-bs-toggle="modal" data-bs-target="#newUser">
                        <i class="fa-solid fa-user"></i>
                        Novo Usuário
                    </button>

                </div>
            </div>

        </nav>


    </div>
    <!-- End subMenu ----------------------------->

    <!-- Header do conteúdo ---------------------->
    <div class="row mb-5">

        <div class="col ms-4 mt-5" style="">

            <h1 style="font-family:Oswald medium ">Módulo de <span style="color:#27DEBF; font-family:Oswald medium ">Gestão de Usuários</span>
            </h1>
            <p style="color:#8a8a8a;">Pesquise, atualize e gerencie todos os usuários<br> ativos e inativos cadastrados na
                plataforma.</p>

        </div>

        <div class="col">
            <img src="{% static 'ccis/Grupo 2131.png' %}"
                 alt="rh"
                 width="450"
                 height="auto"
                 class="d-inline-block;">
        </div>

    </div>
    <!-- Header do conteúdo ---------------------->

    <!-- Conteúdo -------------------------------->
    <div class="row">
        <div>

            <!-- Cards informativos ------------->
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-0 pe-1 ">

                    <!-- card Total Usuários-->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL DE USUÁRIOS</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">{{totalUsuarios}}</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                    <i class="fa-solid fa-chart-simple"></i> {{ totalMaster }}% </span>

                                <span> de {{totalUsuariosAnual}} do ano anterior</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-1 pe-1  ">

                    <!-- card Total Funcionário -->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL FUNCIONÁRIOS</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">{{totalColaborador}}</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                    <i class="fa-solid fa-chart-simple"></i> {{porcentagem_F}}%</span>

                                <span class=" ms-1">de {{AnualFuncionarios}} do ano anterior</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-1 pe-1">

                    <!-- card Total Estagiário-->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL ESTAGIÁRIOS</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">{{ totalEstagiarios }}</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                    <i class="fa-solid fa-chart-simple"></i> {{porcentagem_E}}%</span>

                                <span class=" ms-1">de {{anualEstagiarios}} do ano anterior</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-1 pe-0 ">

                    <!-- card Total Menos Aprendiz-->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL MENOR-APRENDIZ</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">{{ totalMenor }}</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                    <i class="fa-solid fa-chart-simple"></i> {{porcentagem_M}}%</span>

                                <span class=" ms-1">de {{anualMenor}} do ano anterior</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
            </div>
            <!-- End Cards informativos --------->

        </div>

        <div style="height:80vh;" class="col overflow-auto mb-5">

            <!-- Card Table --------------------->
            <div class="row">
                <div class="card-config p-0">

                    <!-- Pesquisa table --------->
                    <nav class="navbar mt-2">
                        <div class="container-fluid pe-1">

                            <p style="font-family:Asap Regular; color:#AFAFAF;"></p>

                            <div class="navbar-nav-wrap-content-end" style="position: relative;">
                                <form class="d-flex">
                                    <!-- input de pesquisa ----------------------->
                                    <input class="form-control me-2" type="search" placeholder="Pesquisar"
                                           aria-label="Search" id="inputUser" onkeyup="filterTable()">

                                    <!-- Botão Novo Usuário ---------------------->
                                    <button class=""
                                            style="position: absolute; top:12%; right: 5%; border:none; color:#AFAFAF; background-color:white"
                                            type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target=""
                                            data-bs-whatever="@mdo"
                                            onclick="filterTable()">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>

                        </div>

                    </nav>

                    <!-- Tabela ----------------->
                    <table class="table table-hover" id="tableUser">

                        <thead class="table-header">
                        <tr>
                            <td class="p-3">

                                <h6></h6>

                            </td>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Status</th>
                            <th>Operações</th>
                        </tr>
                        </thead>

                        <tbody class="table-body">

                        {% for item in dadosTable %}
                        <tr>
                            <!-- checkbox --------->
                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label"></label>
                                </div>
                            </td>

                            <!-- img foto --------->
                            <td class="table-td">

                                {% if item.foto %}
                                <img class="avatar-img" src="{{ item.foto }}"
                                     alt="" width="40" height="40">
                                {% else %}
                                {% if item.sexo == "Masculino" %}
                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="" width="40" height="40">

                                {% elif item.sexo == "Feminino" %}
                                <img class="avatar-img" src="{% static 'ccis/avatar-feminino.jpg' %}"
                                     alt="" width="40" height="40">
                                {% endif %}

                                {% endif %}

                            </td>

                            <!-- Nome e CPF ------->
                            <td class="table-td">
                                <p class="mb-0">{{item.nomeCompleto}}</p>
                                <small style="color:#888888;" class="mb-0"> {{item.colaborador}} </small>
                            </td>

                            <!-- Cargo e local ---->
                            <td class="table-td">
                                <p class="mb-0">{{item.cargo}}</p>
                                <small style="color:#888888;" class="mb-0">{{item.unidade}}</small>
                            </td>

                            <!-- Situação --------->
                            <td class="table-td">
                                {% if item.situacao == 'Ativo' %}
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:rgb(33,145,128);
                                border-radius:50%; "></span> {{item.situacao}}
                                {% else %}
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:rgb(255,90,90);
                                border-radius:50%; "></span> {{item.situacao}}
                                {% endif %}
                            </td>

                            <!-- Botões ----------->
                            <td class="table-td">

                                <!-- Botão Perfil --------------------------------->
                                <a type="button" title="Perfil" class="button-style btn-sm"
                                    href="{% url 'profile' user_id=item.id %}">
                                    <i class="fa-solid fa-user"></i>
                                </a>

                                <!-- Botão Documentos ----------------------------->
                                <a type="button" title="Documentos" class="button-style btn-sm"
                                    href="{% url 'documentos' user_id=item.id %}">
                                    <i class="fa-solid fa-folder"></i>
                                </a>

                                <!-- Botão Editar -------------------------------->
                                <a type="button" title="Editar" class="button-style btn-sm"
                                        href="{% url 'conta' user_id=item.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                </a>

                                <!-- botão Del ----------------------------------->
                                <button type="button" title="Inativar" class="button-style btn-sm"
                                        data-bs-toggle="modal" data-userid="{{ item.id }}"
                                        data-bs-target="#inativeUserModal-{{ item.id }}">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                </button>

                                <!-- Modal Del------------------------------------>
                                <div class="modal fade"
                                     id="inativeUserModal-{{ item.id }}"
                                     tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="inativeUserModalLabel">Inativar usuário</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Deseja inativar o usuário:</p>
                                                    {{ item.id }} {{ item.nomeCompleto }}
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <a href="{% url 'inativar_usuario' user_id=item.id %}"
                                                   type="button" class="btn btn-danger">Inativar</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>
            <!-- End Table Usuários -------------->

        </div>

    </div>
    <!-- Conteúdo -------------------------------->

</div>

<!-- Modal formulário Novo Usuário --------------->
<div class="modal fade"
     id="newUser"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" style="text-aline:center" id="exampleModalLabel">Cadastre um novo usuário</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>

            <div class="modal-body">

                <form method="post"
                      action="{% url 'usuario' %}"
                      class="row g-3 needs-validation"
                      enctype="multipart/form-data"
                      novalidate>
                    {% csrf_token %}

                    <!-- Header modal ---------------------->
                    <div class="row pt-5 mb-5">

                        <div class="col ms-5 mt-5">
                            <img src="{% static 'ccis/Grupo 2395.png' %}"
                                 alt="rh"
                                 width="450"
                                 height="auto"
                                 class="d-inline-block;">
                        </div>

                        <div class="col ms-5 mt-3" style="">
                            <h1 style="font-family:Oswald medium ">Cadastre um
                                <span style="color:#27DEBF; font-family:Oswald medium ">Novo Usuário</span></h1>
                            <p style="color:#8a8a8a;">Se deseja cadastrar um novo usuário para esta plataforma?
                                <br> Informe a baixo os dados do usuário.
                            </p>


                            <!-- Usuário -->
                            <div class="col-10">
                                <label class="form-label">Login:</label>
                                {{ userCreation.username }}
                            </div>

                            <!-- Senha1 -->
                            <div class="col-10">
                                <label class="form-label">Senha:</label>
                                {{ userCreation.password1 }}
                            </div>

                            <!-- Senha2 -->
                            <div class="col-10">
                                <label class="form-label">Confirme a Senha:</label>
                                {{ userCreation.password2 }}
                            </div>

                        </div>

                    </div>
                    <!-- Header modal ---------------------->

                    {{dadosP.management_form}}
                    {% for d in dadosP %}
                    <div class="row pt-5">
                        <h5>Dados Pessoais</h5>

                        <div class="col-6">
                            <label class="form-label">Nome Completo:</label>
                            {{d.nomeCompleto}}
                        </div>


                        <div class="col-2">
                            <label class="form-label">Sexo:</label>
                            {{d.sexo}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Estado Civil:</label>
                            {{d.estadoCivil}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Raça/Cor:</label>
                            {{d.corRaca}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Nascimento:</label>
                            {{d.dataNascimento}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Naturalidade:</label>
                            {{d.naturalidade}}
                        </div>

                        <div class="col-4">
                        </div>

                        <div class="col-3 mb-4">
                            <label class="form-label">Tipo Sanguíneo:</label>
                            {{d.tipoSanguineo}}
                        </div>

                        <hr>

                        <div class="col-6">
                            <label class="form-label">Nome Pai:</label>
                            {{d.nomePai}}
                        </div>

                        <div class="col-6 mb-4">
                            <label class="form-label">Nome Mãe:</label>
                            {{d.nomeMae}}
                        </div>

                        <hr>

                        <div class="col-4">
                            <label class="form-label">CPF:</label>
                            {{d.cpf}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">RG:</label>
                            {{d.rg}}
                        </div>

                        <div class="col-5">
                            <label class="form-label">Órgão Expedidor:</label>
                            {{d.expedidor}}
                        </div>

                        <div class="col-7">
                            <label class="form-label">CNH:</label>
                            {{d.cnh}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Validade:</label>
                            {{d.validadeCnh}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Categoria:</label>
                            {{d.categoria}}
                        </div>


                        <div class="col-7">
                            <label class="form-label">Título de Eleitor:</label>
                            {{d.tituloEleitor}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Zona:</label>
                            {{d.zona}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Seção:</label>
                            {{d.secao}}
                        </div>

                        <div class="col-7">
                            <label class="form-label">CTPS:</label>
                            {{d.ctps}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Serie:</label>
                            {{d.serieCTPS}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Data:</label>
                            {{d.dataCTPS}}
                        </div>


                        <div class="col-7">
                            <label class="form-label">Reservista:</label>
                            {{d.reservista}}
                        </div>

                        <div class="col-2">
                            <label class="form-label">RA:</label>
                            {{d.ra}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Serie:</label>
                            {{d.serieReservista}}
                        </div>

                        <div class="col-4">
                            <label class="form-label">PIS:</label>
                            {{d.pis}}
                        </div>

                        <div class="col-4">
                        </div>

                        <div class="col-4">
                            <label class="form-label">Carteira Nacional de Saúde:</label>
                            {{d.cns}}
                        </div>

                        <div class="form-check ms-2 pt-3">
                            {{d.pcd}}
                            <label class="form-check-label">
                                Possui Deficiência Física?
                            </label>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Dependentes -->
                    {{ dependentes_form.management_form }}
                    {% for dep in dependentes_form %}
                    <div class="row pt-5">
                        <hr>
                        <h5>Dependentes</h5>
                        <div class="col-6">
                            <label class="form-label">Nome Completo:</label>
                            {{dep.nomeCompleto}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">CPF:</label>
                            {{dep.cpf}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Nascimento:</label>
                            {{dep.dataNascimento}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Relação:</label>
                            {{dep.relacao}}
                        </div>

                        <div class="col-6">
                            <label class="form-label">Email:</label>
                            {{dep.email}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Contato:</label>
                            {{dep.contato}}
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Endereço e Contato -->
                    {{ end.management_form }}
                    {% for en in end %}
                    <div class="row pt-5">
                        <hr>
                        <h5>Endereço e Contatos</h5>

                        <div class="col-6">
                            <label class="form-label">Endereço:</label>
                            {{ en.endereco }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Bairro:</label>
                            {{ en.bairro }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Cidade:</label>
                            {{ en.cidade }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Cep:</label>
                            {{ en.cep }}
                        </div>

                        <div class="col-2 mb-4">
                            <label class="form-label">Estado:</label>
                            {{ en.estado }}
                        </div>

                        <div class="col-5">
                        </div>

                        <div class="col-2">
                            <label class="form-label">Ramal:</label>
                            {{ en.ramal }}
                        </div>

                        <span><small>Contato:</small></span>
                        <hr>

                        <div class="col-6">
                            <label class="form-label">Email Corporativo:</label>
                            {{ en.emailCorporativo }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Tel. Corporativo:</label>
                            {{ en.telefoneCorporativo }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Cel. Corporativo:</label>
                            {{ en.celularCorporativo }}
                        </div>


                        <div class="col-6">
                            <label class="form-label">Email Pessoal:</label>
                            {{ en.emailPessoal }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Tel. Pessoal:</label>
                            {{ en.telefonePessoal }}
                        </div>

                        <div class="col-3 mb-3">
                            <label class="form-label">Cel. Pessoal:</label>
                            {{ en.celularPessoal }}
                        </div>


                        <span><small>Contato de Emergência</small></span>
                        <hr>


                        <div class="col-6">
                            <label class="form-label">Nome Completo:</label>
                            {{en.nomeCompleto}}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Telefone:</label>
                            {{ en.telefoneDeEmergencia }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Celular:</label>
                            {{ en.celularDeEmergencia }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Relação:</label>
                            {{ en.relacao }}
                        </div>
                    </div>
                    {% endfor %}

                    {{ escolaridade_form.management_form }}
                    {% for esc in escolaridade_form %}
                    <!-- Escolaridade -->
                    <div class="row pt-5">
                        <hr>
                        <h5>Escolaridade</h5>
                        <div class="col-6">
                            <label class="form-label">Entidade de Ensino:</label>
                            {{ esc.entidadeDeEnsino }}
                        </div>

                        <div class="col-4">
                            <label class="form-label">Curso:</label>
                            {{ esc.curso }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Grau:</label>
                            {{ esc.grau }}
                        </div>

                        <div class="col-3 mb-3 ">
                            <label class="form-label">Inicio:</label>
                            {{esc.dataInicio}}

                        </div>

                        <div class="col-3 mb-3 ">
                            <label class="form-label">Conclusão:</label>
                            {{ esc.dataConclusao }}
                        </div>

                        <span><small>Outros Idiomas</small></span>
                        <hr>


                        <div class="col-6 mb-3 ">
                            <label class="form-label">Lingua:</label>
                            {{ esc.idiomaSecundario }}
                        </div>


                        <div class="col-2">
                            <label class="form-label">Nivel:</label>
                            {{ esc.nivelSecundario }}
                        </div>
                    </div>
                    {% endfor %}

                    {{ profissional_form.management_form }}
                    {% for profi in profissional_form %}
                    <!-- Profissional -->
                    <div class="row pt-5">
                        <hr>
                        <h5>Profissional</h5>

                        <div class="col-6">
                            <label class="form-label">Cargo:</label>
                            {{ profi.cargo }}
                        </div>

                        <div class="col-4">
                            <label class="form-label">Área:</label>
                            {{ profi.area }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">PA|Unidade:</label>
                            {{ profi.paUnidade }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Colaborador:</label>
                            {{ profi.colaborador }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Centro de custo:</label>
                            {{ profi.centroDeCusto }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Matricula:</label>
                            {{ profi.matricula }}
                        </div>

                        <div class="col-4">
                            <label class="form-label">Superior Imediato:</label>
                            {{ profi.superiorImediato }}
                        </div>

                        <div class="col-4">
                            <label class="form-label">Folha de pagamento:</label>
                            {{ profi.folhaDePagamento }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Admissão:</label>
                            {{ profi.admissao }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Desligamento:</label>
                            {{ profi.desligamento }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Situação:</label>
                            {{ profi.situacao }}
                        </div>

                        <div class="col-5">
                            <label class="form-label">Empregador:</label>
                            {{ profi.empregador }}
                        </div>

                        <div class="col-3">
                        </div>

                        <div class="col-2">
                            <label class="form-label">Horário Entrada:</label>
                            {{ profi.horarioEntrada }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Horário Saída:</label>
                            {{ profi.horarioSaida }}
                        </div>
                    </div>
                    {% endfor %}

                    {{ dadosBancarios_form.management_form }}
                    {% for db in dadosBancarios_form %}
                    <!-- Dados Bancários -->
                    <div class="row pt-5">
                        <hr>
                        <h5>Dados Bancarios</h5>
                        <div class="col-6">
                            <label class="form-label">Conta:</label>
                            {{ db.conta }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Digito:</label>
                            {{ db.digito }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Banco:</label>
                            {{ db.banco }}
                        </div>

                        <div class="col-2">
                            <label class="form-label">Agencia:</label>
                            {{ db.agencia }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Tipo de Conta:</label>
                            {{ db.tipoDeConta }}
                        </div>

                        <div class="col-3">
                            <label class="form-label">Modalidade:</label>
                            {{ db.modalidade }}
                        </div>

                        <div class="col-2">
                        </div>

                        <div class="col-4">
                            <label class="form-label">Chave Pix:</label>
                            {{ db.chavePix }}
                        </div>
                    </div>
                    {% endfor %}

                    {{ outros_form.management_form }}
                    {% for outros in outros_form %}
                    <!-- Outros -->
                    <div class="row pt-5">
                        <hr>
                        <h5>Outros</h5>
                        <div class="col-2">
                            <label class="form-label">Tamanho Camiseta:</label>
                            {{ outros.camiseta }}
                        </div>
                    </div>
                    {% endfor %}


                    <div class="modal-footer">

                        <button type="button" class="button-cancel" data-bs-dismiss="modal">
                            Cancelar
                        </button>

                        <button type="submit" class="button-confirm">
                            Cadastrar
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}
