{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}
<div class="col">
    <!-- subMenu ---------------------------------------------------------------------------------------------------->
    <div class="row">

        <nav class="navbar sub-nav-background mb-2 ps-0 pe-0">
          <div class="container-fluid">

            <p class="m-0" style="font-family:Asap medium"> USUÁRIOS <br>
                <small style="font-family:Asap Regular; color:#AFAFAF;">Modulo gestor</small></p>

            <div class="navbar-nav-wrap-content-end">
              <form class="d-flex">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-user-plus"></i> Novo</button>
              </form>
            </div>
          </div>

        </nav>


      </div>
    <!-- End subMenu ------------------------------------------------------------------------------------------------>


    <!-- CONTEÚDO DA PG --------------------------------------------------------------------------------------------->

    <div class="row">
        <div>

             <!-- Cards informativos --------------------------->
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-0 pe-1 ">

                    <!-- card -->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL DE USUÁRIOS</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">152</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                <i class="fa-solid fa-chart-simple"></i> 12.5%</span>

                                <span class=" ms-1">de Crescimento</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-1 pe-1  ">

                    <!-- card -->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL FUNCIONARIOS</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">137</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                <i class="fa-solid fa-chart-simple"></i> 7.5%</span>

                                <span class=" ms-1">de Crescimento</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-1 pe-1">

                    <!-- card -->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL ESTAGIÁRIOS</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">11</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-positivo text-success">
                                <i class="fa-solid fa-chart-simple"></i> 2.5%</span>

                                <span class=" ms-1">de Crescimento</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 mt-lg-1 ps-1 pe-0 ">

                    <!-- card -->
                    <a class="link-card" href="#">
                        <div class="card-config">
                            <div class="card-body-config">
                                <h6 class="card-subtitle mb-2">TOTAL MENOR-APRENDIZ</h6>

                                <!-- Linha -->
                                <div class="row align-items-center gx-2">

                                    <div class="col">

                                        <!-- Dados -->
                                        <div class="col-6">
                                            <h3 class="card-title text-inherit">6</h3>
                                        </div>
                                        <!-- End dados -->

                                        <!-- Grafico -->
                                        <div class="col-6">

                                        </div>
                                        <!-- End Grafico -->

                                    </div>

                                </div>
                                <!-- End Linha -->

                                <span class="span-label-negativo text-danger">
                                <i class="fa-solid fa-chart-simple"></i> -3.8%</span>

                                <span class=" ms-1">de Crescimento</span>

                            </div>
                        </div>
                    </a>
                    <!-- End card -->

                </div>
            </div>
            <!-- End Cards informativos ----------------------->

        </div>



        <div style="height:57vh;" class="col overflow-auto">

            <!-- Table Usuários ------------------------------->
            <div class="row">
                <div class="card-config p-0">
                    <table class="table table-hover" id="table">

                        <thead class="table-header">
                        <tr>
                            <td class="p-3">

                                <h6>Usuários</h6>

                            </td>
                            <th></th>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Status</th>
                            <th>Editar</th>
                        </tr>
                        </thead>

                        <tbody class="table-body">
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <td class="table-td">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for=""></label>
                                </div>
                            </td>

                            <td class="table-td">

                                <img class="avatar-img" src="{% static 'ccis/avatar.jpg' %}"
                                     alt="img" width="50" height="50">

                            </td>

                            <td class="table-td">
                                <p class="mb-0">Henrique Silva</p>
                                <small style="color:#888888;" class="mb-0">henrique.silva@sicoobbrasilia.com.br</small>
                            </td>

                            <td class="table-td">
                                <p class="mb-0">Desenvolvedor</p>
                                <small style="color:#888888;" class="mb-0">Unidade de Tecnologia</small>
                            </td>

                            <td class="table-td">
                                <span style="display: inline-block; width:0.5rem; height:0.5rem; background-color:green;
                            border-radius:50%; "></span> Ativo
                            </td>

                            <td class="table-td">
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal">
                                    <i class="fa-solid fa-pen"></i> Editar
                                </button>
                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
            <!-- End Table Usuários --------------------------->


        </div>
    </div>

    <!-- END CONTEÚDO ----------------------------------------------------------------------------------------------->

</div>
{% endblock %}