{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<!--- background ----------------------------->
{% if dados.canvas %}
<img src="{% static 'ccis/backgroundPro.jpg' %}" class="kanban-container">
{% endif %}
<!--- background ----------------------------->

<!-- Conteúdo -------------------------------->
<div class="container-fluid scrollable-content ps-0 pe-0">

    <!-- LOGO -------------------------------->
    <div class="row">

        <div class="col logo-coopera p-0">
            <img src="{% static 'ccis/Grupo 6330.png' %}" alt="logo-COOPERA" width="270px">
        </div>

    </div>
    <!-- LOGO -------------------------------->

    <!--- Botões ----------------------------->
    <div class="col p-5">

        <div class="row position-relative mt-n1-9">

            <!--- Relacionamento --------->
            <div class="col-2 ">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/relacionamento.png' %}">

                    <div class="team-info">
                        <h3 style="color: #27DEBF; font-size: 20px;" class="mb-1 h4">Relacionamento</h3>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'relacionamento' %}" class="text-white">
                                    <h5 style="font-size: 18px;">Relacionamento</h5>
                                    <p style="font-size: 13px;">Relacionamento com o cooperado</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Relacionamento --------->

            <!--- Simulador -------------->
            <div class="col-2 ">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/simulador.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Simulador</h3>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'simulador' %}"
                                   class="text-white">
                                    <h5>Simulador</h5>
                                    <p style="font-size: 13px;">Simulador de taxas, linha de crédito, variáveis para
                                        negociação e taxas de juros</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Simulador -------------->

            <!--- india ------------------>
            <div class="col-2 0">
                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/india.png' %}" alt="...">

                    <div class="team-info">
                        <h4 style="color: #27DEBF;" class="mb-1 h4">India</h4>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'india' %}" class="text-white">
                                    <h4>India</h4>
                                    <p style="font-size: 13px;">Inativos de propensos à eliminação, Inativos à trabalhar
                                        e Utilização cheque especial</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- india ------------------>

            <!--- Linhas e Produtos ------>
            <div class="col-2 ">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/linhasProdutos.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Linhas e Produtos</h3>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'portifolio' %}" class="text-white">
                                    <h5>Linhas e Produtos</h5>
                                    <p style="font-size: 13px;">Portifólio de linhas de crédito, taxas de juros e
                                        condições básicas operacionais</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Linhas e Produtos ------>

            <!--- PDxLGD ----------------->
            <div class="col-2 ">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/PDxLGD.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">PDxLGD</h3>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'tabela' %}" class="text-white">
                                    <h5>PDxLGD</h5>
                                    <p style="font-size: 13px;">Modelo de classificação do risco das operações -
                                        Reclassificação automática</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- PDxLGD ----------------->

            <!--- Gestão de Capital ------>
            <div class="col-2 ">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/capital.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Gestão de Capital</h3>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'capital' %}" class="text-white">
                                    <h5>Gestão de Capital</h5>
                                    <p style="font-size: 13px;">Análise de indicadores</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Gestão de Capítal ------>

            <!--- Coluna a Baixo --------->

            <!--- Dados Consolidados ----->
            <div class="col-2 mt-3">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/consolidados.png' %}">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Dados Consolidados</h3>
                        <span class="font-weight-600 text-secondary">Cooperar+</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'dados' %}" class="text-white">
                                    <h5>Dados Consolidados</h5>
                                    <p style="font-size: 13px;">Parecer técnico</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Dados Consolidados ----->

        </div>

    </div>
    <!--- Botões ----------------------------->

    <!-- Faixas ------------------------------>
    <div class="row justify-content-center text-center">

        <div class="col-11 col-lg-2 col-md-6 box-coopera" style="background-color:#7DB61C;">

            <h4 class="pt-2">PROPÓSITO</h4>

            <P>CONECTAR <br>PESSOAS PARA<br> PROMOVER A<br> JUSTIÇA <br>FINANCEIRA E<br> PROSPERIDADE.</P>

        </div>

        <div class="col-11 col-lg-2 col-md-6 box-coopera" style="background-color:#49479D;">

            <h4 class="pt-2">MISSÃO</h4>

            <P>PROMOVER <br>SOLUÇÕES <br>INOVADORAS E<br> SUSTENTÁVEIS.</P>

        </div>

        <div class="col-11 col-lg-2 col-md-6 box-coopera" style="background-color:#00AE9D;">

            <h4 class="pt-2">VISÃO</h4>

            <P>SER REFERÊNCIA EM<br> COOPERATIVISMO,<br>
                PROMOVENDO O <br>DESENVOLVIMENTO <br>ECONÔMICO E
                SOCIAL<br> DAS PESSOAS E<br> COMUNIDADE.</P>

        </div>

        <div class="col-11 col-lg-2 col-md-6 box-coopera" style="background-color:#C9D200;">

            <h4 class="pt-2">VALORES</h4>

            <P style="font-size:13px">RESPEITO E VALORIZAÇÃO<br> DAS PESSOAS;
                COOPERATIVISMO E<br> SUSTENTABILIDADE; <br>ÉTICA E
                INTEGRIDADE;<br> EXCELÊNCIA E EFICIÊNCIA<br> LIDERANÇA
                INSPIRADORA, <br>INOVAÇÃO E SIMPLICIDADE.</P>

        </div>

    </div>
    <!-- Faixas ------------------------------>

</div>
<!-- Conteúdo -------------------------------->

{% endblock %}
