{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div style="padding-top: 32px; padding-bottom: 0px;" class="container-fluid scrollable-content ps-0 pe-0">

    <!-- Conteúdo -------------------------------->

        <div class="paineis-bi">
            
        </div>

        <iframe title="Relacionamento" width="104%" height="99%"
            src="https://app.powerbi.com/view?r=eyJrIjoiZmJmOTE1MmYtNzViMy00NTBjLWE0YTctY2U5MzNiMjA1ZTg1IiwidCI6ImVkY2M4NTk2LWJjNWUtNDgxNC1hZjMwLThkZDk5ODFhYTQxMiJ9"
            frameborder="0" allowFullScreen="true">
        </iframe>

    <!-- Conteúdo -------------------------------->

</div>

{% endblock %}


