{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div style="padding-top: 32px; padding-bottom: 0px;" class="container-fluid scrollable-content ps-0 pe-0">

    <!-- Conteúdo -------------------------------->

        <iframe title="Relacionamento" width="104%" height="99%"
            src="https://sicoobrasilia.sharepoint.com/:u:/s/Painelcooperarelacionamento/EUVT4Ke7sHFLg-69m3SV5LUBtP3clCvvMAzaokNCFI05Ew?e=kC2GHS%22"
            frameborder="0" allowFullScreen="true">
        </iframe>

    <!-- Conteúdo -------------------------------->

</div>

{% endblock %}


