<!doctype html>

{% load static %}

<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link css -->
    <link rel="stylesheet" href="{% static 'ccis/style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/df67e6f5ba.js" crossorigin="anonymous"></script>
      

    <title>Redefinição de senha</title>
  </head>

  <body style="background-color:#04343D">

    <!--Button back-->
    <a href="{% url 'home' %}" class="back-button" type="button">
      <i class="fa-solid fa-house arrow-button"></i>
    </a>
    <!--Button back-->

    <div class="container-sm">
      <div class="row">

        <div class="d-flex justify-content-center mt-5 pt-5">
          <div class="card" style="color:#ffffff; background-color:#04343D; border:none;">

            <div class="card-body p-0">

              <h1>Redefinição bem sucedida</h1>
              <p>Sua solicitação de redefinição de senha foi bem sucedida.</p>
              <p>Não se esqueça de salvar sua senha em um lugar seguro.</p>
              <p>Ah e lembrando que senhas são pessoais, não compartilhe com terceiros.</p>

            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- link js -->
    <script src="{% static 'ccis/script.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>

</html>