<!doctype html>

{% load static %}

<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link css -->
    <link rel="stylesheet" href="{% static 'ccis/style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/df67e6f5ba.js" crossorigin="anonymous"></script>
      
    <title>Home</title>
  </head>

  <body style="background-color:#04343D">

    <!--Button back-->
    <a href="{% url 'login' %}" class="back-button" type="button">
      <i class="fa-solid fa-arrow-left arrow-button"></i>
    </a>
    <!--Button back-->

    <div class="container-sm">
      <div class="row">

        <div class="d-flex justify-content-center mt-5 pt-5">
          <div class="card" style="color:#ffffff; background-color:#04343D; border:none;">

            <div class="card-body p-0">

              <h3>Redefinição de senha</h3>

              <br>

              <!-- password_reset.html -->
               <form method="post" action="password_reset">
                {% csrf_token %}

                <div class="mb-4">
                  <label for="cpf" class="form-label">Informe seu CPF</label>
                  <input name="cpf"
                         type="number"
                         class="form-control"
                         id="cpf"
                         aria-describedby="userHelp"
                         required
                         maxlength="11">
                </div>

                 <div class="mb-2">
                  <label for="usuario" class="form-label">Usuário</label>
                  <input name="usuario"
                         type="text"
                         class="form-control"
                         id="usuario"
                         aria-describedby="userHelp"
                         required
                         maxlength="20">


                </div>

                <div class="mb-2">
                  <label for="novaSenha" class="form-label">Nova Senha</label>
                  <input name="novaSenha"
                         type="password"
                         class="form-control"
                         id="novaSenha"
                         aria-describedby="userHelp"
                         required pattern=".{8,}"
                         maxlength="20">


                </div>

                <div class="mb-2">
                  <label for="confSenha" class="form-label">Confirmar Senha</label>

                  <input name="confSenha"
                         type="password"
                         class="form-control"
                         id="confSenha"
                         required pattern=".{8,}"
                         maxlength="20"
                         aria-describedby="senhaFeedback">

                  <div class="invalid-feedback" id="senhaFeedback">
                    Usuário ou senha invalido
                  </div>

                </div>

                <div class="d-grid gap-2 mt-4">
                  <button class="btn btn-lg d-grid"
                          type="submit"
                          style="background-color:#00A194; color:#ffffff;">Redefinir
                  </button>
                </div>

               {% if error %}
                    <p class="mt-3" style="color:red">{{ error }}</p>
               {% endif %}

              </form>


            </div>

          </div>
        </div>


      </div>
    </div>




    <!-- link js -->
    <script src="{% static 'ccis/script.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>

</html>