{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<!--- background ---------------------------------->
{% if dados.canvas %}
<img src="{% static 'ccis/backgroundPro.jpg' %}" class="kanban-container">
{% endif %}
<!--- background ---------------------------------->

<!-- Conteúdo ------------------------------------->
<div class="container-fluid scrollable-content">

    <!-- Titulo ----------------------------------->
    <div class="row mt-3 mb-2">

        <div class="col-8 ps-5 pt-4">

            <h1 style="font-family: oswald ; font-size:42px;">Bem vindo ao módulo<br>
                <span style="color:#27DEBF; font-family: oswald ; font-size:70px;">GESTÃO DE NEGÓCIOS</span>
            </h1>
            <p class="pt-3" style="color:#8a8a8a; font-size: 17px;">Metas são quantificações específicas de algo que
                queremos alcançar. No geral, elas fazem parte de um objetivo, mas são mais precisas e podem estar
                relacionadas a qualquer coisa. Da vida pessoa à profissional, as metas ajudam pessoas a chegar ao que
                elas desejam.</p>
        </div>

    </div>
    <!--- titulo end ------------------------------->

    <!--- linha gerencia --------------------------->
    <div class="m-5">
        <hr>
    </div>
    <!---linha gerencia----------------------------->

    <!--- Botões ----------------------------------->
    <div class="col m-5">

        <div class="row position-relative mt-n1-9">

            <!--- Gestão de Carteiras -------------->
            <div class="col-2">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/carteiras.png' %}">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Gestão de Carteiras</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'gestaoCarteira' %}" class="text-white">
                                    <h5>Gestão de Carteiras</h5>
                                    <p style="font-size: 13px;">Sub Módulo Gestão de Metas, Gestão de Agendamento e
                                        Calendário de Vencimentos.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Gestão de Carteiras -------------->

            <!--- Relatorio Visitas ---------------->
            <div class="col-2">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/relatorioConselho.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Relatório Visitas</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{%url 'relatorioVisitas'%}"
                                   class="text-white">
                                    <h5>Relatório Visitas</h5>
                                    <p style="font-size: 13px;">Pessoa Jurídica ou Produtor Rural.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Relatorio Visitas ---------------->

            <!--- Gestão das Captações ------------->
            <div class="col-2">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/captacoes.png' %}" alt="...">

                    <div class="team-info">
                        <h4 style="color: #27DEBF;" class="mb-1 h4">Gestão das Captações</h4>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'lastro' %}" class="text-white">
                                    <h4>Gestão das Captações</h4>
                                    <p style="font-size: 13px;">Gestão dos Ativos, Gestão do custo LCA e Relação de
                                        Aplicações Atuais.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Gestão das Captações ------------->

            <!--- Gestão Crédito ------------------->
            <div class="col-2">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/gestaoCredito.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Gestão de Crédito</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{% url 'credito' %}" class="text-white">
                                    <h5>Gestão de Crédito</h5>
                                    <p style="font-size: 13px;">Sub Módulo Liberações Mensais de Crédito e Operações de
                                        Crédito Vigentes.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Gestão Crédito ------------------->

            <!--- inadimplencia Diária ------------->
            <div class="col-2">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/inadimplencia.png' %}">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Inadimplência Diária</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{%url 'diaria'%}" class="text-white">
                                    <h5>Inadimplência Diária</h5>
                                    <p style="font-size: 13px;">Geral, Operações em atraso e garantias, Prejuízo e
                                        Cartões</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- inadimplencia Diária ------------->

            <!--- Plano de Metas ------------------->
            <div class="col-2">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/metas.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Plano de Metas</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{%url 'planoMetas'%}" class="text-white">
                                    <h5>Plano de Metas</h5>
                                    <p style="font-size: 13px;">Índice de Basiléia, Patrimônio de Referência e Contas de
                                        Referência</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Plano de Metas ------------------->

            <!--- Coluna a Baixo ------------------->

            <!--- Listas de Propensos -------------->
            <div class="col-2 mt-3">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/propensos.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Listas de Propensos</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{%url 'listasPropensos'%}" class="text-white">
                                    <h5>Listas de Propensos</h5>
                                    <p style="font-size: 13px;">Consórcio Auto, Consórcio Imóvel, Cheque especial &
                                        conta garantida. </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Listas de Propensos -------------->

            <!--- Lista de Pronampe ---------------->
            <div class="col-2 mt-3">

                <div class="team-style1 text-center" style="width: 200px; height: 200px;">

                    <img src="{% static 'ccis/pronampe.png' %}" alt="...">

                    <div class="team-info">
                        <h3 style="color: #27DEBF;" class="mb-1 h4">Lista de Pronampe</h3>
                        <span class="font-weight-600 text-secondary">Gestão de Negócios</span>
                    </div>

                    <div class="team-overlay">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <a style="text-decoration: none;" href="{%url 'pronampe'%}" class="text-white">
                                    <h5>Lista de Pronampe</h5>
                                    <p style="font-size: 13px;">Universo de Limite por PA, Produtos adquiridos pelo
                                        cooperado e a serem ofertados</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Lista de Pronampe ---------------->

        </div>

    </div>
    <!--- Botões ----------------------------------->

</div>
<!-- Conteúdo -------------------------------------->

{% endblock %}