{% extends 'ccis/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container-fluid scrollable-content ps-0 pe-0">

    <!-- Conteúdo -------------------------------->

        <iframe title="Processos Seletivos - Avaliações" width="100%" height="99%"
            src="https://app.powerbi.com/view?r=eyJrIjoiNjhhODg5NzAtOGViNi00MjgyLWJlMzItYWYxZjA4ODc3M2NjIiwidCI6ImVkY2M4NTk2LWJjNWUtNDgxNC1hZjMwLThkZDk5ODFhYTQxMiJ9"
            frameborder="0" allowFullScreen="true">
        </iframe>

    <!-- Conteúdo -------------------------------->

</div>

{% endblock %}
