.body-background{
    background-color:#F9FAFD;
}

.sub-nav-background {
    background-color:white;
    height:65px;
    box-shadow: 0 0 10px 1px rgb(237,237,237);

}


/*--Menu Top -------------------------*/
.navbar-topp {
    background-color:#04343D;

}

.link-menu-top{
    font-family: Asap medium;
    color:#136863;
    text-decoration: none;
    padding:6px;
}


.link-menu-top:hover{
    color:#04343D;
    padding:6px;
    background-color:#048A7F;
    border-radius:25px;
    text-decoration: none;
}

.link-menu-top:active{
    color:#04343D;
    background-color:#136863;
}




/*----------------------------------------*/



/* Menu Recolhível -----------------------*/

.offcanvas {
    top: 0;
    width: 300px;
    right: 0;
    border:none;
    background-color:none;
}

.sidebar {
    position: fixed;
    padding:20px;
    height-max:0px;
    top: 0;
    background-color:#333;
    box-shadow: -3px 0px 10px rgba(51, 51, 51, 0.5);
    text-align: left;
}

.sidebar ul.menu-elements {
    padding: 10px 0;

}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: black;
    text-decoration: none;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #155;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul ul a {
    background: #155;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul li a:active{
    background:#04343D;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #444;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}


.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}

/*----------------------------------------*/





/*--Menu Lateral -------------------------*/
.menu-lateral{
    padding:20px 0px 0px 20px;
    margin: 0x 20px 0 0
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(235,235,235);
    font-family: Asap;
    background-color:white;
    box-shadow: 0 0 10px 1px rgb(237,237,237);
    height:87vh
}

.paragrafo-style{
    text-aline:center;
    font-family:asap medium;
    color:#04343D;
    padding-left:25px;

}


.ul-lista{
    list-style-type: none;
    padding:0;
}

.li-lista{
    vertical-align: middle;
    padding:10px;
}


.li-link{
    text-decoration: none;
    color:#04343D;
    padding-left:20px;
    box-sizing: border-box;
    display: block;
    transition: all .3s;
}


.li-lista:hover{
    background-color:#f5f5f5;
    color:#04343D;
    border-radius: 20px;
}

.li-link:hover{
    color:#04343D;
}

.li-link:active{
    color:#c8c8c8;
}


/*--------------------------------------*/






/*---- Perfil ------------------------*/

.card-config{
    padding:0px;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(235,235,235);
    font-family: Asap;
    background-color:white;
    box-shadow: 0 0 10px 1px rgb(237,237,237);
}


.card-header-config{
    font-family: Asap medium;
    color:#4D4D4D;
    margin:17px;
    background-color:white;
    border-color: rgb(185,185,185);
}


.card-body-config{
    font-family: Segoe UI;
    font-size: 13px;
    color:#888888;
    margin:17px;
    background-color:white;
}


.align-colum{
    text-align: center!important;
    display: flex;

}


.button-canvas {
    position: absolute;
    bottom: 108px;
    right: 0;
    cursor: pointer;
}


.canvas-label{
    display: flex;
    background-color: #fff;
    border: 0.25rem solid #fff;
    margin: -6.3rem auto 0.5rem auto;
}

.canvas-img{
    cursor: pointer;

}


.comp-text{
    font-family: Asap semibold;
    text-align: center!important;
    color:#B9B9B9
}


.nome-text{
    text-align: center!important;
    font-family: Asap semibold;
    color:#51504F
}

.status{
    display: inline-block;
    width:0.5rem;
    height:0.5rem;
    background-color:#55CB69;
    border-radius:50%;"
}

status-negativo{
    display: inline-block;
    width:0.5rem;
    height:0.5rem;
    background-color:rgb(255,90,90);
    border-radius:50%;"
}

.text-status{
    font-size:14px;
    text-align: center!important;
    font-family: Segoe UI;
    color:#B9B9B9
}


.avatar-label{
    display: flex;
    background-color: #fff;
    border: 0.25rem solid #fff;
    margin: -6.3rem auto 0.5rem auto;
    border-radius:50%;
}

.avatar-profile {
    opacity: 0;
    position: absolute;
    z-index: -1;
    cursor: pointer;

}

.flow{
    height:78vh;
}

.avatar-img{
    border:1px solid;
    border-radius:50%;
    border-color:white;
}

.link {
    font-family:Asap Semibold;
    text-decoration: none;
    color:#B7B7B7;

}


.timeline {
  position: relative;
  width: 10px;
  height: 300px;
  background-color: #ccc;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.timeline-item {
  position: absolute;
  top: 0;
  left: -2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
}

.timeline-progress {
  position: absolute;
  top: 0;
  left: 2;
  width: 100%;
  background-color: #00bfff;
  z-index: -1;
}

.timeline-item:nth-child(1) {
  top: 0;
}

.timeline-item:nth-child(2) {
  top: 25%;
}

.timeline-item:nth-child(3) {
  top: 50%;
}

.timeline-item:nth-child(4) {
  top: 75%;
}

@keyframes timeline-progress {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.timeline-progress {
  animation: timeline-progress 5s linear;
}

/*---------------------------------------*/






/*---- Usuário --------------------------*/
.link-card{
    text-decoration: none;
}

.span-label-positivo{
    background-color:#E5F9F6;
    padding:2%;
    border:1px white solid;
    border-radius: 24% 24% 24% 25%;
}

.span-label-negativo{
    background-color:#FDEDF1;
    padding:2%;
    border:1px white solid;
    border-radius: 24% 24% 24% 25%;
}

.table-header{
    font-family: asap;
    font-size: 13px;
    color:rgb(200,200,200);
    margin:25px;
}


.table-td{
    vertical-align: middle;
}

.button-style {
    background-color:white;
    color:rgb(33,145,128);
    border-radius:5px;
    border:none;
    padding:5px;
}

.button-style:hover{
    background-color:rgb(33,145,128);
    color:white;
}

.button-style:active{
    background-color:#05443B;
}

.button-style-red{
    background-color:white;
    color:rgb(238,65,20);
    border-radius:5px;
    border:1px rgb(238,65,20) solid;
    padding:5px;
}

.button-style-red:hover{
    background-color:rgb(238,65,20) ;
    color:white;
}

.button-style-red:active{
    background-color:rgb(180,53,20);
}


/*----------------------------------------*/
