
/*-- Font -----------------------------------*/
@font-face {
    font-family:'asap';
    src: url('./fonts/Asap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'asap bold';
    src: url('./fonts/Asap-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'asap semibold';
    src: url('./fonts/Asap-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'pacifico';
    src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe';
    src: url('./fonts/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('./fonts/Oswald.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
/*-- Font -----------------------------------*/


body {
    font-family: asap, Arial, sans-serif;
}


/*--Scroll bar ------------------------------*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);

}
/*--Scroll bar ------------------------------*/



/*-- infoNavbar -----------------------------*/
.infoTopBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:25px;
    background-color:#C7D300;
    color: #ffffff;
    z-index:101;
    font-size:13px;

}

/*-- infoNavbar -----------------------------*/



/*-- Configuração Base ----------------------*/
.menu-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:white;
    box-shadow: 0px -5px 20px #707070;
    z-index: 100;
}


.scrollable-content {
    padding-top:65px;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}


.nav-photo{
    border-radius:50%;
    cursor:pointer;
    width:36px;
    height:36px;
}


.nav-text{
    font-family:asap;
    font-size:12px;
    color:black;
    padding:5px;
}


.media-pill {
    position: relative;
    padding: 2px 4px 2px 2px;
    background-color: rgba(31,45,61,.15);
    border-radius: 50rem;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}


.align-horizontal-center{
    display: flex;
    flex-direction: row;
    align-items: center!important;
    text-decoration:none;
}



.name-bnt {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.5s;
    padding: 5px;
}

.name-bnt:hover {
    background-color: #E9ECEF;
    color: black;
}


.notification-badge {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background-color: red;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }


/*---- Base ---------------------------------*/




/*---- login --------------------------------*/

.link-login{
    text-decoration: none!important;
    color:#8A8A8A;
}

.link-login:hover{
    color:white;
}

/*---- login --------------------------------*/





/*---- Usuário ------------------------------*/
.link-card{
    text-decoration: none;
}

.span-label-positivo{
    background-color:#E5F9F6;
    padding:2%;
    border:1px white solid;
    border-radius: 24% 24% 24% 25%;
}

.span-label-negativo{
    background-color:#FDEDF1;
    padding:2%;
    border:1px white solid;
    border-radius: 24% 24% 24% 25%;
}

.table-header{
    font-family:asap;
    font-size: 13px;
    color:black;
    margin:25px;
}


.table-td{
    vertical-align: middle;

}


.button-style {
    background-color:white;
    color:rgb(33,145,128);
    border-radius:5px;
    border:none;
    padding:5px;
}


.button-style:hover{
    background-color:rgb(33,145,128);
    color:white;
}


.button-style:active{
    background-color:#05443B;
}


.link-button{
    padding:10px;
    font-family: asap;
    background-color:#4FD1B8;
    color:#ffffff;
    border-radius: 20px;
    transition: all .5s;
    box-shadow: 0px 3px 10px #C6C6C6;
    border:none;
}


.link-button:hover{
    background-color:#16B597;
    color:#ffffff;
    border-radius: 20px;
}


.link-button:active{
    color:#37474F;
    background-color:#068E74;
}


.button-confirm{
    padding:5px 15px 5px 15px;
    font-family: asap;
    background-color:#37474F;
    color:white;
    border-radius: 20px;
    transition: all .5s;
    border:none;
}


.button-confirm:hover{
    background-color:#00353E;
    color:white;
    border-radius: 20px;
}


.button-confirm:active{
    color:white;
    background-color:#27DEBF;
}


.button-cancel{
    padding:5px 15px 5px 15px;
    font-family: asap;
    background-color:#A8B7BE;
    color:white;
    border-radius: 20px;
    transition: all .5s;
    border:none;
}


.button-cancel:hover{
    background-color:#455A64;
    color:white;
    border-radius: 20px;
}


.button-cancel:active{
    color:white;
    background-color:#494D4E;
}


.avatar-img{
    border-radius:50%;
}


.card-config{
    padding:0px;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(235,235,235);
    font-family: asap;
    background-color:white;
    box-shadow: 0 0 10px 1px rgb(237,237,237);
}


.card-header-config{
    font-family:asap semibold;
    color:#4D4D4D;
    margin:17px;
    background-color:white;
    border-color: rgb(185,185,185);
}


.card-body-config{
    font-family: segoe;
    font-size: 13px;
    color:#888888;
    margin:17px;
    background-color:white;
}


/*-------------------------------------------*/







/*--Novo Menu Lateral -----------------------*/
#menu_lateral {
  padding-top: 55px;
  height: 100vh;
  width: 60px; /* Largura inicial do menu recolhido */
  position: fixed;
  left: 0;
  top: 0;
  background-color: #4FD1B8;
  transition: width 0.5s;
  overflow: hidden;
}

#menu_lateral.active {
  width: 200px; /* Largura expandida do menu ao ser aberto */
}

#menu_lateral ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#menu_lateral li {
  font-size: 18px;
  display: block;
  white-space: nowrap;
  border-bottom: 1px #f9f9f9 solid;
}

#menu_lateral a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha à esquerda */
  transition: height 0.5s;
}

#menu_lateral a i {
  display: block;
  padding: 18px;
}

#menu_lateral li:hover {
  background: #219180;
}

#menu_lateral:not(.active) a small {
  display: none;
}

#menu_lateral.active a small {
  display: block;
  margin-left:;
}

#toggleMenu {
  border: none;
  border-bottom: 1px solid #f9f9f9;
  width: 100%;
  padding: 10px;
  display: block;
  background-color: #219180;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  transition: background-color 0.5s;
  justify-content: center;
}

#toggleMenu:hover {
  background-color: #1B796A;
}


/*-------------------------------------------*/






/*-- New Profile ----------------------------*/
.profile-img {
    position:fixed;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    z-index: -1;
}


.profile-user{
    margin-top:30px;
    width: 165px;
    height: 180px;
    border-radius:10px;
}


.status{
    display: inline-block;
    width:0.5rem;
    height:0.5rem;
    background-color:#55CB69;
    border-radius:50%;
}

status-negativo{
    display: inline-block;
    width:0.5rem;
    height:0.5rem;
    background-color:rgb(255,90,90);
    border-radius:50%;
}


.profile-info {
    padding:20px 15px 15px 15px;
    text-align: center;
    align-items: center!important;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
}


.profile-name{
    font-family: segoe;
    font-size:22px;
    color: black;
}

.profile-cargo{
    font-family: segoe;
    font-size:14px;
    color:white;
    background-color:#4FD1B8;
    border-radius:10px;
    padding: 0 5px;
}


.profile-progress{
    position: relative;
    padding:25px;
    text-align: center;
    align-items: center!important;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    display: flex;
    text-align: left;
}


.progress-percent {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px;
  padding: 0 5px;
  color: black;
}

.custom-progress-bar {
    background-color: #27DEBF !important;
}

.progress-title{
    color: black;
    font-size: 16px;
}


.image-list img {
    width: 35px;
    height: 35px;
    margin: 0 0px 0 25px;
    border-radius:4px;

}


.overflow-row {
  overflow-x: auto;
  white-space: nowrap;
}


.card-esc{
    width:auto;
    height:400px;
    border-radius: 10px;
    border-color: rgb(235,235,235);
    background-color:#F2F1EE;

}

.card-cert{
    width: 16rem;
    border-radius: 10px;
    border-color: rgb(235,235,235);
    background-color:#F2F1EE;

}


.profile-button-user {
    position: absolute;
    width:50px;
    height:35px;
    top:95px;
    right:90px;
    font-family:segoe;
    padding:8px;
    background-color:#4FD1B8;
    color:#ffffff;
    border-radius: 10px 0px 0px 10px;
    transition: all .5s;
    box-shadow: 0px 3px 10px #C6C6C6;
    border:none;
    z-index:2;
}


.profile-button-user:hover{
    background-color:#16B597;
    color:#ffffff;

}


.profile-button-user:active{
    color:#37474F;
    background-color:#068E74;
}


.profile-button-cert {
    position: absolute;
    width:50px;
    height:35px;
    top:95px;
    right:35px;
    padding:8px;
    background-color:#4FD1B8;
    color:#ffffff;
    border-radius: 0px 10px 10px 0px;
    transition: all .5s;
    box-shadow: 0px 3px 10px #C6C6C6;
    border:none;
    z-index:2;
}

.profile-button-edit {
    position: absolute;
    width:105px;
    height:35px;
    top: 135px;
    right:35px;
    padding:8px;
    background-color:#ffffff;
    opacity: 0.7;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #C6C6C6;
    transition: all .5s;
    border:none;
    z-index:2;
}


.profile-button-cert:hover{
    background-color:#16B597;
}

.profile-button-edit:hover{
    background-color:gray;
}


.status-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
  }

.custom-profile-button {
    text-align: left !important;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    position: relative;
}

.custom-profile-button:hover {
    background-color: #F0F0F0;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-profile-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}





.nav-photo-edit {
    position: relative;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

/*-- New Profile ----------------------------*/







/*-- Button ---------------------------------*/
.profile-button {
    position: absolute;
    top:85px;
    right:52px;
    font-family:segoe;
    padding:8px;
    background-color:#4FD1B8;
    color:#ffffff;
    border-radius: 10px;
    transition: all .5s;
    box-shadow: 0px 3px 10px #C6C6C6;
    border:none;
    z-index:2;
}


.profile-button:hover{
    background-color:#16B597;
    color:#ffffff;
    border-radius: 20px;
}


.profile-button:active{
    color:#37474F;
    background-color:#068E74;
}
/*-- Button ---------------------------------*/







/*-- Card -----------------------------------*/
.card-header-custom{
    padding:15px;
    font-family: segoe;
    font-size:18px;
    color:black;
}


.card-text-custom{
    font-family: Segoe UI;
    font-size:13px;
    color: #CFCFCF;
    margin:5px 0;
}


.card-custom{
    padding: 0px!important;
    margin:10px 10px 15px 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(235,235,235);
    background-color:white;

}


.linha-custom{
  border: none;
  border-top: 1px solid #ccc;
  margin: 0px 0;
}


.card-body-custom{
    padding:15px;
}


.card-ul{
    list-style-type: none;
    margin:0;
    padding:0;
}


.card-li{
    text-decoration: none;
    padding:0px 0px 0px 0px;
    box-sizing: border-box;
    display: block;
    font-family: segoe;
    font-size:15px;
    transition: all .5s;
    margin:10px 0;
}


.card-icon{
     color: #DFDFDF;
}


/*-- Card -----------------------------------*/







/*-- primeiro login ------------------------*/
.menu-new-login{
    top: 0;
    left: 0;
    width: 100%;
    background-color:white;
    box-shadow: 0px -5px 20px #707070;
    padding:0px;
}


.primeiro-button {
    font-family:segoe;
    padding:8px;
    background-color:#4FD1B8;
    color:#ffffff;
    border-radius: 20px;
    transition: all .5s;
    box-shadow: 0px 3px 10px #C6C6C6;
    border:none;
}


.primeiro-button:hover{
    background-color:#16B597;
    color:#ffffff;
    border-radius: 20px;
}


.primeiro-button:active{
    color:#37474F;
    background-color:#068E74;
}


/*-- primeiro login -------------------------*/



/*-- Home -----------------------------------*/

.navbar-topp{
    background-color:white;
    color: #0A3C5F;
}

.top-buttons{

    list-style:none;

    display: flex;
    padding-left: 4px;

}


.top-buttons li {
    text-decoration:none!important;
    padding-right: 40px;

}


.top-buttons a {
    text-decoration:none!important;
    color: #0A3C5F;
}


.login-button {
    text-decoration:none;
    padding:3px 15px 6px 15px;
    background-color:#00A194;
    color:#ffffff!important;
    border-radius: 15px;
    transition: all .5s;
    border:none;
}


.login-button:hover{
    background-color:#16B597;
    color:#ffffff;
}


.login-button:active{
    color:#37474F;
    background-color:#068E74;
}


.font-sicoob {
    font-family:asap!important;
    color: #0A3C5F!important;
}


.learn-more{
    text-decoration:none!important;
    color: #ffffff;
    background-color:#18898D;
    padding:8px 20px 8px 20px;
    border-radius:30px;
    transition: all .5s;
    border:none;
}

.learn-more:hover{
    color: #ffffff;
    background-color:#16B597;
}


/*-- Home -----------------------------------*/



/*-- Departamentos --------------------------*/
.icon-dep{
    position:absolute;
    top:-20px;
    left:40px;
    width:40px;
    height:40px;
    color:white;
    text-align:center;
    border-radius:7px;
    font-family:Oswald;
    padding-top:7px;

}



.links-dep{
    text-decoration:none;
    transition: all .2s;
    color:black;
}


.links-dep:hover{
    color:#ffffff;
}


.links-dep:active{
    color:#37474F;

}


.card-buttons{
    position:relative;
    width:auto;
    height:135px;
    padding: 10px;
    background-color:white;
    border-radius:10px;
    transition: all .1s;
}


.card-buttons:hover{
    background-color:#4FD1B8;

}


.card-buttons:active{
    background-color:#068E74;

}


/*-- Departamento ---------------------------*/



/*-- setor_home -----------------------------*/

.icon-set{
    position:absolute;
    top:-30px;
    left:60px;
    width:90px;
    height:90px;
    color:white;
    text-align:center;
    border-radius:10px;
    font-family:Oswald;
    font-size:50px;
    padding-top:5px;

}


.icon-button-set{
    position:absolute;
    top:-10px;
    right:7px;
    width:20px;
    height:20px;
    color:white;
    text-align:center;
    border-radius:50%;
    font-family:asap;
    font-size:12px;
    

}


.set-buttons{
    padding:30px 15px 15px 20px;
    border-radius:10px;
    transition: all .2s;
    text-align:left;
    width:165px;
}


.links-set{
    text-decoration:none;
    color:white;
}


.links-set:hover{
    color:#E6E6E6;
}


.links-set:active{
    color:#37474F;

}


.container-buttons{
    overflow-x: auto;
    white-space: nowrap;
}

.equipe-setor{
    text-align:left;
    border-left:1px solid #ccc;
    width:auto;
    height:35vh;
    overflow-x: auto;
    white-space: nowrap;

}

.info_setor_perform{
    display:flex;
    border: 1px #d9d9d9 solid;
    border-radius:10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    transition: height 0.3s;
    font-size:20px;

}


.info_setor_perform small {
    font-size: 12px;
    margin-top: 5px;
}

/*-- setor_home -----------------------------*/




/*-- home coopera ---------------------------*/
.logo-coopera{
    text-align: center;
    padding:50px;

}

.box-coopera{
    text-align: center;
    color:white;
    margin:20px;
    padding:10px 5px 5px 5px;
    border-radius:15px;

}




/*-- home coopera ---------------------------*/


/*-- back button ----------------------------*/
.back-button{
    position: absolute;
    font-size: 5vh;
    left: 100px;
    top: 50px;
}

.arrow-button{
    color: #D1D1D1;
}

.arrow-button:hover{
    color: #068E74;
}
/*-- back button ----------------------------*/



/*-- new_request ----------------------------*/
.menu-request{
    height: 88vh;
    overflow-y: auto;
    background-color:white;
    border-radius:10px;
    margin-right:12px;
    padding:25px;
}


.ul-menu-request{
    list-style-type: none;
    margin:0;
    padding:0;
}


.li-menu-request{
    vertical-align: middle;
    padding:2px;
}


.li-link-request{
    text-decoration: none;
    padding:12px 10px 12px 20px;
    display: block;
    font-family:asap;
    transition: all .5s;
    color:#37474F;
    background-color:#F1F1F1;
    border:none

}


.li-link-request:hover{
    background-color:#00353E;
    color:#ffffff;
}


.li-link-request:active{
    color:#ffffff;
    background-color:#16B597;
}


.button-request{
    transition: all .5s;
    display:block;
    padding:10px 100px;
    border:none;
}


.button-request:hover{
    background-color:#00353E;
    color:#ffffff;
}
/*-- new_request ----------------------------*/



/*-- solicit ----------------------------*/
.ul-novo-solicit{
    list-style-type: none;
    padding: 0px;
}
.li-novo-solicit{
    background-color: white;
    border: 1px white solid;
    padding: 0px 10px;
    font-family: asap;
    text-align: center;
}
.li-novo-solicit:hover{
    border: 1px gray solid;
    border-radius: 20px;
    padding: 0px 10px;
}

.link-solicit{
    text-decoration: none;
    color: black;
    font-size: 11px;
}


.link-solicit:hover{
    color: black;
}


/*-- solicit ----------------------------*/



/*-- processos ----------------------------*/
.foto_card {
    border-radius:50%;
    cursor:pointer;
    width:30px;
    height:30px;
}


.processo-cabecalho{
    padding:5px;
    font-family:asap;
}


.processo-colum{
    border:1px solid #f3f3f3;
    background-color:white;
    height: 72vh;
}


.processo-card{
    background-color:#f6f6f6;
    border-radius:10px;
    padding:7px;
}


.processo-card:hover{
    color:black;
    background-color:#f0f0f0;
    border-radius:10px;
}


.processo-tag-setor{
    font-size:10px;
    background-color:#4FD1B8;
    color:white;
    padding: 3px 7px;
    border-radius:10px;
}


.processo-tag-cod{
    font-size:10px;
    background-color:#A1620D;
    color:white;
    padding: 3px 7px;
    border-radius:10px;
}



.processo-tag-cor{
    font-size:15px;
    background-color:#f6f6f6;
    padding: 3px 7px;
    border-radius:10px;

}


.processo-tag-cor:hover{
    transition: all .5s;
    background-color:#d9d9d9;
}



.processo-tag-historico{
    font-size:10px;
    background-color:#d9d9d9;
    color:black;
    padding: 3px 7px;
    border-radius:10px;
}


.processo-tag-historico-active{
    font-size:10px;
    background-color:#FF5019;
    color:white;
    padding: 3px 7px;
    border-radius:10px;
}


.processo-link{
    text-decoration:none;
    color:black;
}


.modal-processo-link{
    text-decoration: none;
    padding:7px 10px;
    display: block;
    font-family:asap;
    transition: all .3s;
    color:#37474F;
    background-color:#F1F1F1;
    border:none

}

.modal-processo-link.btn-done{
    text-align:center;
    border-radius:30px;
}

.modal-processo-link.btn-finish{
    text-align:center;
    border-radius:30px;
}



.modal-processo-link:hover{
    background-color:#16B597;
    color:#ffffff;
}


.modal-processo-link.btn-done:hover{
    background-color:#4FD16E;
    text-align:center;
    border-radius:30px;
    color:#ffffff;
}


.modal-processo-link.btn-finish:hover{
    background-color:red;
    color:#ffffff;
}

.modal-processo-link.btn-finish:active{
    background-color:#C00505;
    color:#ffffff;
}


.modal-processo-link:active{
    color:#ffffff;
    background-color:#147A67;
}


.star-link{
    text-decoration:none;
    color:#d9d9d9;
}


.star-link:hover{
    text-decoration:none;
    color:#FFC803;
}


.filled-star {
    color:#FFC803;
}

.messages-container{
    background-color:white;
}


.message-item{
    background-color:#d9d9d9;
    margin-top:10px;
}


.quantidadeNumber{
    padding:3px;
    border-radius:50%;
}


/*------------------------------------*/
.kanban-container {
      position: fixed;
      width: 100%; /* Ocupa 100% da largura do contêiner pai */
      height: 100vh; /* Ocupa 100% da altura da viewport (tela) */
      margin-top: 0px;
      background-image: url('{% static "backgroundPro.png" %}');
      background-size: cover;
      background-position: center;
      z-index: -1;
    }


.btn-menu-settings{
    color:#333;
    background-color:white !important;
    border:none;
    border-radius:5px;
    padding:8px;
    text-decoration:none;
}


.btn-menu-settings:hover {
    color:#fff;
    background-color:#4FD1B8!important;
    transition: all .5s;
}


.drop-menu-settings{
    color:#333;
    background-color:white !important;
    padding:8px!important;
    border:none;
    border-radius:5px;
}


.text-menu-settings{
    color:#219180;
    margin-left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.equipe-menu-settings{
    border-bottom: 1px solid;
    border-color: rgb(235,235,235);
    display: block;
}


.search-menu-settings{
    padding:8px;
      display: block;
      border: none;
      border-radius: 5px;
}


.search-icon {
    position: absolute;
    right: 10px;
    top: 30%;
    color: #333;
}


.kanban-title {
    color:#fff;
    font-family: 'asap';
    background-color:#4FD1B8;
    padding:7px 15px;
    border-radius: 20px 20px 0px 0px;
}


.kanban-body {
    background-color: rgba(255, 255, 255, 0.7);
}


.kanban-footer {
    color:#333;
    font-family: 'asap';
    background-color: rgba(255, 255, 255, 0.7);
    padding:7px 8px;
    border-radius: 0px 0px 20px 20px;
}


.kanban-btn {
    color:#333;
    text-decoration:none;
    display:flex;
    padding:6px 12px;
    background-color:#F2F3F3;
    border-radius:20px;
}


.kanban-btn:hover {
    color:#333;
    background-color:#DCDDDD;
    transition: all .5s;
}


.kanban-card:{
    background-color:#f6f6f6;
    border-radius:10px;
    padding:7px;
}




/*-- processos ----------------------------*/







/*-- paineis bi ----------------------------*/
.paineis-bi{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 7%;
    background-color:white;
    z-index: 100;
}

/*-- Card Estoque --------------------------*/
.links-estoque{
    text-decoration:none;
    transition: all .2s;
    color:white;
}


.links-estoque:hover{
    color:#ffffff;
}


.links-estoque:active{
    color:#37474F;

}


.card-buttons-estoque{
    position:relative;
    width:auto;
    height:135px;
    padding: 10px;
    background-color: #0273EB;
    border-radius:10px;
    transition: all .1s;
}

.card-buttons-estoque2{
    position:relative;
    width:auto;
    height:135px;
    padding: 10px;
    background-color: #004E8C;
    border-radius:10px;
    transition: all .1s;
}


.card-buttons-estoque:hover{
    background-color:#4FD1B8;

}

.card-buttons-estoque2:hover{
    background-color:#4FD1B8;

}


.card-buttons-estoque:active{
    background-color:#068E74;

}

.card-buttons-estoque2:active{
    background-color:#068E74;

}

.row-text-estoque{
    align-items: center;
}

.border-text-estoque{
   border-left: 1px solid rgba(255, 255, 255, 0.322);
}

.card-graph{
    position:relative;
    width:auto;
    height:175px;
    border-radius: 5px;
    background-color: white;
    transition: all .1s;
}

.p-estoque{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
}

.titulo-estoque{
    color: #004E8C;
    font-family: 'asap semibold';
    font-weight: normal;
    font-size: 14px;
    
}

.back-button-estoque{
    position: relative;
    font-size: 3vh;
}

.arrow-button{
    color: #004E8C;
}

.arrow-button:hover{
    color: #068E74;

}

/*-- Notebook --------------------------*/
.tabela-estoque-wrapper {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.required-label::after {
    content: "*";
    color: red;
    margin-left: 4px;
}

/*-- Notebook --------------------------*/



/*-- new_request_retaguarda ------------*/

.item-selecionado {
    background-color: #3498db;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
}

.input-new {
  width: 100%; /* Altere o tamanho conforme necessário */
  padding: 7px; /* Reduzi um pouco o padding para deixar mais estreito */
  border: 1px solid #ccc; /* cinza para a borda */
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Mantém o tamanho total incluindo padding e borda */
}

.input-new:focus {
  outline: none;
  border-color: #66afe9; /* Altere a cor quando estiver focado, se desejar */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra quando focado */
}


.new-desc {
  width: 100%;
  height: 175px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  white-space: pre-wrap;
}

.new-desc-extra {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  white-space: pre-wrap;
}

.new-desc-extra:focus {
  border-color: #007bff; /* Cor da borda quando focado */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra quando focado */
}

.new-desc:focus {
  border-color: #007bff; /* Cor da borda quando focado */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra quando focado */
}

/*-- new_request_retaguarda ------------*/

/*-- Mais Negócios --------------------*/

.meu-botao {
    display: inline-block;
    white-space: nowrap;
    padding:10px;
    width: 100%;
    display: flex; /* Usa flexbox para alinhar conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 16px;
    color: #fff;
    background-color: #27DEBF;
    border: 2px solid transparent;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}


.meu-botao:hover {
    animation: pulse 1s ease infinite;
    color: black;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


.linha-vertical {
    border: none;
    border-left: 2px solid #000; /* Estilo da linha */
    height: 100px; /* Altura da linha vertical */
    margin: 0 20px; /* Espaçamento em relação a outros elementos */
}

/*-- Mais Negócios --------------------*/

#sidebar {
  height: 100vh;
  width: 70px; /* Largura inicial do menu recolhido */
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333;
  transition: all 0.3s;
}

#sidebar.active {
  width: 200px; /* Largura expandida do menu ao ser aberto */
}

#sidebar ul.components {
  padding: 8px 0;
}

#sidebar ul li {
  padding: 10px;
  font-size: 18px;
  display: block;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

#sidebar ul li:hover {
  background: #555;
}

#content {
  margin-left: 70px; /* Ajuste de margem para conteúdo principal */
  padding: 15px;
}


/*-- history request --------------------*/
.item-action {
    display: block;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: black;
}

.item-action:hover {
    background-color: #f0f0f0;
    color: #4FD1B8;
}


.item-action .mb-2,
.item-action .mb-4 {
    margin-bottom: 0;
}


.card-apontamento {
    background-color: red;
    /* Outros estilos específicos para esse tipo de card */
}